#header #content > ul > li:nth-child(3){border-bottom:5px solid #c0392b;}

#btnTutorialOk{position:absolute;bottom:20px;left:50%;width: 200px;margin-left: -100px;background-color: transparent;color: #fff;}

#container{}
#container #content{float:none;width:1140px}

#container #content #arenaAd {width:800px;height:322px;margin-left:10px;float:left;}
#container #content #arenaAd .carousel-inner {width:800px;height:322px;}
#container #content #arenaAd .carousel-inner img{min-width:100%;min-height:100%;}
#container #content #arenaAdNavi {height:322px;margin-top: 10px;margin-right: 20px;}
#container #content #arenaAdNavi li {height:107px;overflow:hidden;cursor:pointer;background-size:100%;background-position:50% 50%;}
#container #content #arenaAdNavi li:last-child{height:108px;}

#container #content .line{position:relative;width:auto;margin:30px 30px;}
#container #content .line .p_line_title{font-size:20px}
#container #content .line .card_line{position:relative;width:100%;display: inline-block;margin-bottom:35px;}
#container #content .line .card_line .div_card{float:left;position:relative;width:250px;height:400px;text-align:center;border:1px solid RGBA(39,174,96,0.4);border-radius: 5px;display: block;}
#container #content .line .card_line .div_card .div_card_poster{position:relative;width:100%;height:180px;background-color:#000}
#container #content .line .card_line .div_card .div_card_poster{background-position:50% 50%;background-size:cover}
#container #content .line .card_line .div_card .p_card_title{margin-top: 40px;font-size:15px;font-weight:700}
#container #content .line .card_line .div_card .p_card_game{margin-top: 10px;font-size: 14px;padding:0 20px}
#container #content .line .card_line .div_card .p_card_cocept{margin-top:5px;font-size:12px;padding:0 20px}
#container #content .line .card_line .div_card .p_card_level{position:absolute;width:90%;bottom:92px;left:5%;color:#fff}
#container #content .line .card_line .div_card .p_card_level li{float:left;width:20%;height:25px;font-size:8px;text-align:center;line-height:25px;filter:alpha(opacity=30);opacity:.3}
#container #content .line .card_line .div_card .p_card_level li:nth-child(1){background-color:#2980b9}
#container #content .line .card_line .div_card .p_card_level li:nth-child(2){background-color:#27ae60}
#container #content .line .card_line .div_card .p_card_level li:nth-child(3){background-color:#f1c40f}
#container #content .line .card_line .div_card .p_card_level li:nth-child(4){background-color:#e67e22}
#container #content .line .card_line .div_card .p_card_level li:nth-child(5){background-color:#e74c3c}
#container #content .line .card_line .div_card .div_card_bottom{position:absolute;width:100%;bottom:0;left:0;height:80px;background-color:#ededed;text-align:center}
#container #content .line .card_line .div_card .div_card_bottom .div_bottom_btn{position:relative;float:left;width:33.333%;height:100%;padding:10px 0;color:#747474;text-align:center}
#container #content .line .card_line .div_card .div_card_bottom p{font-size:14px;font-weight:700;line-height:45px}
#container #content .line .card_line .div_card .div_card_bottom p .font_btn_main{font-size:150%}

#container #content .line .card_line .div_card .div_card_mouseover{position:absolute;width:250px;height:400px;top:0;left:0;background-color:RGBA(255,255,255,0.95);display:none;z-index:1}
#container #content .line .card_line .div_card .div_card_mouseover .cal{margin-top:0px}
#container #content .line .card_line .div_card .div_card_mouseover .div_card_award{margin-top:10px;margin-left:15px;text-align:left}
#container #content .line .card_line .div_card .div_card_mouseover .div_card_award li{margin-top:5px;font-size:15px;font-weight:bold;line-height:40px}
#container #content .line .card_line .div_card .div_card_mouseover .div_card_award li img{float:left}
#container #content .line .card_line .div_card .div_card_mouseover .div_card_award li p{text-align:center;font-size:15px;margin-right:55px}
#container #content .line .card_line .div_card .div_card_mouseover .btnjoin{position:absolute;width:90%;height:50px;bottom:4%;left:4%;border:1px solid #2ecc71;color:#2ecc71;}
#container #content .line .card_line .div_card .div_card_mouseover .btnjoin:hover{color:#FFF;background-color:#2ecc71};