/* Common */
html,body{width:100%;height:100%}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table,p,h1,h2,h3,h4,h5,h6{font-family:"나눔고딕","맑은 고딕", Tahoma, "Keep Calm",'돋움',Dotum,AppleGothic,sans-serif; font-size:12px;}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}

/* Layout */
.imgbtn{cursor:pointer}
.modal {overflow:hidden;}
.tooltip.in {opacity: 1;filter: alpha(opacity=100);}
.tooltip .tooltip-inner{max-width:none;max-height:none;}

#wrap{position:relative;width:100%;height:100%;min-width:1140px;min-height:700px;margin:0 auto}

#container{position:relative;width:1140px;hight:100%;left:50%;margin-left:-570px;padding-top:95px;z-index:0}
#container:after{display:block;clear:both;content:''}

/* You must delete below style */
#wrap{display:table;background-color:#000;background-image:url(/static/img/battle_body_bg.png);background-repeat:no-repeat;background-position:center bottom;}

#container{display:table-row;background-image:url(/static/img/battle_team_bg.png);background-repeat:no-repeat;background-position:center top;}
#container #content{position:relative;width:1100px;left:50%;margin-left:-550px}
#container #content #div_con_title{position:absolute;width:950px;height:193px;left:50%;margin-left:-475px;
	background-image:url(/static/img/battle_team_title.png);background-repeat:no-repeat;background-position:center top;z-index:2}
#container #content #div_con_title H1{text-align:center;color:#fff;font-size:25px;line-height:72px;}
#container #content #div_con_title .arc-wrapper{width:100%;text-align:center}
#container #content #div_con_title .main h4{margin-top: 78px;font-size: 15px;color:#fff;font-weight:bold}
#container #content #div_con_title .team_win {position:absolute;color:#fff;font-size: 50px;left: 50%;font-weight: bold;}
#container #content #div_con_title #team_win_a{margin-left: -170px;}
#container #content #div_con_title #team_win_b{margin-left: 140px;}
#container #content #img_team_table{position:absolute;top:85px;z-index:1}
#container #content .img_ready{position:absolute;top:85px;left:0;z-index:100;display:none}
#container #content .div_con_team{position:absolute;top:85px;width:352px;height:550px;z-index:2}
#container #content .div_con_team H1{font-size:20px;font-weight:bold;color:#fff;margin-top:57px;line-height:57px;text-align:center}
#container #content .div_con_team .h3{text-align:center;height:75px;padding:10px;}
#container #content .div_con_team .h3 span{font-size:18px;font-weight:bold;color:#fff;line-height:30px;}
#container #content .div_con_team .h3 span font{font-size:13px;color:#fff;line-height:12px}
#container #content .div_con_team span{font-size:12px;font-weight:bold;color:#fff;text-align:right;line-height:12px}
#container #content #div_con_teama H1{transform:rotate(17.5deg);-ms-transform:rotate(17.5deg);-webkit-transform:rotate(17.5deg);}
#container #content #div_con_teamb H1{transform:rotate(-17.5deg);-ms-transform:rotate(-17.5deg);-webkit-transform:rotate(-17.5deg);}
#container #content #div_con_teama .h3{transform:rotate(17.5deg);-ms-transform:rotate(17.5deg);-webkit-transform:rotate(17.5deg);}
#container #content #div_con_teamb .h3{transform:rotate(-17.5deg);-ms-transform:rotate(-17.5deg);-webkit-transform:rotate(-17.5deg);}
#container #content #div_con_teama .img_team_icon{position:absolute;top:50%;left:10px;margin-top:-20px;width:40px;border-radius: 40px;}
#container #content #div_con_teama .img_team_conn{position:absolute;top:50%;right:10px;margin-top:-10px;width:15px;}
#container #content #div_con_teama .states_ready{position:absolute;top:50%;right:30px;margin-top:0px;width:15px;}
#container #content #div_con_teamb .img_team_icon{position:absolute;top:50%;right:10px;margin-top:-20px;width:40px;border-radius: 40px;transform: rotate(17.5deg);  -ms-transform: rotate(17.5deg);  -webkit-transform: rotate(17.5deg);}
#container #content #div_con_teamb .img_team_conn{position:absolute;top:50%;left:10px;margin-top:-10px;width:15px;}
#container #content #div_con_teamb{left:738px;}
#container #content #simpleMsg{position:absolute;top:300px;width:100%;text-align:center;color:#fff;font-size:18px;z-index:0;}

#Chatting {position:absolute;bottom:0;left:50%;width:400px;height:25%;margin-left:-200px;-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	padding-bottom:73px;background-color:#fff;z-index:1500}
#Chatting #title{width: 100%;background-color: #34495e;color: #fff;padding: 3px;padding-left: 10px;margin-bottom: 5px;}
#Chatting .div_chat{width:390px;height:100%;font-size:12px;line-height:20px;padding-top:10px;margin-left:5px;padding-left:10px;overflow-y:scroll;border: 1px solid #ddd;}
#Chatting .div_chat .myname{font-weight:900}
#Chatting .div_input{position:absolute;bottom:0;left:0;width:100%;height:40px;background-color:rgba(0,0,0,0.7)}
#Chatting .div_input #chatMsg{width:385px;height: 25px;border-radius: 5px;font-size: 12px;margin: 8px;border: 0;padding-left: 8px;}

.modal-dialog {padding-top: 200px;}
#state_1 .modal-dialog {width:360px;}
#state_1 .modal-dialog .modal-body H1{font-size:20px;font-weight:bold;line-height:40px;}
#state_1 .modal-dialog .modal-body p{font-size:13px;line-height:22px;}
#state_1 .modal-dialog .modal-body > ul > li:nth-child(3){margin-left:10px}
#state_1 .modal-dialog .modal-body > ul > li .panel{margin:5px;}
#state_1 .modal-dialog .modal-body > ul > li:last-child{text-align:right;padding-right:10px;margin-top:10px;}
#state_1 .modal-dialog .modal-body > ul > li:last-child p{font-size:13px;}
#state_1 .modal-dialog .modal-body > ul > li:last-child button{font-size:15px;}
#state_1 .modal-dialog .modal-body > ul > li #room {list-style:square;margin-left:10px;}
#state_1 .modal-dialog .modal-body > ul > li #room > li .form-control {display:inline;}
#state_1 .modal-dialog .modal-body > ul > li #room > li input{width:170px;height:25px;font-size:12px;padding-left:10px;background-color:#000;color:#fff;cursor:text;}
#state_1 .modal-dialog .modal-body > ul > li #room > li #roomtitle{margin-left: 24px;}
#state_1 .modal-dialog .modal-body > ul > li #room > li .form-group{margin-left:0px;margin-bottom:0}

#state_2 .modal-dialog {width:360px;}
#state_2 .modal-dialog .modal-body H1{font-size:20px;font-weight:bold;line-height:40px;letter-spacing: -2px;}
#state_2 .modal-dialog .modal-body p{font-size:13px;line-height:22px;}
#state_2 .modal-dialog .modal-body > ul > li:nth-child(3){margin: 5px 0;}
#state_2 .modal-dialog .modal-body > ul > li:nth-child(3) p{line-height: 18px}
#state_2 .modal-dialog .modal-body > ul > li .panel{position:relative;margin:5px;}
#state_2 .modal-dialog .modal-body > ul > li:last-child{text-align:right;padding-right:10px;margin-top:10px;}
#state_2 .modal-dialog .modal-body > ul > li:last-child p{font-size:13px;}
#state_2 .modal-dialog .modal-body > ul > li:last-child button{font-size:15px;}

#state_2 .modal-dialog .modal-body > ul > #li_team {display:flex}
#state_2 .modal-dialog .modal-body > ul > li #panel_team_a{position:relative;width:140px;float:left}
#state_2 .modal-dialog .modal-body > ul > li #panel_team_b{position:absolute;width:140px;left:48%;}
#state_2 .modal-dialog .modal-body > ul > li .panel_team_mem {list-style:square;font-size:12px;margin-left:10px}

#state_2 .modal-dialog .modal-body > ul > li #room {list-style:square;margin-left:10px;}
#state_2 .modal-dialog .modal-body > ul > li #room > li .form-control {display:inline;}
#state_2 .modal-dialog .modal-body > ul > li #room > li input{width:170px;height:25px;font-size:12px;padding-left:10px;background-color:#000;color:#fff;cursor:text;}
#state_2 .modal-dialog .modal-body > ul > li #room > li #roomtitle{margin-left: 24px;}
#state_2 .modal-dialog .modal-body > ul > li #room > li .form-group{margin-left:0px;margin-bottom:0}

#countdown {position:absolute;top:0;left:0;width:100%;height:100%;display:none;z-index:1000}
#countdown #p_text{color:#fff;font-size:200px;font-family:Arial}

#result {position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;display:none;z-index:900;min-width:1140px;min-height:700px;
		background-image:url(/static/img/battle_result_bg.png);background-repeat:no-repeat;background-position:center center;}
#result #title{position:absolute;width:800px;top:50%;left:50%;margin-top:170px;margin-left:-400px;color:#fff;font-size:60px;display:none;}
#result #subtitle{position:absolute;width:600px;top:50%;left:50%;margin-top:255px;margin-left:-300px;color:#fff;font-size:30px;display:none;}
#result #btn_group{position:absolute;width:1000px;top:50%;left:50%;margin-top:-125px;margin-left:-500px;}
#result #btn_group #result_win{cursor:pointer;margin:0 30px;border-radius:125px}
#result #btn_group #result_lose{cursor:pointer;margin:0 30px;border-radius:125px}

#lock {position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;display:none;z-index:1000;min-width:1140px;min-height:700px;
		background-color:RGBA(0,0,0,0.6);background-image:url(/static/img/battle_lock_bg.png);background-repeat:no-repeat;background-position:center center;}
#lock #title{position:absolute;width:800px;top:50%;left:50%;margin-top:-250px;margin-left:-400px;color:#fff;font-size:60px}
#lock #subtitle{position:absolute;width:600px;top:50%;left:50%;margin-top:-165px;margin-left:-300px;color:#fff;font-size:30px}
#lock #btn_lock_ready{position:absolute;width:250px;height:80px;top:50%;left:50%;margin-top:200px;margin-left:-125px;font-size:13px;display:none}
#lock #desc{position:absolute;width:600px;top:50%;left:50%;margin-top:130px;margin-left:-300px;color:#fff;font-size:18px}

#winner .modal-dialog .modal-body H1{font-size:20px;font-weight:bold;line-height:40px;}
#winner .modal-dialog .modal-body H3{font-size:15px;font-weight:bold;line-height:30px;}
#winner .modal-dialog .modal-body p{font-size:15px;line-height:30px;}
#winner .modal-dialog .modal-body > ul > li{text-align:center;}
#winner .modal-dialog .modal-body > ul > li:last-child{padding-right:10px;margin-top:20px;}
#winner .modal-dialog .modal-body > ul > li:last-child p{font-size:13px;}
#winner .modal-dialog .modal-body > ul > li:last-child button{width:150px;font-size:18px;}

#loser .modal-dialog .modal-body H1{font-size:20px;font-weight:bold;line-height:40px;}
#loser .modal-dialog .modal-body H3{font-size:15px;font-weight:bold;line-height:30px;}
#loser .modal-dialog .modal-body p{font-size:15px;line-height:30px;}
#loser .modal-dialog .modal-body > ul > li{text-align:center;}
#loser .modal-dialog .modal-body > ul > li:last-child{padding-right:10px;margin-top:20px;}
#loser .modal-dialog .modal-body > ul > li:last-child p{font-size:13px;}
#loser .modal-dialog .modal-body > ul > li:last-child button{font-size:18px;}

#settime .modal-dialog {width:880px}
#settime .modal-dialog {padding-top: 20px;}
#settime .modal-content{border:3px solid #f1c40f;overflow:hidden;}
#settime .modal-body{padding:0}
#settime .div_modal_mouseover{width:100%;height:100%;top:0;left:0;z-index:100;display:inline-block;}
#settime .div_modal_mouseover .div_modal_title{width:100%;height:70px;background-color:#f1c40f;color:#fff;font-size:25px;font-weight:bold;line-height:70px;padding-left:20px;}
#settime .div_modal_mouseover #div_modal_left{float:left;position:relative;width:auto;display:table-cell}
#settime .div_modal_mouseover #div_modal_left .div_left_time{margin:20px 0}
#settime .div_modal_mouseover #div_modal_left .div_left_time .div_time_name{float:left;width:157px;height:60px;margin-top:145px;margin-right:20px;line-height:60px;background-image:url("/static/img/arena_time_name.png");}
#settime .div_modal_mouseover #div_modal_left .div_left_time .div_time_name p{width:110px;text-align:center;margin-left:10px;font-size:23px;font-weight:bold;color:#8e7511}
#settime .div_modal_mouseover #div_modal_left .div_left_time .wheelcanvas{cursor:pointer;}
#settime .div_modal_mouseover #div_modal_right{float:right;position:relative;width:300px;height:100%;padding:10px;background-color:#f1f1f1}
#settime .div_modal_mouseover #div_modal_right .div_time_tag{position:relative;width:100%;height:auto;padding:10px 0;border-bottom:1px solid #e5e5e5}
#settime .div_modal_mouseover #div_modal_right .div_time_tag h1{position:relative;font-size:15px;margin-bottom:10px;font-weight:bold;color:#676767}
#settime .div_modal_mouseover #div_modal_right .wheelcanvas_tag{position:relative;display:inline-table;max-width:280px;padding:0 10px;}
#settime .div_modal_mouseover #div_modal_right .wheelcanvas_tag span{position:relative;float:left;margin:3px;}
#settime .div_modal_mouseover #div_modal_right #btndone{width:100%;margin:10px 0}

#settime .div_modal_done{position:absolute;width:100%;height:100%;top:0;left:0;text-align:center;display:none;z-index:100}
#settime .div_modal_done #ex{margin-top:50px;margin-bottom:20px;}
#settime .div_modal_done h1{font-size:20px;font-weight:bold;color:#e2b70c;margin-bottom:10px}
#settime .div_modal_done h3{font-size:15px;color:#666;line-height:30px;margin-bottom:20px}
#settime .div_modal_done #btn_done_arena{margin:5px;cursor:pointer;}
#settime .div_modal_done #btn_done_back{margin-right:10px;cursor:pointer;}
#settime .div_modal_done #btn_done_ok{cursor:pointer;}


.grayimg { filter: url(filters.svg#grayscale); /* Firefox */ filter: gray; /* IE */ -webkit-filter: grayscale(1); /* Webkit */ }