.div_globalfeed { background-color:#2c2c2c;cursor:pointer}
.div_globalfeed .div_box_img { width:100%; height: 140px }
.div_globalfeed .div_box_img img {display:none}
.div_globalfeed .div_box_user {position:absolute;bottom: 90px;right: 10px;line-height: 20px;background-color: #fff;font-size: 12px;padding-right: 5px;border-radius:10px}
.div_globalfeed .div_box_user img{height: 20px;margin-right:5px;border-radius:10px}
.div_globalfeed .div_box_con { position: absolute;bottom: 0;left: 0;width: 100%; height: 80px; background-color: #FFF; box-shadow: 1px -2px 10px RGBA(0,0,0,0.5); color: #000; padding: 15px; font-size: 13px; }
.div_globalfeed .div_box_con .p_con_title { font-family: "RixSGo B";font-size:13px;color:#000 }
.div_globalfeed .div_box_con .p_con_txt { font-size:12px;color:#666 }
.div_globalfeed .div_box_con .p_con_txt img {display:none}
.div_globalfeed .div_box_con .div_gra { position: absolute; bottom: 0px;left:0;width:100%; height: 30px; background: linear-gradient( to bottom, RGBA(255,255,255,0.0), white ); }

#GlobalFeedModal .modal-dialog {width:1000px;}
#GlobalFeedModal .modal-content {height:0px}
#GlobalFeedModal #div_globalfeed_body {height:100%}

#GlobalFeedModal #div_gf_left {width:660px;height:100%;overflow:hidden;overflow-y: scroll;float: left;}
#GlobalFeedModal #div_gf_left #div_left_src {width: 660px;height:200px;overflow:hidden}
#GlobalFeedModal #div_gf_left #div_left_title {width:660px;font-size: 20px;font-family: "RixSGo B";padding: 30px 60px;padding-bottom: 0;}
#GlobalFeedModal #div_gf_left #div_left_con {width:660px;font-size: 15px;padding: 10px 90px;line-height: 25px;}
#GlobalFeedModal #div_gf_left #div_left_con p {font-size: 15px;line-height: 25px;margin: 15px 0;text-indent: 10px;}
#GlobalFeedModal #div_gf_left #div_left_con em {font-family: "RixSGo B"}
#GlobalFeedModal #div_gf_left #div_left_con b {font-family: "RixSGo B"}
#GlobalFeedModal #div_gf_left #div_left_con img {max-width:100%;max-height:300px}

#GlobalFeedModal #div_gf_right {float:right;width: 314px;height: 100%;margin-right: 4px;overflow: hidden;overflow-y: scroll;}

#GlobalFeedModal #div_gf_right #div_right_author {height:80px}
#GlobalFeedModal #div_gf_right #div_right_author .img_author_icon {width: 50px;border-radius: 50px;border: 1px solid #ddd;margin: 15px;float: left;}
#GlobalFeedModal #div_gf_right #div_right_author .p_author_name {font-size: 14px;font-family: 'RixSGo B';padding-top: 20px;}
#GlobalFeedModal #div_gf_right #div_right_author .p_author_email {font-size:12px;color: #999;}

#GlobalFeedModal #div_gf_right #div_right_feedTitle{line-height: 45px;padding:0 10px;font-size: 15px;border-top:1px solid #dfe3eb;border-bottom:1px solid #dfe3eb;}
#GlobalFeedModal #div_gf_right #div_right_feedTitle #textarea_feedinput_input{font-size: 12px;}
#GlobalFeedModal #div_gf_right #div_right_feedTitle #div_feedInput_btn{text-align: right;padding: 3px 0;}
#GlobalFeedModal #div_gf_right #div_right_feed{width: 92%;overflow-y: auto;margin: 4%;}