.box { background-color:#2c2c2c;}
.box .div_box_img { width:100%; height: 140px }
.box .div_box_img img {display:none}
.box .div_box_user {position:absolute;bottom: 90px;right: 10px;line-height: 20px;background-color: #fff;font-size: 12px;padding-right: 5px;border-radius:10px}
.box .div_box_user img{height: 20px;margin-right:5px;border-radius:10px}
.box .div_box_con { position: absolute;bottom: 0;left: 0;width: 100%; height: 80px; background-color: #FFF; box-shadow: 1px -2px 10px RGBA(0,0,0,0.5); color: #000; padding: 15px; font-size: 13px; }
.box .div_box_con .p_con_title { font-family: "RixSGo B";font-size:13px;color:#000 }
.box .div_box_con .p_con_txt { font-size:12px;color:#666 }