.box { background-color:#2c2c2c;}
.box .div_box_img { width:100%; height: 140px }
.box .div_box_img img {display:none}
.box .div_box_con { position: absolute;bottom: 0;left: 0;width: 100%; height: 80px; background-color: #FFF; box-shadow: 1px -1px 10px RGBA(0,0,0,0.5); color: #000; padding: 10px; font-size: 13px; }
.box .div_box_con .p_con_title { font-family: "RixSGo B";font-size:13px }