/* Feed */
.div_feed{background-color:#FFF;margin:10px;border: 1px solid #e3e3e3;min-width:50px;min-height:50px;overflow:hidden}
.div_feed i{position: relative;top: 1px;font-size: 14px;}
.btn-smile{height:20px;padding:0 3px;font-size:9px;color:#FFF;background-color:#f1c40f;letter-spacing:1px}
.btn-smile-done{height:20px;padding:0 3px;font-size:9px;color:#f1c40f;border:1px solid #f1c40f;background-color:#FFF;letter-spacing:1px}
.btn-reply{height:20px;padding:0 3px;font-size:9px;color:#FFF;background-color:#5fcf80;letter-spacing:1px}
.btn-reply-done{height:20px;padding:0 3px;font-size:9px;color:#5fcf80;border:1px solid #5fcf80;background-color:#FFF;letter-spacing:1px}
.btn-share{height:20px;padding:0 3px;font-size:9px;color:#FFF;background-color:#2980b9;letter-spacing:1px}
.btn-share-done{height:20px;padding:0 3px;font-size:9px;color:#2980b9;border:1px solid #2980b9;background-color:#FFF;letter-spacing:1px}
.btn-more{height:20px;padding:0 3px;font-size:9px;color:#d2d2d2;background-color:#FFF;border:1px solid #d2d2d2}

.feed_news{height:120px}
.feed_news .div_feednews_link{float:left;position:relative;width:120px;height:100%;background-color:#000;margin-right:10px}
.feed_news h1{float:left;color:#3c3c3c;font-size:14px;font-weight:bold;margin-top:10px}
.feed_news .div_feednews_date{float:right;color:#b3b3b3;font-size:12px;margin:10px}
.feed_news h2{float:none;color:#7e7e7e;font-size:12px;font-weight:bold;margin-top:33px;margin-bottom:5px}
.feed_news li{color:5e5e5e;font-size:12px;margin-top:3px}

.feed_pri{min-height:100px;margin-top: 5px;margin-bottom:0px;}
.feed_pri .div_feedpri_icon{float:left;position:relative;width:50px;height:50px;margin: 5px;margin-right: 10px;}
.feed_pri .div_feedpri_icon img{width: 50px;border-radius: 50px;}
.feed_pri h1{float:left;color:#4d4d4d;font-size: 13px;font-weight:bold;margin-top:10px;margin-right:10px;line-height:14px}
.feed_pri .div_feedpri_date{color:#b3b3b3;font-size: 11px;margin-top: 12px;line-height:12px}
.feed_pri h2{float:none;color:#7e7e7e;font-size:12px;margin:10px;margin-left:60px;word-break:break-all}
.feed_pri .div_feedpri_brn{width:100%;text-align:right;padding:10px;letter-spacing:2px}

.feed_pri .div_feedpri_reply{width:100%;background-color:#eee;border-top:1px solid #ddd;padding: 5px;display:none}
.feed_pri .div_feedpri_reply .input_reply_replytxt{width:100%;height:25px;border-right:0;font-size:12px;float:left}
.feed_pri .div_feedpri_reply .btn_reply_replybtn{height:25px;font-size:12px;padding:0px 10px;margin:0px}
.feed_pri .div_feedpri_morebtn{width:100%;height:25px;margin-top:10px;line-height:25px;text-align:center;background-color:RGBA(0,0,0,0.03);cursor:pointer}

.feed_pri .div_feedpri_div{width:100%;height:100%}
.div_reply{border-bottom:1px solid RGBA(0,0,0,0.08)}
.reply_pri{margin-top:10px}
.reply_pri .div_replypri_icon{float:left;position:relative;width:30px;height:30px;margin-right:10px}
.reply_pri .div_replypri_icon img{width:30px}
.reply_pri h1{position:relative;float:left;color:#4d4d4d;font-size:12px;font-weight:bold;margin-top:0px;margin-right:10px;line-height:12px}
.reply_pri .div_replypri_date{position:relative;color:#b3b3b3;font-size:12px;margin:0;padding:0;line-height:12px}
.reply_pri h2{position:relative;float:none;color:#7e7e7e;font-size:12px;margin:0px;margin-top:5px;margin-left:40px;margin-bottom:10px;word-break:break-all}

.feed_pub{min-height:100px;margin-bottom:0px}
.feed_pub .div_feedpub_icon{float:left;position:relative;width:95px;height:95px;padding: 9px;margin-right:10px}
.feed_pub .div_feedpub_icon img{width: 80px;border-radius: 80px;}
.feed_pub h1{float:left;color:#4d4d4d;font-size: 13px;font-weight:bold;margin-top:10px;margin-right:10px;line-height:14px}
.feed_pub .div_feedpub_date{color:#b3b3b3;font-size: 11px;margin-top: 12px;line-height:12px}
.feed_pub h2{float:none;color:#7e7e7e;font-size:12px;margin:10px;margin-left:85px;word-break:break-all}
.feed_pub .div_feedpub_brn{width:100%;text-align:right;padding:10px;letter-spacing:2px}

.feed_pub .div_feedpub_reply{width:100%;background-color:#eee;border-top:1px solid #ddd;padding:10px;display:none}
.feed_pub .div_feedpub_reply .input_reply_replytxt{width:100%;height:25px;border-right:0;font-size:12px;float:left}
.feed_pub .div_feedpub_reply .btn_reply_replybtn{height:25px;font-size:12px;padding:0px 10px;margin:0px}
.feed_pub .div_feedpri_morebtn{width:100%;height:25px;margin-top:10px;line-height:25px;text-align:center;background-color:RGBA(0,0,0,0.03);cursor:pointer}

.feed_pub .div_feedpub_div{width:100%;height:100%}
.div_reply{border-bottom:1px solid RGBA(0,0,0,0.08)}
.reply_pri{margin-top:10px}
.reply_pri .div_replypri_icon{float:left;position:relative;width:30px;height:30px;margin-right:10px}
.reply_pri .div_replypri_icon img{width:30px;border-radius: 30px;}
.reply_pri h1{position:relative;float:left;color:#4d4d4d;font-size:12px;font-weight:bold;margin-top:0px;margin-right:10px;line-height:12px}
.reply_pri .div_replypri_date{position:relative;color:#b3b3b3;font-size:12px;margin:0;padding:0;line-height:12px}
.reply_pri h2{position:relative;float:none;color:#7e7e7e;font-size:12px;margin:0px;margin-top:5px;margin-left:40px;margin-bottom:10px;word-break:break-all}