/* Feed */
.div_feed{background-color:#FFF;margin:10px;border: 1px solid #e3e3e3;min-width:50px;min-height:50px;overflow:hidden}
.div_feed i{position: relative;top: 1px;font-size: 14px;}
.btn-smile{height:20px;padding:0 3px;font-size:9px;color:#FFF;background-color:#f1c40f;letter-spacing:1px}
.btn-smile-done{height:20px;padding:0 3px;font-size:9px;color:#f1c40f;border:1px solid #f1c40f;background-color:#FFF;letter-spacing:1px}
.btn-reply{height:20px;padding:0 3px;font-size:9px;color:#FFF;background-color:#5fcf80;letter-spacing:1px}
.btn-reply-done{height:20px;padding:0 3px;font-size:9px;color:#5fcf80;border:1px solid #5fcf80;background-color:#FFF;letter-spacing:1px}
.btn-share{height:20px;padding:0 3px;font-size:9px;color:#FFF;background-color:#2980b9;letter-spacing:1px}
.btn-share-done{height:20px;padding:0 3px;font-size:9px;color:#2980b9;border:1px solid #2980b9;background-color:#FFF;letter-spacing:1px}
.btn-more{height:20px;padding:0 3px;font-size:9px;color:#d2d2d2;background-color:#FFF;border:1px solid #d2d2d2}
.div_btn_more{display:none;}

.feed_card{float:left;width:512px;min-height:100px;margin:0px;padding-bottom:20px;border-right:1px solid #eaeaea;border-radius:0px;}
.feed_card .div_feedcard_morebtn{width:100%;height:50px;margin-top:10px;line-height:50px;text-align:center;background-color:RGBA(0,0,0,0.08);border:1px solid #ddd;cursor:pointer}
.feed_pri {position: relative;margin:0;border-bottom: 1px solid #e0e0e0;}
.feed_pri .div_feedpri_icon{float:left;position:relative;width:50px;height:50px;margin:0 5px}
.feed_pri .div_feedpri_icon img{width:100%;border-radius: 50px;}
.feed_pri h1{color:#4d4d4d;font-size:13px;font-weight:bold;margin-right:5px;line-height:14px;margin-top:5px;}
.feed_pri .div_feedpri_date{position: absolute;top: 0;right: 0;color:#b3b3b3;font-size:10px;line-height:20px}
.feed_pri h2{margin-top: 5px;float:none;color:#7e7e7e;font-size:12px;min-height:30px;word-break:break-all}
.feed_pri .div_feedpri_brn{width:100%;text-align:right;padding-top:3px;letter-spacing:2px}

.feed_pri .div_feedpri_reply{width:100%;background-color:#eee;padding:3px}
.feed_pri .div_feedpri_reply .div_btn_more{border-top:1px solid #ddd;padding:3px 0}
.feed_pri .div_feedpri_reply .input_reply_replytxt{width:100%;height:25px;border-right:0;font-size:12px;float:left}
.feed_pri .div_feedpri_reply .btn_reply_replybtn{height:25px;font-size:12px;padding:0px 10px;margin:0px}
.feed_pri .div_feedpri_morebtn{width:100%;height:25px;margin-top:3px;line-height:25px;text-align:center;background-color:RGBA(0,0,0,0.03);cursor:pointer}

.feed_pri .div_feedpri_div{width:90%;height:100%;margin-left: 10%;}
.div_reply{border-top:1px solid RGBA(0,0,0,0.08);padding-top: 5px;}
.reply_pri{margin-top:0px}
.reply_pri .div_replypri_icon{float:left;position:relative;width:30px;height:30px;margin-right:10px;}
.reply_pri .div_replypri_icon img{width:30px;border-radius: 30px;}
.reply_pri h1{position:relative;float:left;color:#4d4d4d;font-size:12px;font-weight:bold;margin-top:0px;margin-right:10px;line-height:12px}
.reply_pri .div_replypri_date{position:relative;color:#b3b3b3;font-size:10px;margin:0;padding:0;line-height:12px}
.reply_pri h2{position:relative;float:none;color:#7e7e7e;font-size:12px;min-height:20px;margin:0px;margin-top:5px;margin-left:40px;word-break:break-all}