html,body{ margin:0;padding:0;width:100%;height:100% }
body { background-color:#f3f6f6 }

#Tutorial {position:relative;width: 1000px;min-height:100px;left:50%;margin:10px 0;margin-left: -500px;margin-top: 20px;padding: 20px;background-color:#fff;border-bottom:1px solid #ddd;overflow:hidden}
#Tutorial #div_tutor_head {position: relative;width:100%;line-height:40px;font-size:14px;border:1px solid #e74c3c;overflow: hidden}
#Tutorial #div_tutor_head > ul {position: relative;width:100%}
#Tutorial #div_tutor_head > ul > li {height: 42px;text-align: center;float:left;padding:0px 10px;background-color: #e74c3c;color:#fff;}
#Tutorial #div_tutor_head > ul > .blur {background-color: #fff;color:#e74c3c;background-image: url(/static/img/img_tutor_gamelink_head_blur.png);background-repeat: no-repeat;background-position: left top;background-size: contain;padding-left: 30px;}
#Tutorial #div_tutor_head > ul > .blur.first {background-image: url(/static/img/img_tutor_gamelink_head_focus.png);}
#Tutorial #div_tutor_title p {text-align: center; font-size: 14px;}
#Tutorial #div_tutor_title .title {font-size: 24px;font-family: "RixSGo B";margin:20px}
#Tutorial #div_tutor_con {position: relative;width: 100%;height: 600px;}