#GroupInfo .modal-dialog {width:1000px}
#GroupInfo .modal-content {overflow:hidden}
#GroupInfo .modal-header {position:relative;height:80px;border:0px;background-color:#34495e;padding:0;line-height:80px}
#GroupInfo .modal-header .div_head_icon {float:left;position:relative;width:90px;height:80px;cursor:pointer;}
#GroupInfo .modal-header .div_head_icon:hover{background-color:RGBA(0,0,0,0.1)}
#GroupInfo .modal-header .div_head_icon #group_icon{position:relative;width:60px;height:60px;margin:8px 14px;}
#GroupInfo .modal-header .close{padding:15px 15px;opacity:1;}
#GroupInfo .modal-header .close:hover{opacity:0.5;}
#GroupInfo .modal-body {position:relative;padding:0;}
#GroupInfo .group_sub_div{margin:10px 0;}

#GroupInfo .modal-menu {position:relative;width:90px;height:600px;background-color:#282828;border-right:1px solid #ccc;float:left}
#GroupInfo .modal-menu .menuBtn{height:90px;color:#FFF;text-align:center;padding-top:20px;cursor:pointer;}
#GroupInfo .modal-menu .menuBtn:hover{background-color:RGBA(0,0,0,0.1)}

#GroupInfo .modal-info {position:relative;width:330px;height:600px;text-align:center;float:left;overflow:hidden}

#GroupInfo .modal-info #div_info_1 .div_info_body{position:relative;width:330px;height:600px;background-color:#ecf0f1;text-align:center;float:left;}
#GroupInfo .modal-info #div_info_1 .div_info_body #group_icon{width:256px;height:256px;margin-top:20px;}
#GroupInfo .modal-info #div_info_1 .div_info_body H1{font-size:25px;color:#2c2c2c;font-family:'RixSGo EB';margin:10px 0;padding:0;}
#GroupInfo .modal-info #div_info_1 .div_info_body H2{font-size:25px;color:#2c2c2c;margin-top:-10px;padding:0;}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host{width:100%;height:120px;border-top:1px solid #fff;border-bottom:1px solid #fff;margin-top:0px;margin-bottom:20px}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host .info_title{font-size:15px;margin:5px;}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host .memnum{font-size:50px;font-family:'RixSGo B'}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host ul{width:100%;}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host li{width:50%;float:left;height:120px;}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host li:first-child{border-right:1px solid #fff}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host li:first-child img {width:60px;border-radius: 60px;}
#GroupInfo .modal-info #div_info_1 .div_info_body #btnMem{width:85%;margin:0px;}
#GroupInfo .modal-info #div_info_1 .div_info_body #btnDel{width:85%;margin:5px;}
#GroupInfo .modal-info #div_info_1 .div_info_body #btnJoin{width:85%;margin:5px;}
#GroupInfo .modal-info #div_info_1 .div_info_body #btnQuit{width:85%;margin:5px;padding:0;}
#GroupInfo .modal-info #div_info_1 .div_info_sub{position:absolute;top:0;left:330px;width:330px;height:600px;background-color:#ecf0f1;border-left:1px solid #d5ddde;text-align:center;float:left;}
#GroupInfo .modal-info #div_info_1 .div_info_sub .div_sub_title{height: 40px;line-height: 40px;padding: 0 5px;text-align: left;border-bottom: 1px solid #fff;}
#GroupInfo .modal-info #div_info_1 .div_info_sub .div_sub_title #btnBack{background-color:#ecf0f1;margin-top:5px;color:666;border:0;font-size:14px;font-weight:bold}
#GroupInfo .modal-info #div_info_1 #div_info_sub1 .ul_sub_member{width:100%;text-align:left}
#GroupInfo .modal-info #div_info_1 #div_info_sub1 .ul_sub_member li{height:70px;border-bottom:1px solid #fff}
#GroupInfo .modal-info #div_info_1 #div_info_sub1 .ul_sub_member li:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_1 #div_info_sub1 .ul_sub_member li img{height:50px;margin: 10px;border-radius: 50px;float: left;}
#GroupInfo .modal-info #div_info_1 #div_info_sub1 .ul_sub_member li .username{padding-top: 10px;color:#444;font-size: 15px;font-family:'RixSGo B';width: 250px;line-height: 17px;}
#GroupInfo .modal-info #div_info_1 #div_info_sub1 .ul_sub_member li .gameid{color:#999;}
#GroupInfo .modal-info #div_info_1 #div_info_sub2 img{width: 60%;margin-top: 23%;margin-bottom: 5px;}
#GroupInfo .modal-info #div_info_1 #div_info_sub2 H2{font-size: 18px;font-family:'RixSGo B';}
#GroupInfo .modal-info #div_info_1 #div_info_sub2 p{font-size: 14px;}
#GroupInfo .modal-info #div_info_1 #div_info_sub2 #btnOK{margin-top: 30px;width: 40%;}
#GroupInfo .modal-info #div_info_1 #div_info_sub2 #btnCancel{margin-top: 10px;width: 40%;}

#GroupInfo .modal-info #div_info_2 {display:none}
#GroupInfo .modal-info #div_info_2 .div_info_body{position:absolute;top:0;left:0px;width:330px;height:600px;background-color:#ecf0f1;padding:10px;text-align:left;float:left}
#GroupInfo .modal-info #div_info_2 .div_info_body H1{font-size: 20px;margin: 10px;}
#GroupInfo .modal-info #div_info_2 .div_info_body #btn_admin_change{width:300px;margin:10px;}
#GroupInfo .modal-info #div_info_2 .div_info_body #btn_admin_del{width:300px;margin:10px;}
#GroupInfo .modal-info #div_info_2 .div_info_body #brn_admin_new{width:300px;margin:10px;}
#GroupInfo .modal-info #div_info_2 .div_info_body #brn_admin_new .badge{top:0;color:#428bca;background-color:#fff}
#GroupInfo .modal-info #div_info_2 .div_info_body #brn_admin_wait{width:300px;margin:10px;}
#GroupInfo .modal-info #div_info_2 .div_info_body #brn_admin_wait .badge{top:0;color:#428bca;background-color:#fff}
#GroupInfo .modal-info #div_info_2 .div_info_body #brn_admin_submem{width:300px;margin:10px;}
#GroupInfo .modal-info #div_info_2 .div_info_sub{position:absolute;top:0;left:330px;width:330px;height:600px;background-color:#ecf0f1;border-left:1px solid #d5ddde;text-align:center;float:left;}
#GroupInfo .modal-info #div_info_2 .div_info_sub .div_sub_title{height: 40px;line-height: 40px;padding: 0 5px;text-align: left;border-bottom: 1px solid #fff;}
#GroupInfo .modal-info #div_info_2 .div_info_sub .div_sub_title #btnBack{background-color:#ecf0f1;margin-top:5px;color:666;border:0;font-size:14px;font-family:'RixSGo B'}

#GroupInfo .modal-info #div_info_2 #div_info_subChange H1{font-size: 20px;margin: 10px;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subChange H4{margin: 10px;font-size: 13px;color: #666;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .btn-intro{padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color:#fff;background-color: #5cb85c;border-color: #4cae4c;}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member{width:100%;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member li{position:relative;height:70px;border-bottom:1px solid #fff}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member li:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member li img{height:50px;margin: 10px;border-radius: 50px;float: left;}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member li .username{padding-top: 10px;color:#444;font-size: 15px;font-family:'RixSGo B';width: 250px;line-height: 17px;}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member li .gameid{color:#999;}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member li .btn-change{position:absolute;top:50%;margin-top:-15px;right:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member .no_list{position:relative;height:70px;line-height:70px;color:#a5a7a8;border-bottom:1px solid #fff;text-align:center;font-size:15px}

#GroupInfo .modal-info #div_info_2 #div_info_subDel H1{font-size: 20px;margin: 10px;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subDel H4{margin: 10px;font-size: 13px;color: #666;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .btn-intro{padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color:#fff;background-color: #5cb85c;border-color: #4cae4c;}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member{width:100%;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member li{position:relative;height:70px;border-bottom:1px solid #fff}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member li:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member li img{height:50px;margin: 10px;border-radius: 50px;float: left;}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member li .username{padding-top: 10px;color:#444;font-size: 15px;font-family:'RixSGo B';width: 250px;line-height: 17px;}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member li .gameid{color:#999;}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member li .btn-del{position:absolute;top:50%;margin-top:-15px;right:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member .no_list{position:relative;height:70px;line-height:70px;color:#a5a7a8;border-bottom:1px solid #fff;text-align:center;font-size:15px}

#GroupInfo .modal-info #div_info_2 #div_info_subNew H1{font-size: 20px;margin: 10px;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subNew H4{margin: 10px;font-size: 13px;color: #666;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .btn-intro{padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color:#fff;background-color: #5cb85c;border-color: #4cae4c;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew #grouo_url{padding-left:10px;background-color:#000;color:#fff;cursor:text;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew #member_nick{padding-left:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .form-group{margin:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .alert-danger{letter-spacing:-1px}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .form-group .div_subNew_memlist{ position: absolute;width: 300px;max-height:300px;overflow-y: scroll;top: 278px;left: 15px;
																					background-color: RGBA(255,255,255,0.93);line-height: 30px;font-family:'RixSGo B';color: #383838;
																					border-radius: 3px; display: none; z-index: 100;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .form-group .div_subNew_memlist #ul_memlist_list li{height:51px;border-bottom:1px solid #ddd}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .form-group .div_subNew_memlist #ul_memlist_list li:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .form-group .div_subNew_memlist #ul_memlist_list li p{line-height:50px;font-size: 20px}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .form-group .div_subNew_memlist #ul_memlist_list li img{float:left;height:50px;margin-right:5px}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member{width:100%;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member li{position:relative;height:70px;border-bottom:1px solid #fff}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member li:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member li img{height:50px;margin: 10px;float: left;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member li .username{padding-top: 10px;color:#444;font-size: 15px;font-family:'RixSGo B';width: 250px;line-height: 17px;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member li .gameid{color:#999;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member li .btn-del{position:absolute;top:50%;margin-top:-15px;right:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member .no_list{position:relative;height:70px;line-height:70px;color:#a5a7a8;border-bottom:1px solid #fff;text-align:center;font-size:15px}

#GroupInfo .modal-info #div_info_2 #div_info_subWait H1{font-size: 20px;margin: 10px;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subWait H4{margin: 10px;font-size: 13px;color: #666;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .btn-intro{padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color:#fff;background-color: #5cb85c;border-color: #4cae4c;}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .alert-danger{letter-spacing:-1px}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member{width:100%;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li{position:relative;height:70px;border-bottom:1px solid #fff}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li img{height:50px;margin: 10px;border-radius: 50px;float: left;}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li .username{padding-top: 10px;color:#444;font-size: 15px;font-family:'RixSGo B';width: 250px;line-height: 17px;}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li .gameid{color:#999;}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li .btn-yes{position:absolute;top:50%;margin-top:-25px;right:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li .btn-no{position:absolute;top:50%;margin-top:3px;right:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member .no_list{position:relative;height:70px;line-height:70px;color:#a5a7a8;border-bottom:1px solid #fff;text-align:center;font-size:15px}

#GroupInfo .modal-info #div_info_2 #div_info_subSubmem H1{font-size: 20px;margin: 10px;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem H4{margin: 10px;font-size: 13px;color: #666;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .btn-intro{padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color:#fff;background-color: #5cb85c;border-color: #4cae4c;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .alert-danger{letter-spacing:-1px}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member{position:relative;width: 329px;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .drag, .list{width: 329px;cursor:move;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .list{position:relative;height:70px;border-bottom:1px solid #fff;z-index: 1;opacity: 1;filter: alpha(opacity=100);top: 0px;left: 0px;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .list:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member img{height:50px;margin: 10px;border-radius: 50px;float: left;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .username{padding-top: 10px;color:#444;font-size: 15px;font-family:'RixSGo B';width: 250px;line-height: 17px;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .gameid{color:#999;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .drag{z-index: 100;position:absolute;opacity: .50;filter: alpha(opacity=50);}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member i {position: absolute;top: 22px;right: 15px;font-size: 25px;color: #bbb;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .order {background-color:#f0ad4e;right: 40px;top: 25px;position: absolute;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .order-pre {background-color:#999;}

#div_made_group {margin: 30px 20px;border-bottom: 1px solid #ccc;display:none}
#div_made_group H1 {text-align: center;font-size: 20px;font-family: "RixSGo B";padding-bottom: 20px;}
#div_made_group .li_made_img {text-align: center;padding-bottom: 20px;}
#div_made_group .li_made_txt {text-align: center;font-size: 14px;margin: 15px 0px;}
#div_made_group .li_made_txt a{font-family: "RixSGo B"}

#GroupInfo .modal-chat {position:relative;width: 557px;height:600px;padding:10px;background-color:#fff;border-left:1px solid #d5ddde;float:right}
#GroupInfo .modal-chat .div_chat{width:100%;height:540px;font-size:16px;line-height:25px;padding-top:10px;padding-left:10px;overflow-y:scroll;overflow-x: hidden;word-wrap: break-word;}
#GroupInfo .modal-chat .div_chat .myname{font-family:'RixSGo B'}
#GroupInfo .modal-chat .div_input{position:absolute;bottom:0;left:0;width:100%;height:40px;background-color:rgba(0,0,0,0.7)}
#GroupInfo .modal-chat .div_input #chatMsg{width: 540px;height: 25px;border-radius: 5px;font-size: 12px;margin: 8px;border: 0;padding-left: 8px;}