/* Common */
html,body{width:100%;height:100%;background:#f5f5f5}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table,p,h1,h2,h3,h4,h5,h6{font-family:'RixSGo L',"맑은 고딕", Tahoma, "Keep Calm",'돋움',Dotum,AppleGothic,sans-serif; font-size:12px;}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;cursor:pointer;color:inherit;}
a:hover,a:active,a:focus{text-decoration:underline;color:inherit;}

.div_feed{margin:10px;background-color: #fff;border:1px solid #ddd;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);box-shadow: 0 1px 1px rgba(0,0,0,0.05);min-width:50px;min-height:50px;overflow:hidden}
.div_feed i{position: relative;top: 1px;font-size: 14px;}

.developing_img { filter:gray; -webkit-filter: grayscale(1); filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); }


/* Layout */
.imgbtn{cursor:pointer}
.arrow_box {position: relative;background: #ffffff;border: 1px solid #e3e3e3;}
.arrow_box:after, .arrow_box:before {bottom: 100%;left:5%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.arrow_box:after {border-color: rgba(255, 255, 255, 0);border-bottom-color: #ffffff;border-width: 20px;margin-left: -15px;}
.arrow_box:before {border-color: rgba(128, 128, 128, 0);border-bottom-color: #e3e3e3;border-width: 21px;margin-left: -16px;}

#wrap{position:relative;width:100%;min-width:1140px;min-height:100%;margin:0 auto}

#header{position:fixed;width:100%;top:0;left:0;z-index:10}
#header #is_not_active {position:relative;width: 100%;line-height: 40px;text-align: center;}
#header #content{position:relative;width:1140px;height:46px;left:50%;margin-left:-570px;}

#container{position:relative;width:1140px;min-height:100%;left:50%;margin-left:-570px;padding-top:46px;z-index:0}
#container:after{display:block;clear:both;content:''}

#container #content{position:relative;float:left;width:790px}
#container #aside{float:right;position:relative;width:350px;height:100%}

/* You must delete below style */
#wrap{background:#f5f5f5}

#header{background-color: #fff;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);}

#header #is_not_active {background-color: #F0E2E2;border-bottom: 1px solid RGBA(0,0,0,0.1);}

#header #content > ul > #li_head_logo{margin-right:4px;}
#header #content > ul > .btn_top_menu{font-size:13px;font-family: 'RixSGo B';color: #333;padding:0 16px;line-height: 46px;cursor:pointer}
#header #content > ul > #li_head_signup{padding-left:12px;font-size:13px;font-family: 'RixSGo B';color: #333;padding:0 16px;line-height: 46px;cursor:pointer}
#header #content > ul > #li_head_signin{float: right;border-left:0;text-align:center;cursor:pointer}
#header #content > ul > #li_head_home{padding-left:12px;}
#header #content > ul > #li_head_home img{margin-right:2px}
#header #content > ul > .btn_top_menu img{margin-right:3px}
#header #content > ul > .btn_top_menu:hover{border-bottom:5px solid #c0392b;}
#header #content > ul > li{float:left;height:46px;text-align:center}
#header #content > ul > li #img_head_usericon{width: 40px;height: 40px;margin: 3px;float:left;border-radius: 40px;border: 1px solid #ddd;}
#header #content > ul > li .dropdown-menu {font-size:12px;min-width:10px;left:inherit;}
#header #content > ul > li #p_head_username{font-size:13px;color: #333;line-height:46px;padding:0 5px;text-align:left;float: left;}
#header #content > ul > li #i_profile_btn{float:right;line-height: 46px;padding: 0 10px;cursor:pointer}

#header #content > ul > li .input-group{width:250px;margin:11px 0;}
#header #content > ul > li .input-group #input_search_bar{background-color: #fff;border: 1px solid #ddd;height:24px;}
#header #content > ul > li .input-group #input_search_btn{background-color:#fff;border: 1px solid #ddd;height:24px;color:#bdc3c7}
#header #content > ul > li #div_head_searchlist{position:relative;width:250px;min-height:50px;top: -10px;left: 50%;margin-left: -125px;background-color:#fff;border:1px solid #999;display:none}
#header #content > ul > li #div_head_searchlist .div_searchbar_top{height:30px;line-height:30px;border-bottom:2px solid #f5f6f7;background-color:#fff;font-size:13px;font-family:'RixSGo B';text-align:left;padding-left:10px;}
#header #content > ul > li #div_head_searchlist .div_searchbar_non{min-height:60px;line-height:60px;text-align:center;font-size: 12px;background-color:#f7fbff;padding:5px;border-bottom:1px solid #eee}
#header #content > ul > li #div_head_searchlist .div_searchbar_more{min-height:30px;line-height:30px;text-align:center;font-size: 12px;background-color:#f7fbff;padding:5px;border-bottom:1px solid #eee}
#header #content > ul > li #div_head_searchlist .div_searchbar_con{min-height:60px;text-align:left;font-size: 12px;background-color:#f7fbff;padding:5px;border-bottom:1px solid #eee;cursor:pointer;}
#header #content > ul > li #div_head_searchlist .div_searchbar_con:hover{background-color:#e9eef3;}
#header #content > ul > li #div_head_searchlist .div_searchbar_con #li_icon img{width:50px;border-radius: 50px;margin-right:10px;float:left}
#header #content > ul > li #div_head_searchlist .div_searchbar_con #li_name {font-size: 13px;font-family: 'RixSGo B'}
#header #content > ul > li #div_head_searchlist .div_searchbar_con #li_game {font-size:12px;color:#666;}
#header #content > ul > li #div_head_searchlist .div_searchbar_con #li_game i {width:12px;height:12px;float:none;top:2px;margin-right:2px}
#header #content > ul > li #div_head_searchlist .div_searchbar_con #li_game img{width:12px;height:12px;margin-right:2px}
#header #content > ul > li #div_head_searchlist .div_searchbar_con #li_game #span_aka {font-size:10px;color:#aaa;}
#header #content > ul > li#li_head_search{float: left;border-left:0;text-align:center;margin-left: 100px;}
#header #content > ul > li#li_head_noti{float:right;border-left:0;text-align:center}
#header #content > ul > li#li_head_profile{float: right;border-left:0;text-align:center;cursor:pointer}
#header #content > ul > li#li_head_more{float: right;border-left:0;text-align:center;color: #333;}

#header #content > ul > li .div_head_icon{position:relative;height:46px;text-align:left;line-height:46px;font-size:15px}
#header #content > ul > li #div_head_icon1{float:left;width:46px;text-align:center;line-height:46px;font-size:10px}
#header #content > ul > li #div_head_icon1 #noti_value{position:absolute;top:6px;right:5px;line-height:normal;font-size:10px;background-color:#e74c3c;padding:2px 5px;}
#header #content > ul > li #div_head_icon1 > a > i{color: RGBA(102,117,127,0.3);line-height:45px}
#header #content > ul > li #div_head_icon1 .popover-content {width:260px;text-align:center;font-size: 12px;background-color:#f7fbff;padding:0;}
#header #content > ul > li #div_head_icon2{float:left;width:46px;text-align:center;line-height:46px;font-size:12px;}
#header #content > ul > li #div_head_icon2 #field_value{position:absolute;top:6px;right:5px;line-height:normal;font-size:10px;background-color:#e74c3c;padding:2px 5px;}
#header #content > ul > li #div_head_icon2 > a > i{color: RGBA(102,117,127,0.3);line-height:45px}
#header #content > ul > li #div_head_icon2 .popover-content {width:260px;text-align:center;font-size: 12px;background-color:#f7fbff;padding:0;}
#header #content > ul > li #div_head_icon3{float:left;width:46px;text-align:center;line-height:46px;font-size:10px}
#header #content > ul > li #div_head_icon3 i{color: RGBA(0,0,0,0.3);line-height:45px}

#div_noti_step1{display:none;}
#div_noti_top{height:30px;line-height:30px;border-bottom:2px solid #f5f6f7;background-color:#fff;font-size:13px;font-family:'RixSGo B';text-align:left;padding-left:10px;}
#div_noti_top #title_noti_value{position: relative;font-size:10px;background-color: #e74c3c;padding: 4px 6px;top: -2px;}
.div_noti_cell{position:relative;width:100%;padding:5px;border-bottom:1px solid #eee;display:inline-block;}
.div_noti_cell.read{background-color:#fff}
.div_noti_cell:hover{background-color:#e9eef3}
.div_noti_cell .div_cell_icon{float:left;position:relative;width:40px}
.div_noti_cell .div_cell_icon img{width:40px;border:1px solid #eee;}
.div_noti_cell .div_cell_txt{position:relative;width:180px;font-size:13px;line-height:15px;margin-left:50px;text-align:left}
.div_noti_cell .div_cell_bottom{position:relative;float:right;font-size:10px;line-height:10px;color:#aaa;}
.div_noti_cell .div_cell_bottom .div_bottom_date{margin-top: 5px}

.field-content .div_field_top{height:30px;line-height:30px;border-bottom:2px solid #f5f6f7;background-color:#fff;font-size:13px;font-family:'RixSGo B';text-align:left;padding-left:10px;}
.field-content .div_field_top .btn{float:right;margin:3px;}
.field-content .div_field_con{min-height:80px;text-align:left;font-size: 12px;background-color:#f7fbff;padding:10px;border-bottom:1px solid #eee;cursor:pointer;}
.field-content .div_field_con.read{background-color:#fff}
.field-content .div_field_con:hover{background-color:#e9eef3;}
.field-content .div_field_group #li_icon{width:40px;height:40px;float:left;margin-top: 5px;margin-bottom: 0;margin-left:10px;margin-right:15px;}
.field-content .div_field_group #li_icon img{height: 100%}
.field-content .div_field_group #li_name {font-size: 13px;font-family: 'RixSGo B';line-height: normal;margin-top:10px;margin-bottom:6px;}
.field-content .div_field_group #li_nick {font-size:12px;color:#666;line-height: normal;float:left;margin-right:10px}
.field-content .div_field_group #li_game {font-size:12px;color:#666;line-height: normal;margin-bottom: 7px;}
.field-content .div_field_group #li_game i {width:12px;height:12px;float:none;top:2px;margin-right:2px}
.field-content .div_field_group #li_count{font-size: 15px;font-family: 'RixSGo B';text-align: center;width: 60px;float:left;line-height: normal;}
.field-content .div_field_group #li_count i{color:#000;}
.field-content .div_field_group #li_btn {position:relative;line-height: normal;margin-bottom: 5px;width:100%;text-align:center;}
.field-content .div_field_group #li_btn .btn{width: 170px;margin-right: 10px;}
.field-content .div_field_arena #li_name {font-size: 13px;font-family: 'RixSGo B';line-height: normal;margin:5px;}
.field-content .div_field_arena #li_group {font-size:12px;color:#666;line-height: normal;margin-bottom: 7px;}
.field-content .div_field_arena #li_group img {width:15px;height:15px;float:none;top:2px;margin:0 5px}
.field-content .div_field_arena #li_msg {width:100%;text-align:center;font-size:11px;color:#666;line-height: normal;margin-top: 15px;}
.field-content .div_field_arena #li_msg .border-round {border: 1px solid #666;border-radius: 10px;padding: 3px 5px;}
.field-content .div_field_arena #li_btn {line-height:normal;padding: 3px 5px;}
.field-content .div_field_arena #li_btn #btnEnter{width:100%;}
.field-content .div_field_arena .progress-label:nth-child(1){position:absolute;left:5px;bottom: 7px;width:83px;text-align:center;margin-left:5px;font-size:10px}
.field-content .div_field_arena .progress-label:nth-child(2){position:absolute;left:0;bottom:7px;width:250px;text-align:center;margin-left:5px;font-size:10px}
.field-content .div_field_arena .progress-label:nth-child(3){position:absolute;right:0;bottom:7px;width:83px;text-align:right;margin-right:7px;font-size:10px}
.field-content .div_field_arena .progress {margin: 7px 5px;}
.field-content .div_field_arena .progress #progress1 {background-color:#b9534f}
.field-content .div_field_arena .progress #progress2 {}
.field-content .div_field_arena .progress #progress3 {background-color:RGBA(255,255,255,0);box-shadow:none}

#fchat {display: none}

#Tutorial {position:relative;width: 1000px;min-height:100px;left:50%;margin:10px 0;margin-left: -500px;margin-top: 20px;padding: 20px;background-color:#fff;border-bottom:1px solid #ddd;overflow:hidden}
#Tutorial #div_tutor_head {position: relative;width:100%;line-height:40px;font-size:14px;border:1px solid #e74c3c;overflow: hidden}
#Tutorial #div_tutor_head > ul {position: relative;width:100%}
#Tutorial #div_tutor_head > ul > li {height: 42px;text-align: center;float:left;padding:0px 0px;background-color: #e74c3c;color:#fff;width:33.33%;}

#Tutorial #div_tutor_head > ul > .blur {background-color: #fff;color:#e74c3c;background-image: url(/static/img/head/img_tutor_gamelink_head_blur.png);background-repeat: no-repeat;background-position: left top;background-size: contain;padding-left: 30px;}
#Tutorial #div_tutor_head > ul > .blur.first {background-image: url(/static/img/head/img_tutor_gamelink_head_focus.png);}
#Tutorial #div_tutor_head > ul > .pass {background-color:#FFF;color:#e74c3c;}
#Tutorial #div_tutor_title p {text-align: center; font-size: 14px;}
#Tutorial #div_tutor_title .title {font-size: 24px;font-family: "RixSGo B";margin:20px}
#Tutorial #div_tutor_con {position: relative;width: 100%;height: 600px;}
#Tutorial #div_tutor_btn {text-align: right}
#Tutorial #div_tutor_btn #btn_next {margin: 10px;}

#GamelinkModal .modal-dialog {width:1000px}
#GamelinkModal .modal-content {position: relative;width: 100%;height: 600px;padding: 10px;}

#GameLink {position: relative;width: 100%;height: 100%;}
#GameLink #Gamelink_Detail {position: relative;height: 100%;overflow-y: scroll;}

#GameLink #Gamelink_Detail #div_gamelink_panel {overflow: auto;margin-bottom: 10px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #div_gamelink_panelbody {position: relative;}

#GameLink #Gamelink_Detail .alert-danger {padding:10px}
#GameLink #Gamelink_Detail .alert-danger img{width: 20px;top: 0px;position: relative;margin-right: 2px;border-radius: 10px;}

#GameLink #Gamelink_Detail #brn_gamelink_delete {width:100%;margin-bottom: 15px;}

#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_left{float: right;width: 250px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #img_left_medal_unrank {height: 110px;float: left;}
#GameLink #Gamelink_Detail #div_gamelink_panel #p_left_unrank {font-size: 20px;margin-top: 45px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #img_left_medal {width: 100px;float: left;margin-right: 5px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #p_left_line1 {font-size: 20px;padding-top: 10px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #p_left_line2 {font-size: 20px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #p_left_line3 {padding-bottom:16px;font-size: 15px;}
#GameLink #Gamelink_Detail #div_gamelink_panel .li_left_stat{float: left;width: 240px;}
#GameLink #Gamelink_Detail #div_gamelink_panel .li_left_most{height: 33px;margin-top: 3px;border-bottom: 1px solid #eee;}
#GameLink #Gamelink_Detail #div_gamelink_panel .img_most_img{height: 30px;float:left;margin-right: 5px;border-radius: 15px;}
#GameLink #Gamelink_Detail #div_gamelink_panel .p_most_name {float:left;line-height: 25px;width: 130px;font-size: 15px;}
#GameLink #Gamelink_Detail #div_gamelink_panel .p_most_kda {float:left;font-size: 15px;line-height: 25px;width: 40px;}
#GameLink #Gamelink_Detail #div_gamelink_panel .p_most_played {float:left;line-height: 25px;font-size: 15px;text-align: right;width: 40px;}

#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right{margin-top: 130px;position: relative;width: 100%;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league {height: 70px;position: relative;border-bottom: 1px solid #eee;margin-top: 5px;padding-bottom: 10px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_win{float:left;position: absolute;width: 25px;height: 25px;text-align: center;bottom: 5px;background-color: #c0392b;border-radius: 25px;color: #fff;line-height: 25px;font-size: 15px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_win.win{background-color: #27ae60;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_win.lose{background-color: #c0392b;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league #img_league_img1{float:left;width: 60px;border-radius: 35px;margin: 2px 5px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_spell{float:left;width: 40px;text-align: center;padding-top: 2px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_spell .img_league_spell {width: 25px;margin: 3px 5px;border-radius: 5px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_kda{float:left;width: 85px;text-align: center;padding-top: 10px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_kda .kda{font-size: 15px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_kda .kda_r {color:#e74c3c;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_kda .kda_avg {padding: 0px 2px;font-size: 15px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_level {float:left;width: 70px;text-align: center;padding-top: 10px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_level .level{font-size: 15px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_level .cs{padding: 0px 2px;font-size: 15px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_item{float:left;width: 100px;text-align: center;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_item .img_league_item {width: 25px;margin: 3px 2px;border-radius: 5px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_type {float:left;width: 60px;text-align: center;padding-top: 15px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_type #type_sub{padding:1px 5px;font-size: 13px;}
#GameLink #Gamelink_Detail #div_gamelink_panel #ul_gamelink_right .li_right_league .p_league_time {float:left;width: 65px;text-align: center;padding-top: 22px;}

#GameLink #Gamelink_Detail #btnSave{position:relative;width: 100%;height: 50px;border-radius: 0;}

#GameLink .div_tutor_con {/* width: 370px; *//* background-color: #eee; *//* padding: 10px; */}
#GameLink #div_tutor_right {position: absolute;top: 0;right: 0;bottom: 0;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;text-align: center;width: 570px;height: 100%;background-color: #eee;padding: 10px;}
#GameLink #div_tutor_right #div_right_login {/* height: 100%; */background-color: #fff}
#GameLink #div_tutor_right #div_right_login #div_login_top {position: relative;text-align: center;overflow: hidden; width:100%;height:130px}
#GameLink #div_tutor_right #div_right_login #div_login_top .img_background {position: absolute;top: -100%;left: -10%;width: 120%;-webkit-filter: blur(8px);-moz-filter: blur(8px);-o-filter: blur(8px);-ms-filter: blur(8px);filter: blur(8px);background-color: #000}
#GameLink #div_tutor_right #div_right_login #div_login_top .img_contents {position: absolute;top: 15px;left: 50%;margin-left: -50px;border-radius: 100px;box-shadow: 0px 0px 20px 0px #fff;}
#GameLink #div_tutor_right #div_right_login .p_login_name {width:100%;background-color: #000;font-size: 20px; text-align: center;font-family:"RixSGo B";color:#fff;padding:5px}
#GameLink #div_tutor_right #div_right_login .div_login_form {margin:20px}
#GameLink #div_tutor_right #div_right_login .form-control {margin-bottom: 20px}

#GameLink #div_tutor_left {width: 370px;background-color: #eee;padding: 10px;position: absolute;top: 0;left: 0;bottom: 0;}
#GameLink #div_tutor_left #input_gamename { height: 40px; }
#GameLink #div_tutor_left #div_left_list { position: absolute; top: 0; left: 0; bottom: 0; margin-top: 60px; width: 100%; overflow-y:scroll }
#GameLink #div_tutor_left #div_left_list .div_gettingstart_list {position: relative;height: 60px;background-color: #fff;margin: 5px;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;cursor: pointer}
#GameLink #div_tutor_left #div_left_list img {margin: 5px;float: left;width: 50px;margin-right: 10px;}
#GameLink #div_tutor_left #div_left_list .p_list_gamename {font-size: 15px;font-family: "RixSGo B";padding-top: 10px;}
#GameLink #div_tutor_left #div_left_list .icon_next {position:absolute;top: 50%;right: 10px;margin-top: -8px;color: darkgray;}

#GroupInfo .modal-dialog {width:1000px}
#GroupInfo .modal-content {overflow:hidden}
#GroupInfo .modal-header {position:relative;height:80px;border:0px;background-color:#34495e;padding:0;line-height:80px}
#GroupInfo .modal-header .div_head_icon {float:left;position:relative;width:90px;height:80px;cursor:pointer;}
#GroupInfo .modal-header .div_head_icon:hover{background-color:RGBA(0,0,0,0.1)}
#GroupInfo .modal-header .div_head_icon #group_icon{position:relative;width:60px;height:60px;margin:8px 14px;}
#GroupInfo .modal-header .close{padding:15px 15px;opacity:1;}
#GroupInfo .modal-header .close:hover{opacity:0.5;}
#GroupInfo .modal-body {position:relative;padding:0;}
#GroupInfo .group_sub_div{margin:10px 0;}

#GroupInfo .modal-menu {position:relative;width:90px;height:600px;background-color:#282828;border-right:1px solid #ccc;float:left}
#GroupInfo .modal-menu .menuBtn{height:90px;color:#FFF;text-align:center;padding-top:20px;cursor:pointer;}
#GroupInfo .modal-menu .menuBtn:hover{background-color:RGBA(0,0,0,0.1)}
#GroupInfo .modal-menu .menuBtn i {font-size:35px}

#GroupInfo .modal-info {position:relative;width:330px;height:600px;text-align:center;float:left;overflow:hidden}

#GroupInfo .modal-info #div_info_1 .div_info_body{position:relative;width:330px;height:600px;background-color:#ecf0f1;text-align:center;float:left;}
#GroupInfo .modal-info #div_info_1 .div_info_body #group_icon{width:256px;height:256px;margin-top:20px;}
#GroupInfo .modal-info #div_info_1 .div_info_body H1{font-size:25px;color:#2c2c2c;font-family:'RixSGo EB';margin:10px 0;padding:0;}
#GroupInfo .modal-info #div_info_1 .div_info_body H2{font-size:25px;color:#2c2c2c;margin-top:-10px;padding:0;}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host{width:100%;height:120px;border-top:1px solid #fff;border-bottom:1px solid #fff;margin-top:0px;margin-bottom:20px}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host .info_title{font-size:15px;margin:5px;}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host .memnum{font-size:50px;font-family:'RixSGo B'}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host ul{width:100%;}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host li{width:50%;float:left;height:120px;}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host li:first-child{border-right:1px solid #fff}
#GroupInfo .modal-info #div_info_1 .div_info_body #div_info_host li:first-child img {width:60px;border-radius: 60px;}
#GroupInfo .modal-info #div_info_1 .div_info_body #btnMem{width:85%;margin:0px;}
#GroupInfo .modal-info #div_info_1 .div_info_body #btnDel{width:85%;margin:5px;}
#GroupInfo .modal-info #div_info_1 .div_info_body #btnJoin{width:85%;margin:5px;}
#GroupInfo .modal-info #div_info_1 .div_info_body #btnQuit{width:85%;margin:5px;padding:0;}
#GroupInfo .modal-info #div_info_1 .div_info_body #btnDisable{width:85%;margin:5px;padding:0;}
#GroupInfo .modal-info #div_info_1 .div_info_sub{position:absolute;top:0;left:330px;width:330px;height:600px;background-color:#ecf0f1;border-left:1px solid #d5ddde;text-align:center;float:left;}
#GroupInfo .modal-info #div_info_1 .div_info_sub .div_sub_title{height: 40px;line-height: 40px;padding: 0 5px;text-align: left;border-bottom: 1px solid #fff;}
#GroupInfo .modal-info #div_info_1 .div_info_sub .div_sub_title #btnBack{background-color:#ecf0f1;margin-top:5px;color:666;border:0;font-size:14px;font-weight:bold}
#GroupInfo .modal-info #div_info_1 #div_info_sub1 .ul_sub_member{width:100%;text-align:left}
#GroupInfo .modal-info #div_info_1 #div_info_sub1 .ul_sub_member li{height:70px;border-bottom:1px solid #fff}
#GroupInfo .modal-info #div_info_1 #div_info_sub1 .ul_sub_member li:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_1 #div_info_sub1 .ul_sub_member li img{height:50px;margin: 10px;border-radius: 50px;float: left;}
#GroupInfo .modal-info #div_info_1 #div_info_sub1 .ul_sub_member li .username{padding-top: 10px;color:#444;font-size: 15px;font-family:'RixSGo B';width: 250px;line-height: 17px;}
#GroupInfo .modal-info #div_info_1 #div_info_sub1 .ul_sub_member li .gameid{color:#999;}
#GroupInfo .modal-info #div_info_1 #div_info_sub2 img{width: 60%;margin-top: 23%;margin-bottom: 5px;}
#GroupInfo .modal-info #div_info_1 #div_info_sub2 H2{font-size: 18px;font-family:'RixSGo B';}
#GroupInfo .modal-info #div_info_1 #div_info_sub2 p{font-size: 14px;}
#GroupInfo .modal-info #div_info_1 #div_info_sub2 #btnOK{margin-top: 30px;width: 40%;}
#GroupInfo .modal-info #div_info_1 #div_info_sub2 #btnCancel{margin-top: 10px;width: 40%;}

#GroupInfo .modal-info #div_info_2 {display:none}
#GroupInfo .modal-info #div_info_2 .div_info_body{position:absolute;top:0;left:0px;width:330px;height:600px;background-color:#ecf0f1;padding:10px;text-align:left;float:left}
#GroupInfo .modal-info #div_info_2 .div_info_body H1{font-size: 20px;margin: 10px;}
#GroupInfo .modal-info #div_info_2 .div_info_body #btn_admin_change{width:300px;margin:10px;}
#GroupInfo .modal-info #div_info_2 .div_info_body #btn_admin_del{width:300px;margin:10px;}
#GroupInfo .modal-info #div_info_2 .div_info_body #brn_admin_new{width:300px;margin:10px;}
#GroupInfo .modal-info #div_info_2 .div_info_body #brn_admin_new .badge{top:0;color:#428bca;background-color:#fff}
#GroupInfo .modal-info #div_info_2 .div_info_body #brn_admin_wait{width:300px;margin:10px;}
#GroupInfo .modal-info #div_info_2 .div_info_body #brn_admin_wait .badge{top:0;color:#428bca;background-color:#fff}
#GroupInfo .modal-info #div_info_2 .div_info_body #brn_admin_submem{width:300px;margin:10px;}
#GroupInfo .modal-info #div_info_2 .div_info_sub{position:absolute;top:0;left:330px;width:330px;height:600px;background-color:#ecf0f1;border-left:1px solid #d5ddde;text-align:center;float:left;}
#GroupInfo .modal-info #div_info_2 .div_info_sub .div_sub_title{height: 40px;line-height: 40px;padding: 0 5px;text-align: left;border-bottom: 1px solid #fff;}
#GroupInfo .modal-info #div_info_2 .div_info_sub .div_sub_title #btnBack{background-color:#ecf0f1;margin-top:5px;color:666;border:0;font-size:14px;font-family:'RixSGo B'}

#GroupInfo .modal-info #div_info_2 #div_info_subChange H1{font-size: 20px;margin: 10px;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subChange H4{margin: 10px;font-size: 13px;color: #666;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .btn-intro{padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color:#fff;background-color: #5cb85c;border-color: #4cae4c;}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member{width:100%;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member li{position:relative;height:70px;border-bottom:1px solid #fff}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member li:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member li img{height:50px;margin: 10px;border-radius: 50px;float: left;}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member li .username{padding-top: 10px;color:#444;font-size: 15px;font-family:'RixSGo B';width: 250px;line-height: 17px;}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member li .gameid{color:#999;}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member li .btn-change{position:absolute;top:50%;margin-top:-15px;right:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subChange .ul_sub_member .no_list{position:relative;height:70px;line-height:70px;color:#a5a7a8;border-bottom:1px solid #fff;text-align:center;font-size:15px}

#GroupInfo .modal-info #div_info_2 #div_info_subDel H1{font-size: 20px;margin: 10px;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subDel H4{margin: 10px;font-size: 13px;color: #666;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .btn-intro{padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color:#fff;background-color: #5cb85c;border-color: #4cae4c;}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member{width:100%;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member li{position:relative;height:70px;border-bottom:1px solid #fff}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member li:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member li img{height:50px;margin: 10px;border-radius: 50px;float: left;}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member li .username{padding-top: 10px;color:#444;font-size: 15px;font-family:'RixSGo B';width: 250px;line-height: 17px;}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member li .gameid{color:#999;}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member li .btn-del{position:absolute;top:50%;margin-top:-15px;right:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subDel .ul_sub_member .no_list{position:relative;height:70px;line-height:70px;color:#a5a7a8;border-bottom:1px solid #fff;text-align:center;font-size:15px}

#GroupInfo .modal-info #div_info_2 #div_info_subNew H1{font-size: 20px;margin: 10px;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subNew H4{margin: 10px;font-size: 13px;color: #666;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .btn-intro{padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color:#fff;background-color: #5cb85c;border-color: #4cae4c;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew #grouo_url{padding-left:10px;background-color:#000;color:#fff;cursor:text;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew #member_nick{padding-left:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .form-group{margin:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .alert-danger{letter-spacing:-1px}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .form-group .div_subNew_memlist{ position: absolute;width: 300px;max-height:300px;overflow-y: scroll;top: 278px;left: 15px;
																					background-color: RGBA(255,255,255,0.93);line-height: 30px;font-family:'RixSGo B';color: #383838;
																					border-radius: 3px; display: none; z-index: 100;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .form-group .div_subNew_memlist #ul_memlist_list li{height:51px;border-bottom:1px solid #ddd}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .form-group .div_subNew_memlist #ul_memlist_list li:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .form-group .div_subNew_memlist #ul_memlist_list li p{line-height:50px;font-size: 20px}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .form-group .div_subNew_memlist #ul_memlist_list li img{float:left;height:50px;margin-right:5px}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member{width:100%;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member li{position:relative;height:70px;border-bottom:1px solid #fff}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member li:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member li img{height:50px;margin: 10px;float: left;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member li .username{padding-top: 10px;color:#444;font-size: 15px;font-family:'RixSGo B';width: 250px;line-height: 17px;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member li .gameid{color:#999;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member li .btn-del{position:absolute;top:50%;margin-top:-15px;right:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subNew .ul_sub_member .no_list{position:relative;height:70px;line-height:70px;color:#a5a7a8;border-bottom:1px solid #fff;text-align:center;font-size:15px}

#GroupInfo .modal-info #div_info_2 #div_info_subWait H1{font-size: 20px;margin: 10px;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subWait H4{margin: 10px;font-size: 13px;color: #666;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .btn-intro{padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color:#fff;background-color: #5cb85c;border-color: #4cae4c;}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .alert-danger{letter-spacing:-1px}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member{width:100%;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li{position:relative;height:70px;border-bottom:1px solid #fff}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li img{height:50px;margin: 10px;border-radius: 50px;float: left;}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li .username{padding-top: 10px;color:#444;font-size: 15px;font-family:'RixSGo B';width: 250px;line-height: 17px;}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li .gameid{color:#999;}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li .btn-yes{position:absolute;top:50%;margin-top:-25px;right:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member li .btn-no{position:absolute;top:50%;margin-top:3px;right:10px;}
#GroupInfo .modal-info #div_info_2 #div_info_subWait .ul_sub_member .no_list{position:relative;height:70px;line-height:70px;color:#a5a7a8;border-bottom:1px solid #fff;text-align:center;font-size:15px}

#GroupInfo .modal-info #div_info_2 #div_info_subSubmem H1{font-size: 20px;margin: 10px;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem H4{margin: 10px;font-size: 13px;color: #666;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .btn-intro{padding: 2px 5px;font-size: 12px;line-height: 1.5;border-radius: 3px;color:#fff;background-color: #5cb85c;border-color: #4cae4c;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .alert-danger{letter-spacing:-1px}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member{position:relative;width: 329px;text-align:left}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .drag, .list{width: 329px;cursor:move;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .list{position:relative;height:70px;border-bottom:1px solid #fff;z-index: 1;opacity: 1;filter: alpha(opacity=100);top: 0px;left: 0px;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .list:hover{background-color:RGBA(0,0,0,0.03)}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member img{height:50px;margin: 10px;border-radius: 50px;float: left;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .username{padding-top: 10px;color:#444;font-size: 15px;font-family:'RixSGo B';width: 250px;line-height: 17px;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .gameid{color:#999;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .drag{z-index: 100;position:absolute;opacity: .50;filter: alpha(opacity=50);}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member i {position: absolute;top: 22px;right: 15px;font-size: 25px;color: #bbb;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .order {background-color:#f0ad4e;right: 40px;top: 25px;position: absolute;}
#GroupInfo .modal-info #div_info_2 #div_info_subSubmem .ul_sub_member .order-pre {background-color:#999;}

#div_made_group {margin: 30px 20px;border-bottom: 1px solid #ccc;display:none}
#div_made_group H1 {text-align: center;font-size: 20px;font-family: "RixSGo B";padding-bottom: 20px;}
#div_made_group .li_made_img {text-align: center;padding-bottom: 20px;}
#div_made_group .li_made_txt {text-align: center;font-size: 14px;margin: 15px 0px;}
#div_made_group .li_made_txt a{font-family: "RixSGo B"}

#GroupInfo .modal-chat {position:relative;width: 557px;height:600px;padding:10px;background-color:#fff;border-left:1px solid #d5ddde;float:right}
#GroupInfo .modal-chat .div_chat{width:100%;height:540px;font-size:16px;line-height:25px;padding-top:10px;padding-left:10px;overflow-y:scroll;overflow-x: hidden;word-wrap: break-word;}
#GroupInfo .modal-chat .div_chat .myname{font-family:'RixSGo B'}
#GroupInfo .modal-chat .div_input{position:absolute;bottom:0;left:0;width:100%;height:40px;background-color:rgba(0,0,0,0.7)}
#GroupInfo .modal-chat .div_input #chatMsg{width: 540px;height: 25px;border-radius: 5px;font-size: 12px;margin: 8px;border: 0;padding-left: 8px;}

#Gamelink_Connected .div_link_game { position: relative; width: 100%; height: 60px; overflow: hidden; border-top: 1px solid #999999; background-color: #000000;}
#Gamelink_Connected .div_link_game .div_gamelink_bg { background-size: 100% auto; background-repeat: no-repeat; background-position: 50% 50%; opacity: 0.4;}
#Gamelink_Connected .div_link_game .div_gamelink_bg { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
#Gamelink_Connected .div_link_game .img_gamelink_icon { position: relative; width: 50px; margin: 5px; background-color: #dddddd; border-radius: 50px; }
#Gamelink_Connected .div_link_game p { position: absolute; left: 65px; bottom: 10px; color: #FFFFFF; font-size: 15px; }

.btn_link_delete { position: absolute; bottom: 13px; right: 15px; }
#div_tutor-btn .btn { margin-top: 10px; }
.modal-title { font-size: 20px; font-weight: bold; }

.btn-invite { width: 20%; -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease; margin-right: 10px;}

.btn-facebook { background-color:#fff; color:#3b5998; border:2px solid #3b5998; }
.btn-facebook:hover { background-color:#3b5998; color:#fff; }

.btn-email { background-color:#fff; color:#7F8C8D; border:2px solid #7F8C8D; }
.btn-email:hover {background-color:#7F8C8D; color:#fff;}

.btn-message { background-color: #fff; color:#3498DB; border:2px solid #3498DB;  }
.btn-message:hover {background-color: #3498DB; color: #fff;}

#my_url { text-align:left; }
