html, body {
    background-color: #e84c3d;
    overflow-x: hidden;
}

body,input,textarea,select,button,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,label{font-family:'RixSGo L',"나눔고딕","맑은 고딕", Tahoma, "Keep Calm",'돋움',Dotum,AppleGothic,sans-serif; font-size:12px;}

p,label{
    color: #fff;
}

label {
    font-family: 'RixSGo L';
    font-size: 15px;
    font-weight:lighter;
}

.main-headline {
    font-size: 27px;
    font-family: 'RixSGo B';
}

.main-content {
    font-size: 15px;
    font-family: 'RixSGo L';
    letter-spacing: -.5px;
    color: #f4ada6;
}


#orLogo {
    margin-top: 10px;
}

#content {
    height: 100vh;
}

#aside {
    background-color: #2d3e50;
    height: 100vh;
    position: absolute;
    right: 0px;
}

#signup-aside {
    background-color: #283848;
    height: 100vh;
}

#content .row .centre{
    width: 300px;
    margin: 0px auto;
}

#aside .centre {
    width: 322px;
    margin: 10px auto;
}

.row {
}

.aside-line-1 {
    background-color: #283848;
    padding: 20px;
}

.aside-line-2 {
    background-color: #2d3e50;
    padding: 20px;
}

.aside-line-2 p {
    margin: 0px;
}

ul {list-style:none; -webkit-padding-start: 0px;}

.info-ele {position:relative;color:#FFF;text-align:center;float:left;}
.info-ele li:nth-child(1){ padding-top:20px}
.info-ele li:nth-child(2){ padding-top:15px;font-size:20px}
.info-ele li:nth-child(3){ padding:5px 0;font-size:13px}

.developing li { color:#aaa; }
.developing li span { position: absolute;left: 123px;top: 51px;font-size: 17px;color: #fff;text-shadow: #000 0px 0px 4px; }
.developing li img { filter:gray; -webkit-filter: grayscale(1); filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); }

#hidden-row {
    height: 0px;
}

.join-info {
    font-size: 12px;
    padding-left: 20px;
}


.links a {
    color: #fff;
}