html,body{ margin:0;padding:0;width:100%;height:100% }
body { background-color:#f3f6f6 }

#LargeCard {position:relative;width:1100px;min-height:100px;left:50%;margin:10px 0;margin-left:-550px;background-color:#fff;border-radius:10px;border-bottom:1px solid #ddd;overflow:hidden}