#container{}
#container #gamelink_tutor {position: absolute;top: 45px;left:50%;text-align:center;margin-left:-400px;margin-top:5px;width: 800px;padding:10px;background-color:#e74c3c;border:0;z-index: 1000;cursor: pointer;}
#container #gamelink_tutor:hover{background-color:#c0392b;}
#container #gamelink_tutor span {font-size: 15px;font-weight: 900;color:#fff;}
#container #gamelink_tutor a {margin-left:20px;font-weight: normal;font-size: 14px;color:#fff}

#container #content{}