#container{}
#container #gamelink_tutor {position: absolute;top: 45px;left:50%;text-align:center;margin-left:-400px;margin-top:5px;width: 800px;padding:10px;background-color:#e74c3c;border:0;z-index: 1000;cursor: pointer;}
#container #gamelink_tutor:hover{background-color:#c0392b;}
#container #gamelink_tutor span {font-size: 15px;font-weight: 900;color:#fff;}
#container #gamelink_tutor a {margin-left:20px;font-weight: normal;font-size: 14px;color:#fff}

#container #content{}
#container #content #top_information { margin: 10px;margin-bottom: 20px;padding: 0 15px;line-height: 50px;border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);box-shadow: 0 1px 1px rgba(0,0,0,0.05); }
#container #content #top_information .close { line-height:inherit }
#container #content #top_information .btn { float: right;margin-right: 10px;margin-top: 10px; }

#container #content #display { height:200px;background-color:#2F343D }
#container #content #display .display_title { height:50px;background-color:#232b34 }
#container #content #display .display_title .display_title_live { background-color:#e74c3c ; color: #fff; font-size: 15px; padding: 5px 10px; letter-spacing: 3px; line-height: 50px; border-radius: 3px; margin-left: 10px;}
#container #content #display .display_title .display_title_name { color: #fff;font-size: 14px;margin-left: 10px; }
#container #content #display .display_body { position:relative;width:100%;height:100%;color:#fff }
#container #content #display .display_body .groupicon {width:60px}

#container #content #display .display_body .display_body_left {width:50%;float:left;text-align:right;padding-top: 20px;padding-right: 50px;}
#container #content #display .display_body .display_body_left .display_left_name {margin:0 10px;font-size:20px}

#container #content #display .display_body .display_body_right {width:50%;float:right;text-align:left;padding-top: 20px; padding-left: 50px;}
#container #content #display .display_body .display_body_right .display_right_name {margin:0 10px;font-size:20px}

#container #content #display .display_body .display_body_center {position:absolute;top:0;left:50%;margin-left:-50px;width:100px;height:100%;text-align:center}

#aside #profile .profile_subtitle { border-top:1px solid #eee;border-bottom:1px solid #eee;padding:5px}
#aside #profile #profile_top {width:100%;height:60px}
#aside #profile #profile_top #img_usericon { width:50px;border-radius:50px;border:1px solid #ddd;margin:5px;float:left}
#aside #profile #profile_top #p_username { font-size:18px;font-weight:bold;padding-top:7px}
#aside #profile #profile_top #p_groupname { color:#999 }
#aside #profile #profile_bottom .div_link_game{position:relative;width:100%;height:60px;overflow:hidden;border-top:1px solid #999999;background-position: 50% 50%;cursor:pointer;}
#aside #profile #profile_bottom .div_link_game .img_gamelink_icon{width:50px;margin:5px;border: 1px solid #666;background-color: #ddd;border-radius: 50px;}
#aside #profile #profile_bottom .div_link_game p{position:absolute;right:10px;bottom:5px;color:#FFF;font-size:15px}

#aside #profile #profile_bottom .div_link_btn { text-align:center ; padding: 15px; font-size: 13px; line-height: 20px;}
#aside #profile #profile_bottom .div_link_btn #btnGamelink { width: 100% }
#aside #profile #profile_bottom .div_link_btn_s { text-align:center; height:49px ; line-height: 49px; font-size: 13px;}
#aside #profile #profile_bottom .div_link_btn_s #btnGamelink_s { margin-left:10px }