#container{}
#container #gamelink_tutor {position: absolute;top: 45px;left:50%;text-align:center;margin-left:-400px;margin-top:5px;width: 800px;padding:10px;background-color:#e74c3c;border:0;z-index: 1000;cursor: pointer;}
#container #gamelink_tutor:hover{background-color:#c0392b;}
#container #gamelink_tutor span {font-size: 15px;font-weight: 900;color:#fff;}
#container #gamelink_tutor a {margin-left:20px;font-weight: normal;font-size: 14px;color:#fff}

#container #content{}
#container #content #profile{position:relative;width:auto;height:250px}
#container #content #profile #div_profile_link{position:relative;width:250px;height:100%;background-color:#000;background-image:url(/static/img/main_link_bg.png);float:left;}
#container #content #profile #div_profile_link .div_link_game{position:relative;width:100%;overflow:hidden;border-top:1px solid #999999;background-position: 50% 50%;cursor:pointer;}
#container #content #profile #div_profile_link .div_link_game .img_gamelink_icon{position:absolute;left:0px;bottom:0px;width: 44px;margin: 3px;border: 1px solid #666;background-color: #666;border-radius: 40px;}
#container #content #profile #div_profile_link .div_link_game p{position:absolute;right:10px;bottom:5px;color:#FFF;font-size:15px}
#container #content #profile #div_profile_link #btnGamelink {width: 170px;position: absolute;bottom: 40px;left: 40px;height: 70px;}
#container #content #profile #div_profile_gamelink {position:absolute;top:0;left:250px;width:520px;height:100%;min-height: 250px;padding: 10px;background-color:#fff;z-index:20;display:none}
#container #content #profile #div_profile_gamelink #img_gamelink_game {position: relative;margin-right: 5px;float:left;width: 50px;border-radius: 30px;cursor: pointer;z-index: 10;}
#container #content #profile #div_profile_gamelink #div_gamelink_games {position:absolute;top: 10px;left: 20px;background-color: RGBA(100,100,100,0.3);padding: 5px;padding-left: 50px;border-radius: 30px;z-index: 0;overflow: hidden;height: 50px;width:0px;display:none}
#container #content #profile #div_profile_gamelink #div_gamelink_games #p_gamelink_games{position: relative;width: 310px;height: 40px}
#container #content #profile #div_profile_gamelink #div_gamelink_games #p_gamelink_games .img_games_game{width: 40px;float:left;margin-left: 5px;margin-right: 5px;border-radius: 30px;cursor: pointer;}
#container #content #profile #div_profile_gamelink #input_gamelink_searchbar {width: 445px;margin-top: 2px;}
#container #content #profile #div_profile_gamelink .input_gamelink_btn{display:none}
#container #content #profile #div_profile_gamelink #btnRe{position:absolute;top: 18px;right: 132px;height: 33px;}
#container #content #profile #div_profile_gamelink #btnSave{position:absolute;top: 18px;right: 16px;height: 33px;}
#container #content #profile #div_profile_gamelink #div_gamelink_panel {width:100%;min-height: 140px;margin-top: 20px;}
#container #content #profile #div_profile_gamelink .alert-danger {position: absolute;width: 470px;height: 35px;padding-top: 7px;z-index: 100;}
#container #content #profile #div_profile_gamelink .alert-danger img{width: 20px;top: 0px;position: relative;margin-right: 2px;border-radius: 10px;}
#container #content #profile #div_profile_feedInput{position:relative;width: 518px;height:100%;background-color:#fafbfb;float:right}
#container #content #profile #div_profile_feedInput #textarea_feedinput_input{position:relative;width:500px;height:120px;margin:10px}
#container #content #profile #div_profile_feedInput #div_feedInput_btn{position:absolute;top:136px;width:520px;z-index:10}
#container #content #profile #div_profile_feedInput #div_feedInput_btn .btn{height:28px;line-height:15px;font-size:12px}
#container #content #profile #div_profile_feedInput #div_feedInput_btn #btn_feedInput_to{float:left;margin-left:60px}
#container #content #profile #div_profile_feedInput #div_feedInput_btn #div_btn_to{float:left}
#container #content #profile #div_profile_feedInput #div_feedInput_btn #div_btn_game{float:left}
#container #content #profile #div_profile_feedInput #div_feedInput_btn #div_btn_to ul{margin-left:60px}
#container #content #profile #div_profile_feedInput #div_feedInput_btn #btn_feedInput_game{float:left;margin-left:5px}
#container #content #profile #div_profile_feedInput #div_feedInput_btn #div_btn_game ul{margin-left:5px}
// #container #content #profile #div_profile_feedInput #div_feedInput_btn #btn_feedInput_post{margin-left:110px}
#container #content #profile #div_profile_feedInput #div_feedInput_btn #btn_feedInput_post{float:right;margin-right:10px}
#container #content #profile #div_profile_feedInput #div_feedInput_arrow{position:relative;width:500px;height:80px;margin-top:40px;margin-left:10px;text-align:center}
#container #content #profile #div_profile_feedInput #div_feedInput_arrow .div_arrow_icon{margin:0 5px;float:left;width: 114px;height: 75px;}
#container #content #profile #div_profile_feedInput #div_feedInput_arrow .div_arrow_icon .icon i{font-size: 35px;margin-top: 12px;}
#container #content #profile #div_profile_feedInput #div_feedInput_arrow .div_arrow_icon .name{font-size:15px}
#container #content #profile #div_profile_feedInput #div_feedInput_arrow #div_arrow_icon1 {color:#e67e22;}
#container #content #profile #div_profile_feedInput #div_feedInput_arrow #div_arrow_icon1:hover {color:#d35400;}
#container #content #profile #div_profile_feedInput #div_feedInput_arrow #div_arrow_icon2 {color:#2ecc71;}
#container #content #profile #div_profile_feedInput #div_feedInput_arrow #div_arrow_icon2:hover {color:#27ae60;}
#container #content #profile #div_profile_feedInput #div_feedInput_arrow #div_arrow_icon3 {color:#3498db;}
#container #content #profile #div_profile_feedInput #div_feedInput_arrow #div_arrow_icon3:hover {color:#2980b9;}
#container #content #profile #div_profile_feedInput #div_feedInput_arrow #div_arrow_icon4 {color:#e74c3c;}
#container #content #profile #div_profile_feedInput #div_feedInput_arrow #div_arrow_icon4:hover {color:#c0392b;}

#container #aside{background-image:url(/static/img/main_aside_bg.png);background-repeat:repeat-y}