#header #content > ul > li#li_head_home {border-bottom:5px solid #c0392b;}

#container{}
#container #gamelink_tutor {position: absolute;top: 45px;left:50%;text-align:center;margin-left:-400px;margin-top:5px;width: 800px;padding:10px;background-color:#e74c3c;border:0;z-index: 1000;cursor: pointer;}
#container #gamelink_tutor:hover{background-color:#c0392b;}
#container #gamelink_tutor span {font-size: 15px;font-family:'RixSGo B';color:#fff;}
#container #gamelink_tutor a {margin-left:20px;font-weight: normal;font-size: 14px;color:#fff}

#container #content{}

p.title {padding-left: 20px;font-size: 18px;font-family: 'RixSGo B';color: #999;margin-top: 20px;}

#container #content #top_information { margin: 10px;margin-bottom: 20px;padding: 0 15px;line-height: 50px; font-family: 'RixSGo B'; border-radius: 4px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);box-shadow: 0 1px 1px rgba(0,0,0,0.05); }
#container #content #top_information .close { line-height:inherit }
#container #content #top_information .btn { float: right;margin-right: 10px;margin-top: 10px; }

#container #content #display { height: 220px;background-color:#2F343D ; display: none;}
#container #content #display .display_title { height:50px;background-color:#232b34 }
#container #content #display .display_title .display_title_live { background-color:#e74c3c ; color: #fff; font-size: 15px; padding: 5px 10px; letter-spacing: 3px; line-height: 50px; border-radius: 3px; margin-left: 10px;}
#container #content #display .display_title .display_title_name { color: #fff; font-size: 1.1em;margin-left: 10px; }
#container #content #display .display_title_btn { float: right;line-height: 50px;margin-right: 10px;color: #fff; font-size: 20px;cursor:pointer;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;}
#container #content #display .display_title_btn i:hover { color:#aaa }
#container #content #display .display_body { position:relative;width:100%;color:#fff }

#container #content #display .display_body .display_body_left {width:50%;float:left;text-align:right;padding-top: 15px;padding-right: 50px;}
#container #content #display .display_body .display_body_left .display_left_groupicon {width:60px;margin-left: 10px;float: right;}
#container #content #display .display_body .display_body_left .display_left_text .display_left_name {font-size: 20px;}
#container #content #display .display_body .display_body_left .display_left_text .display_left_bos { position:relative ; margin-top: 8px; letter-spacing: 3px;}
#container #content #display .display_body .display_body_left .display_left_text .display_lose { color: #505861;}
#container #content #display .display_body .display_body_left .display_left_member { position:relative ; padding-top: 20px;}
#container #content #display .display_body .display_body_left .display_left_member .display_member {float: right;width: 62px;padding: 0 6px;text-align: center;}
#container #content #display .display_body .display_body_left .display_left_member .display_member img {width: 35px;border-radius: 35px;}
#container #content #display .display_body .display_body_left .display_left_member .display_member p {font-size: 12px;word-break: break-word;line-height: 12px;margin-top: 5px;}

#container #content #display .display_body .display_body_right {width:50%;float:right;text-align:left;padding-top: 15px; padding-left: 50px;}
#container #content #display .display_body .display_body_right .display_right_groupicon {width:60px;margin-right: 10px;float: left;}
#container #content #display .display_body .display_body_right .display_right_text .display_right_name {font-size: 20px;}
#container #content #display .display_body .display_body_right .display_right_text .display_right_bos { position:relative ;margin-top: 8px; letter-spacing: 3px;}
#container #content #display .display_body .display_body_right .display_right_text .display_lose { color: #505861;}
#container #content #display .display_body .display_body_right .display_right_member { position:relative ; padding-top: 20px;}
#container #content #display .display_body .display_body_right .display_right_member .display_member {float:left;width: 62px;padding: 0 6px;text-align: center;}
#container #content #display .display_body .display_body_right .display_right_member .display_member img {width: 35px;border-radius: 35px;}
#container #content #display .display_body .display_body_right .display_right_member .display_member p {font-size:12px;word-break: break-word;line-height: 12px;margin-top: 5px;}

#container #content #display .display_body .display_body_center {position:absolute;top:0;left:50%;margin-left:-50px;width:100px;height:100%;text-align:center}
#container #content #display .display_body .display_body_center .center_vs { position: relative; top: 30px; font-size: 30px; font-family:'RixSGo B';}
#container #content #display .display_body .display_body_center .center_gamename { position: relative; top: 40px; font-size: 10px;}

#container #content #link_league {height:200px;margin-top: 10px;}
#container #content #link_league #link_league_img {float:left}
#container #content #link_league #link_league_img img {height:200px}
#container #content #link_league #link_league_con {float:right;position: relative;width: 247px;height: 100%;margin: 0 10px;}
#container #content #link_league #link_league_con #link_league_title {width:100%;font-size: 15px;text-align:center;padding-top: 50px;font-family: "RixSGo B";}
#container #content #link_league #link_league_con #link_league_inf { width:100%; font-size: 12px;text-align:center; padding-top: 20px; color: #666;}
#container #content #link_league #link_league_con button {width:100%;bottom: 10px;position: absolute;}

#container #content #feed_pub {margin-bottom: 10px;}

#aside #profile .profile_subtitle { border-top:1px solid #eee;border-bottom:1px solid #eee;padding:5px; font-size: 12px;}
#aside #profile #profile_top {width:100%;height: 80px;}
#aside #profile #profile_top #img_usericon { width:50px; border-radius: 50px;border:1px solid #ddd; margin: 15px;float:left}
#aside #profile #profile_top #p_username { font-size: 14px;font-family:'RixSGo B'; padding-top: 20px;}
#aside #profile #profile_top #p_groupname { color:#999 }
#aside #profile #profile_bottom .div_link_game{position:relative;width:100%;height:60px;overflow:hidden;border-top:1px solid #999999;background-color: #000;cursor:pointer;}
#aside #profile #profile_bottom .div_link_game .div_gamelink_bg {position:absolute;top:0;bottom:0;left:0;right:0;}
#aside #profile #profile_bottom .div_link_game .div_gamelink_bg {background-size:100% auto;background-repeat:no-repeat;background-position: 50% 50%;opacity: 0.4;}
#aside #profile #profile_bottom .div_link_game .img_gamelink_icon{position: relative;width:50px;margin:5px;border: 1px solid #666;background-color: #ddd;border-radius: 50px;}
#aside #profile #profile_bottom .div_link_game p{position:absolute;right:10px;bottom:5px;color:#FFF;font-size:15px}

#aside #profile #profile_bottom .div_link_btn { text-align:center ; padding: 15px; font-size: 13px; line-height: 20px;}
#aside #profile #profile_bottom .div_link_btn #btnGamelink { width: 100% }
#aside #profile #profile_bottom .div_link_btn_s { text-align:center; height:49px ; line-height: 49px; font-size: 12px;}
#aside #profile #profile_bottom .div_link_btn_s #btnGamelink_s { margin-left:10px }

.div_globalfeed {position: relative;height: 200px;background-color:#2c2c2c;cursor:pointer}
.div_globalfeed .div_box_img { width:100%; height: 140px }
.div_globalfeed .div_box_user {position:absolute;bottom: 90px;right: 10px;line-height: 20px;background-color: #fff;font-size: 12px;padding-right: 5px;border-radius:10px}
.div_globalfeed .div_box_user img{height: 20px;margin-right:5px;border-radius:10px}
.div_globalfeed .div_box_con { position: absolute;bottom: 0;left: 0;width: 100%; height: 80px; background-color: #FFF; box-shadow: 1px -2px 10px RGBA(0,0,0,0.5); color: #000; padding: 15px; font-size: 13px; }
.div_globalfeed .div_box_con .p_con_title { font-family: "RixSGo B";font-size:13px;color:#000 }
.div_globalfeed .div_box_con .p_con_txt { font-size:12px;color:#666 }
.div_globalfeed .div_box_con .p_con_txt img {display:none}
.div_globalfeed .div_box_con .div_gra { position: absolute; bottom: 0px;left:0;width:100%; height: 30px; background: linear-gradient( to bottom, RGBA(255,255,255,0.0), white ); }

#feed_private .div_sys {padding:10px}
#feed_private .div_sys .div_feed_type {float:right}
#feed_private .div_sys .div_feed_type i{font-size: 20px;margin-left: 10px;color:#aaa}
#feed_private .div_sys .div_feed_icon {width:30px;height:30px;overflow:hidden;border-radius: 30px;margin-right: 5px;float:left}
#feed_private .div_sys .div_feed_icon img{width:100%}
#feed_private .div_sys .p_feed_username {padding-right: 5px;font-family: "RixSGo B";line-height: 1.5;}
#feed_private .div_sys .h2_feed_con {line-height: 1.5;margin-left: 35px;min-height: 30px;}
#feed_private .div_sys .p_feed_date {float: left;font-size: 10px;color: #999;margin-top: 5px;}
#feed_private .div_sys .div_feed_con {float: left;width:33.33%;text-align: center}
#feed_private .div_sys .div_feed_con img { width:60px;height:60px;border-radius: 60px;margin:10px;border:1px solid #ddd}
#feed_private .div_sys .div_feed_con .p_feed_groupname { text-align: center }
#feed_private .div_sys .div_feed_con .p_feed_res {width:100%;font-family: "RixSGo B";font-size:25px;line-height: 60px;margin-top:10px;text-align: center}
#feed_private .div_sys .div_feed_con .p_feed_date {width:100%;text-align: center}

#GlobalFeedModal {overflow: hidden}
#GlobalFeedModal .modal-dialog {width:1000px;}
#GlobalFeedModal .modal-content {height:0px}
#GlobalFeedModal #div_globalfeed_body {height:100%}

#GlobalFeedModal #div_gf_left {width:660px;height:100%;overflow:hidden;overflow-y: scroll;float: left;}
#GlobalFeedModal #div_gf_left #div_left_src {width: 660px;height: 280px;overflow:hidden}
#GlobalFeedModal #div_gf_left #div_left_title {width:660px;font-size: 20px;font-family: "RixSGo B";padding: 30px 60px;padding-bottom: 0;}
#GlobalFeedModal #div_gf_left #div_left_con {width:660px;font-size: 15px;padding: 10px 90px;line-height: 25px;}
#GlobalFeedModal #div_gf_left #div_left_con p {font-size: 15px;line-height: 25px;margin: 15px 0;text-indent: 10px;}
#GlobalFeedModal #div_gf_left #div_left_con em {font-family: "RixSGo B"}
#GlobalFeedModal #div_gf_left #div_left_con b {font-family: "RixSGo B"}
#GlobalFeedModal #div_gf_left #div_left_con img {max-width:100%;max-height:300px}

#GlobalFeedModal #div_gf_right {float:right;width: 314px;height: 100%;margin-right: 4px;overflow: hidden;overflow-y: scroll;}
#GlobalFeedModal #div_gf_right #div_right_author {height: 80px;}
#GlobalFeedModal #div_gf_right #div_right_author .img_author_icon {width: 50px;border-radius: 50px;border: 1px solid #ddd;margin: 14px;float: left;}
#GlobalFeedModal #div_gf_right #div_right_author .p_author_name {font-size: 14px;font-family: 'RixSGo B';padding-top: 20px;}
#GlobalFeedModal #div_gf_right #div_right_author .p_author_email {font-size:12px;color: #999;}

#GlobalFeedModal #div_gf_right #div_right_feedTitle{line-height: 45px;padding:0 10px;font-size: 15px;border-top:1px solid #dfe3eb;border-bottom:1px solid #dfe3eb;}
#GlobalFeedModal #div_gf_right #div_right_feedTitle #textarea_feedinput_input{font-size: 12px;}
#GlobalFeedModal #div_gf_right #div_right_feedTitle #div_feedInput_btn{text-align: right;padding: 3px 0;}
#GlobalFeedModal #div_gf_right #div_right_feed{width: 92%;overflow-y: auto;margin: 4%;}


#input-box, #input-textarea, #hidden-input-box {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.followed-btn, .follow-btn {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.followed-btn {
    background-color: #1ABC9C;
    color: #fff;
    width: 100px;
}

.followed-btn:hover {
    background-color: #E74C3C;
    color: #fff;
}

.follow-btn {
    background-color: transparent;
    color: #3498DB;
    border: 1px solid #3498DB;
    width: 100px;
}

.follow-btn:hover {
    background-color: #3498DB;
    color: #fff;
}

#hidden-input-box {
    display: none;
}

#input-url {
    display: none;
}

#post-btn {
    display: none;
}

#post-cancel-btn {
    margin-left: 5px;
    display: none;
}

.col-md-4, .col-sm-6, .col-xs-12 {
    padding-left: 10px;
    padding-right: 10px;
}

.fa-add {
    color: gray;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

.fa-add:hover {
    color: #000;
}

.p-subject {
    color: darkgray;
}
.card-headline {
    margin-bottom: 10px;
}

.p-headline {
    font-size: 12px;
    color: darkgray;
}

#side-navbar {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid lightgray;
}

.card {
    background-color: #fff;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid lightgray;
}


#side-navbar {
    margin-top: 72px;
    position: fixed;
    right: 0;
    width: 240px;
    max-height: 100%;
}


.div-group-icon {
    width: 25%;
    float: left;
}

.div-group-name {
    width: 55%;
    float: left;
}

.div-group-people {
    width: 20%;
    float: left;
}


.group-icon, .profile-icon {
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.profile-icon {
    border-radius: 50px;
    border: 1px solid lightgray;
}

.profile-icon-sm {
    width: 35px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.p-group-name {
    margin-top: 15px;
    font-size: 14px;
    font-family:'RixSGo B';
}

.p-group-people {
    margin-top: 15px;
    font-size: 14px;
}

.group-row {
    cursor: pointer;
}

.group-row:hover {
    background-color: #EAEAEA;
}

.division-line {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid lightgray;
}

.division-line-long {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-box {
    padding-left: 0px;
    padding-right: 0px;
}

.stream-ele {
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.stream-ele:hover {
    background-color: lightgray;
}

.stream-row {
    overflow-y: scroll;
    max-height: 360px;
    border: 1px solid lightgray;

}

.div-stream-icon {
    width: 20%;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}

.div-stream-content {
    width: 80%;
    float: left;
    padding: 5px;
}

.stream-icon {
    width: 40px;
}

.div-card-icon {
    width: 50px;
    float: left;
}

.div-card-name {
    margin-left: 10px;
    float: left;
    margin-top: 3px;
}

.div-card-name a:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
}

.div-card-name p:nth-child(2) {
    font-size: 12px;
    color: darkgray;
}

.div-card-content {
    margin-top: 15px;
}

.div-card-content p {
    font-size: 14px;
}

.div-card-content p a {
    color: royalblue;
}

.div-card-btns {
    margin-top: 15px;
    margin-bottom: 20px;
}

.div-card-reply {
    margin-top: 10px;
    max-height: 240px;
    overflow-y: auto;
}

.input-reply {
    margin-bottom: 5px;
    width: 100%;
}

@media (max-width: 768px) {
    .div-reply-content, .input-reply-short {
        width: 88%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .div-reply-content, .input-reply-short {
        width: 84%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .div-reply-content, .input-reply-short {
        width: 81%;
    }
}

@media (min-width: 1200px) {
    .div-reply-content, .input-reply-short {
        width: 85%;
    }
}

.div-reply-content span:nth-child(1) {
    font-size: 12px;
    font-weight: bold;
}

.div-reply-content span:nth-child(2) {
    font-size: 12px;
    color: darkgray;
}

.div-reply-content p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.div-reply-input {
    margin-top: 10px;
}

.num-replys {
    font-size: 12px;
}

.num-replys:hover {
    color: royalblue;
    cursor: pointer;
}

#video-view {
    margin-top: -17px;
    margin-bottom: 10px;
}

#temp-gallery {
    margin-top: -7px;
    margin-bottom: 10px;
    background-color: lightgray;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.picture-add-box, .picture-box {
    width: 23%;
    text-align: center;
    height: 100%;
    border: 1px dashed black;
    float: left;
    margin: 5px;
}

.picture-add-box {
    padding: 20px;
    cursor: pointer;
}

.picture-add-box:hover {
    background-color: gray;
}

#upload-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper {
    position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-bottom: 56.26%;
}

.video-wrapper .video-frame {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.profile-popover {
    position: fixed;
    background-color: white;
    width: 160px;
    display: none;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.9);
    box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.9);
    z-index: 5;
    padding: 20px;
    text-align: center;
}

#reply-username {
    font-weight: bold;
}

.post-img  {
    float: left;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid white;
    max-width: 100%; min-width: 100%; height: 0; padding-bottom: 100%;
}

.post-img-1 {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.post-img-2 {
    max-width: 50%;
    min-width: 50%;
    padding-bottom: 50%;
}

.post-img-3 {
    max-width: 66.84%;
    min-width: 66.84%;
    padding-bottom: 66.84%;
}

.post-img-4 {
    max-width: 75.25%;
    min-width: 75.25%;
    padding-bottom: 75.25%;
}

.dropzone {
    border: 2px dashed lightgray;
    width: 100%;
    min-height: 100px;
    height: auto;
    cursor: pointer;
    margin-bottom: 15px;
    text-align: center;
}

canvas {
    min-width: 20%;
    max-width: 20%;
    margin: 10px;
    border: 1px solid lightgray;
}

canvas:hover {
    filter: gray;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}