#profileBG {position:absolute;top:46px;width:100%;height: 300px;background-color: #000;background-repeat: no-repeat;background-position: center center;background-size: 100% auto;z-index:0}
#profileBG #profileBG_filter{width:100%;height:100%;background-image: url(http://redbomba.net/static/img/stats/profileBG.png);}

p.title {padding-left: 20px;font-size: 12px;font-family:'RixSGo B';color: #999;margin-top: 10px;}

#container{}
#container #content{}
#container #profile{position:relative;width:auto;height: 300px;background-color: #000;background-repeat: no-repeat;background-position: top center;background-size: 100% auto;margin: 0;border: 0;}
#container #profile #img_profile_bg {width: 100%;height: 60%;position: absolute;bottom: 0;}
#container #profile #img_profile_usericon {position: absolute;width: 80px;bottom: 15px;left: 20px;border-radius: 40px;background-color: #fff;}
#container #profile #p_profile_username{position: absolute;bottom: 35px;left: 115px;color: #FFF;font-size: 30px;font-family:'RixSGo B';}

#container #profile #div_profile_gamelink {position:absolute;text-align:right;right: 10px;bottom: 10px;}
#container #profile #div_profile_gamelink .div_gamelink_game {position:relative;width: 60px;float:left;margin: 0 5px;cursor: pointer;}
#container #profile #div_profile_gamelink .div_gamelink_game .img_gamelink_icon {width:100%;border-radius: 30px;margin-bottom: 5px;}
#container #profile #div_profile_gamelink .div_gamelink_game .p_gamelink_name {width: 100%;text-align: center;color: #ddd;font-size: 8px;line-height: 10px;}
#container #profile #div_profile_gamelink #div_gamelink_gameadd i {font-size:65px;color:#f1c40f}

#myarenalist {padding:20px;padding-bottom:0}
#myarenalist .arenapass{position:relative;height: 230px;padding-bottom: 20px;}
#myarenalist .arenapass .pass_top{width:100%;height:40px;padding-left:10px;background-color:#fff;color:#747474;font-size:18px;line-height:40px}
#myarenalist .arenapass .div_pass_left{float:left;position:relative;width: 528px;height:100%;overflow:hidden;background-color:#f4f4f4;border-radius:10px;border-top:1px solid #f4f4f4;border-right:1px dashed #ddd;border-bottom:1px solid #e0e0e0}
#myarenalist .arenapass .div_pass_left .div_passleft_left{float:left;width:45px;height:100%;color:#fff;line-height:45px;font-size:20px;font-family:'RixSGo B';text-align:center;writing-mode:tb-rl;-webkit-writing-mode:vertical-rl;background-color:#e74c3c}
#myarenalist .arenapass .div_pass_left .div_passleft_right{height:100%;margin-left: 45px;}
.arenapass .pass_bottom {margin-top:8px;margin-left:10px}
.arenapass .pass_bottom .title{color:#747474;font-size:15px;}
.arenapass .pass_bottom .round{color:#474747;font-size:12px;line-height:25px}
.arenapass .pass_bottom .time{color:#474747;font-size:20px;font-family:'RixSGo B';margin-top:5px;}
.arenapass .pass_bottom .date{font-size:12px;color:#747474;line-height:12px}
.arenapass .pass_bottom .group{line-height:30px;color:#474747;font-size:15px}
.arenapass .pass_bottom .group img{width:24px;height:24px;margin-right: 5px}
.arenapass .pass_bottom .group .res{color:#474747;font-size:25px;font-family:'RixSGo B';}
.arenapass .pass_bottom .group .vs{color:#474747;font-size:15px;margin:0 10px;}
.arenapass .pass_bottom .group-sm {line-height:25px;color:#474747;font-size:12px}
.arenapass .pass_bottom .group-sm img{width: 20px;height:20px;margin-right: 2px;}
.arenapass .pass_bottom .group-sm .vs{color:#474747;font-size:12px;margin:0 5px;}
.arenapass .pass_bottom .p_btn_winner{position: relative;top:-3px;font-size: 13px;line-height: 30px;}
.arenapass .pass_bottom .p_btn_winner .medal{margin:2px 5px 2px 0px;}
.arenapass .pass_bottom .p_btn_winner .group_icon{margin:0;height:35px;}
.arenapass .pass_bottom #win_1{margin-left:35px;text-indent:-35px;font-family:'RixSGo B';}
.arenapass .pass_bottom #win_3_1{margin-left:35px;text-indent:-35px}
.arenapass .pass_bottom #win_3_1 .medal{margin-right:0;}
.arenapass .pass_bottom #win_3_1 .group_icon:last-child{margin-left:5px;}
.arenapass #btnEnter{position:absolute;bottom:10px;right:10px;width:180px;}
.arenapass .btn[disabled]{background-color:#aaa;border:none}
#myarenalist .arenapass .div_pass_right{float:right;position:relative;width:200px;height:100%;overflow:hidden;background-color:#f4f4f4;border-radius:10px;border-right:1px solid #e0e0e0;border-top:1px solid #f4f4f4;border-bottom:1px solid #e0e0e0}

#container #aside{}

#container #aside #wait_group p{margin: 10px;font-size: 15px;padding: 5px;background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05); box-shadow: 0 1px 1px rgba(0,0,0,0.05);}
#container #aside #wait_group p img{width: 35px;}
#container #aside #wait_group p button {float:right;margin-top: 3px;margin-right: 2px;}

#container #aside .group_add {background-color:#f1c40f;text-align:center;padding:20px}
#container #aside .group_add #btnMakeGroup{background-color: RGBA(0,0,0,0.5);width: 160px;height: 50px;color: #FFF;margin: 10px 0;border: 0;}
#container #aside .group_add #btnMakeGroup:hover{background-color: RGBA(0,0,0,0.6);}
#container #aside #nogroup{font-size: 18px;color: #aaa;font-family:'RixSGo B';padding: 40px 0;text-align: center}
#container #aside .group {position:relative;}
#container #aside .group .div_grouop_notactive{position:absolute;width:100%;text-align:center;font-size:20px;color:#FFF;height:100%;padding-top:65px;background-color:RGBA(0,0,0,0.8);z-index:10}
#container #aside .group .div_grouop_notactive b{color:#5cb85c}
#container #aside .group .div_grouop_notactive .btn{width:80px;margin:10px}
#container #aside .group .div_group_head{position:relative;height:40px;background-color:#16a085;line-height:40px;color:#FFF;font-family:'RixSGo B';font-size:15px}
#container #aside .group .div_group_head li:nth-child(1){float:left;width:30px;margin-left:5px;margin-right:5px;overflow:hidden;}
#container #aside .group .div_group_head li:nth-child(1) img{min-width:30px;min-height:30px;width:100%}
#container #aside .group .div_group_head li:nth-child(2){float:left;letter-spacing: -1px;}
#container #aside .group .div_group_head #btnGroupPage{float:right;height:40px;padding:0 10px;text-align:center;border-left:1px solid #11806a;font-weight:normal;font-size: 12px;}
#container #aside .group .div_group_head #btnGroupPage:hover{background-color:RGBA(0,0,0,0.1)}
#container #aside .group .div_group_memlist{float:left;position:relative;width: 100%;height:100%;min-height:200px;background-color:#282828}
#container #aside .group .div_group_memlist .div_memlist_mem{position:relative;min-height:165px;padding:10px;display: table;}
#container #aside .group .div_group_memlist .div_memlist_mem .div_mem{float:left;display: table-caption;position:relative;width: 102px;height: 40px;text-align:center;margin: 5px 0;}
#container #aside .group .div_group_memlist .div_memlist_mem .div_mem #usericon{position:relative;width: 40px;height: 40px;border-radius: 35px;float: left;}
#container #aside .group .div_group_memlist .div_memlist_mem .div_mem #conn{position:absolute;top: 25px;left: 25px;width:15px;height:15px}
#container #aside .group .div_group_memlist .div_memlist_mem .div_mem #notactive{position:absolute;top:0px;width: 40px;height: 40px;font-size:10px;line-height:38px;color:#FFF;border-radius: 40px;background-color:RGBA(0,0,0,0.6)}
#container #aside .group .div_group_memlist .div_memlist_mem .div_mem .host{border: 2px solid #f1c40f;}
#container #aside .group .div_group_memlist .div_memlist_mem .div_mem .p_mem_username{color:#fff;width: 62px;font-size:10px;height: 40px;text-align: left;position: relative;display: table-cell;vertical-align: middle;padding-left: 5px;line-height: 12px;}
#container #aside .group .div_group_memlist #insertMem{float:right;width:50px;height:27px;margin:3px 3px;padding:0;color:#FFF;background-color:#282828}
#container #aside .group .div_group_memlist #removeMem{float:right;width:50px;height:27px;margin:3px 3px;padding:0;color:#FFF;background-color:#282828}
#container #aside .group .div_group_memlist .inputset {position:relative;padding:0 5px}
#container #aside .group .div_group_memlist .inputset .input-group-addon{background-color:#999;padding:0 5px}
#container #aside .group .div_group_memlist .inputset .input-group-addon *{margin:0;padding:0}
#container #aside .group .div_group_memlist .inputset .div_inputset_memlist{ position:absolute; width: 320px;max-height:150px;overflow-y:scroll;bottom:33px;left:5px;background-color:RGBA(255,255,255,0.93);
                                                                             line-height:30px;font-family:'RixSGo B';color:#383838;border-radius:3px;display:none }
#container #aside .group .div_group_memlist .inputset .div_inputset_memlist #ul_memlist_list li{height:30px;border-bottom:1px solid #ddd}
#container #aside .group .div_group_memlist .inputset .div_inputset_memlist #ul_memlist_list li:hover{background-color:RGBA(255,255,255,0.98)}
#container #aside .group .div_group_memlist .inputset .div_inputset_memlist #ul_memlist_list li img{float:left;width:30px;height:30px;margin-right:5px}