<div id="lock">
  <p id='title'>게임이 곧 시작됩니다.</p>
  <p id='subtitle'>게임 클라이언트로 돌아가주세요.</p>
  <p id='desc'>경기 종료 후 화면잠금이 풀립니다.</p>
</div>
  <!-- Modal2 -->
  <div class="modal fade" id="state_2" data-backdrop="static" data-keyboard="false" aria-hidden="false"  data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <ul>
            <li><h1>'사용자 설정 게임'이 생성되었습니다.</h1></li>
            <li><p>경기 시작을 위해,</p></li>
            <li><p><a href="#" data-toggle="tooltip" data-placement="right" data-html="true" title="<img src='/static/img/battle_modal2_guide1.png'>">아래의 방으로 접속<i class="fa fa-question-circle"></i></a>해 주세요.</p></li>
            <li>
              <div class="panel panel-default">
                <div class="panel-body">
                  <ul id="room">
                    <li><p>방 이름 : <input type="text" id="roomtitle" class="form-control" readonly="readonly" value=""></p>
                    </li>
                    <li><p>방 비밀번호 : <input type="text" id="roompass" class="form-control" readonly="readonly" value="{{ league.team_a.date_updated|date:'is' }}"></p>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li><p>{{group.uid.username}}이 '경기 준비완료'를 승인하면,<br/>해당 창은 사라집니다.</p></li>
          </ul>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% if next_round == None %}
<!-- Modal3 -->
  <div class="modal fade" id="winner" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content" style='background-color:#e74c3c'>
        <div class="modal-body">
          <ul>
            <li><H1 style='color:#fff;font-size:30px'>1등</H1></li>
            <li><p><img src="/static/img/img-3.png"></p></li>
            <li></li>
            <li></li>
            <li><p><button type="button" class="btn btn-warning" id="btnClose">전리품 수령</button></p></li>
          </ul>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% else %}
<!-- Modal3 -->
  <div class="modal fade" id="winner" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <ul>
            <li><h1>축하합니다!</h1></li>
            <li><p><img src="/static/img/img-1.jpg"></p></li>
            <li><H3>다음 라운드에 진출하였습니다.<br />다음 라운드 일정은 X일 후 생성됩니다.</H3></li>
            <li><p>알림 혹은 My Arena에서 확인하세요</p></li>
            <li><p><button type="button" class="btn btn-warning" id="btnWin">나가기</button></p></li>
          </ul>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endif %}
{% if next_round == None %}
<!-- Modal4 -->
  <div class="modal fade" id="loser" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <ul>
            <li><h1>침착해! 침착해! 침착해!</h1></li>
            <li><p><img src="/static/img/img-2.jpg"></p></li>
            <li><H3>...</H3></li>
            <li><p>.....후</p></li>
            <li><p><button type="button" class="btn btn-warning" id="btnLose">전리품 수령</button></p></li>
          </ul>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% else %}
<!-- Modal4 -->
  <div class="modal fade" id="loser" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <ul>
            <li><h1>침착해! 침착해! 침착해!</h1></li>
            <li><p><img src="/static/img/img-2.jpg"></p></li>
            <li><H3>이건 연습일 뿐<br />새로운 대회를 찾아보자</H3></li>
            <li><p>알림 혹은 My Arena에서 확인하세요</p></li>
            <li><p><button type="button" class="btn btn-warning" id="btnLose">더 많은 대회 찾아보기</button></p></li>
          </ul>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endif %}
<script>    
  $("[data-toggle='tooltip']").tooltip();
  
  $('#state_2 #roomtitle').val(Base64.encode("{{league.host.username}}"));
  $('#btnWin').click(function(){
    location.href = "/arena/";
  });
  $('#btnLose').click(function(){
    location.href = "/arena/";
  });
  $('#btnClose').click(function(){
    location.href = "/arena/";
  });
</script>