<div id="div_globalfeed_body">
    <div id="div_gf_left">
        <div id="div_left_src" class="focuspoint" data-focus-x="{{ news.focus_x }}" data-focus-y="{{ news.focus_y }}">
            <img src="/media/{{ news.src }}">
        </div>
        <p id="div_left_title">{{ news.title }}</p>
        <div id="div_left_con">{{ news.con|linebreaks }}</div>
    </div>
    <div id="div_gf_right">
        <div id="div_right_author">
            <img class="img_author_icon" src="{{ news.user.get_profile.src.url }}">
            <p class="p_author_name">{{ news.user.username }}</p>
            <p class="p_author_email">{{ news.user.email }}</p>
        </div>
        <div id='div_right_feedTitle'>실시간 반응
            {% if user %}
                <div id='div_feedTitle_input'>
                    <form role="form" id="div_feedInput_form" name="div_feedInput_form" method="post" action="/">
                        <textarea id="textarea_feedinput_input" class="form-control" placeholder="질문이나 반응을 올려보세요!"></textarea>
                        <div id="div_feedInput_btn">
                            <button type="button" id="btn_feedInput_post" class="btn btn-primary btn-xs">올리기</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
        <div id="div_right_feed">&nbsp;</div>
    </div>
</div>
<script>
    var feed_news_len = 5;

    $('.focuspoint').focusPoint()

    readFeed("#div_right_feed","/feed/?gcid={{ news.id }}",feed_news_len,0);

    var w_h = $(window).height()-60;
    $("#GlobalFeedModal .modal-content").css({"height":w_h+"px"});
    $(window).resize(function(){
        w_h = $(window).height()-60;
        $("#GlobalFeedModal .modal-content").css({"height":w_h+"px"});
    });

    $("#div_globalfeed_body #div_left_con").html(markdown.toHTML($("#div_globalfeed_body #div_left_con").text()));

    $("#btn_feedInput_post").click(function(){
        $("#div_right_feed").load("/feed/post/?gcid={{ news.id }}&len="+feed_news_len,{
            'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val(),
            'con_txt':$('#textarea_feedinput_input').val()
        });
        $('#textarea_feedinput_input').val("");
    });
</script>