{% load arena_extras %}

{% if state.isHost and state.canMatchMaker %}
    <button class="btn btn-success" id="btnMatchMaker">Start Round{{state.canMatchMaker.round}}</button>
    <input type="hidden" id="round_id" name="round_id" value="{{state.canMatchMaker.id}}" />
    <input type="hidden" id="round_no" name="round_no" value="{{state.canMatchMaker.round}}" />
{% endif %}

{% if state.no == -3 %}
    접수 전입니다.
{% elif state.no == -2 %}
    <button class="btn btn-primary disabled"><i class="fa fa-check-circle"></i> 참가신청</button>
    <div class="tooltip fade bottom in" style="display: block; top: 104px; left: 0px;">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
            <b>참가조건이 안됨</b><br/>
            <p class="p_tooltip_con">
                {% if state.isInGroup %}<font color='#40d47e'><i class='fa fa-check-circle'>{% else %}
                    <font color='#e74c3c'><i class='fa fa-times-circle'>{% endif %}</i></font> 소속그룹이 있어야 합니다.
            </p>
            <p class="p_tooltip_con">
                {% if state.isFiveLink %}<font color='#40d47e'><i class='fa fa-check-circle'>{% else %}
                    <font color='#f1c40f'><i class='fa fa-exclamation-circle'>{% endif %}</i></font> 소속그룹 인원이 모두 게임계정 연결을 해야 합니다.
            </p>
            <p class="p_tooltip_con">
                {% if state.isFiveMem %}<font color='#40d47e'><i class='fa fa-check-circle'>{% else %}
                    <font color='#f1c40f'><i class='fa fa-exclamation-circle'>{% endif %}</i></font> 소속그룹 인원이 5명 이상이어야 합니다.
            </p>
            <p class="p_tooltip_con">
                {% if state.isLeader == None %}<font color='#e74c3c'><i class='fa fa-times-circle'>{% else %}
                    <font color='#40d47e'><i class='fa fa-check-circle'>{% endif %}</i></font> 그룹장이어야 합니다.
            </p>
            {% if state.isInGroup == None %}
                <a href="/stats/?get=mkgroup"><button id="btn_solve" class="btn btn-danger btn-xs">그룹 만들기</button></a>
            {% elif state.user.get_profile.get_gamelink == None %}
                <a href="/?get=GameLink"><button id="btn_solve" class="btn btn-danger btn-xs">게임 연결하기</button></a>
            {% elif state.isFiveLink == None %}
                <button id="btn_solve" class="btn btn-danger btn-xs" onclick="goGroupPage({{ state.user.get_profile.get_group.id }})">그룹멤버 현황보기</button>
            {% elif state.isFiveMem == None %}
                {% if state.isLeader %}
                    <button id="btn_solve" class="btn btn-danger btn-xs">그룹멤버 초대하기</button>
                {% else %}
                    <button id="btn_solve" class="btn btn-danger btn-xs" onclick="goGroupPage({{ state.user.get_profile.get_group.id }})">건의하기</button>
                {% endif %}
            {% elif state.isLeader == None %}
                <button id="btn_solve" class="btn btn-danger btn-xs" onclick="goGroupPage({{ state.user.get_profile.get_group.id }})">참가 건의하기</button>
            {% endif %}
        </div>
    </div>
{% elif state.no == -1 %}
    <button class="btn btn-primary" id="btnReserve"><i class="fa fa-check-circle"></i> 참가신청</button>
    <div class="tooltip fade bottom in" style="display: block; top: 104px; left: 0px;">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
            <b>참가조건이 안됨</b><br/>
            <p class="p_tooltip_con">
                {% if state.isInGroup %}<font color='#40d47e'><i class='fa fa-check-circle'>{% else %}
                    <font color='#e74c3c'><i class='fa fa-times-circle'>{% endif %}</i></font> 소속그룹이 있어야 합니다.
            </p>
            <p class="p_tooltip_con">
                {% if state.isFiveLink %}<font color='#40d47e'><i class='fa fa-check-circle'>{% else %}
                    <font color='#f1c40f'><i class='fa fa-exclamation-circle'>{% endif %}</i></font> 소속그룹 인원이 모두 게임계정 연결을 해야 합니다.
            </p>
            <p class="p_tooltip_con">
                {% if state.isFiveMem %}<font color='#40d47e'><i class='fa fa-check-circle'>{% else %}
                    <font color='#f1c40f'><i class='fa fa-exclamation-circle'>{% endif %}</i></font> 소속그룹 인원이 5명 이상이어야 합니다.
            </p>
            <p class="p_tooltip_con">
                {% if state.isLeader == None %}<font color='#e74c3c'><i class='fa fa-times-circle'>{% else %}
                    <font color='#40d47e'><i class='fa fa-check-circle'>{% endif %}</i></font> 그룹장이어야 합니다.
            </p>
            {% if state.isInGroup == None %}
                <a href="/stats/?get=mkgroup"><button id="btn_solve" class="btn btn-danger btn-xs">그룹 만들기</button></a>
            {% elif state.user.get_profile.get_gamelink == None %}
                <a href="/?get=GameLink"><button id="btn_solve" class="btn btn-danger btn-xs">게임 연결하기</button></a>
            {% elif state.isFiveLink == None %}
                <button id="btn_solve" class="btn btn-danger btn-xs" onclick="goGroupPage({{ state.user.get_profile.get_group.id }})">그룹멤버 현황보기</button>
            {% elif state.isFiveMem == None %}
                {% if state.isLeader %}
                    <button id="btn_solve" class="btn btn-danger btn-xs">그룹멤버 초대하기</button>
                {% else %}
                    <button id="btn_solve" class="btn btn-danger btn-xs" onclick="goGroupPage({{ state.user.get_profile.get_group.id }})">건의하기</button>
                {% endif %}
            {% elif state.isLeader == None %}
                <button id="btn_solve" class="btn btn-danger btn-xs" onclick="goGroupPage({{ state.user.get_profile.get_group.id }})">참가 건의하기</button>
            {% endif %}
        </div>
    </div>
{% elif state.no == 0 %}
    <button class="btn btn-primary" id="btnjoin"><i class="fa fa-check-circle"></i> 참가신청</button>
    <div class="tooltip fade bottom in" style="display: block; top: 104px; left: 0px;">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
            <b>참가조건이 완벽합니다.</b><br/>
            <p class="p_tooltip_con">
                {% if state.isInGroup %}<font color='#40d47e'><i class='fa fa-check-circle'>{% else %}
                    <font color='#e74c3c'><i class='fa fa-times-circle'>{% endif %}</i></font> 소속그룹이 있어야 합니다.
            </p>
            <p class="p_tooltip_con">
                {% if state.isFiveLink %}<font color='#40d47e'><i class='fa fa-check-circle'>{% else %}
                    <font color='#f1c40f'><i class='fa fa-exclamation-circle'>{% endif %}</i></font> 소속그룹 인원이 모두 게임계정 연결을 해야 합니다.
            </p>
            <p class="p_tooltip_con">
                {% if state.isFiveMem %}<font color='#40d47e'><i class='fa fa-check-circle'>{% else %}
                    <font color='#f1c40f'><i class='fa fa-exclamation-circle'>{% endif %}</i></font> 소속그룹 인원이 5명 이상이어야 합니다.
            </p>
            <p class="p_tooltip_con">
                {% if state.isLeader == None %}<font color='#e74c3c'><i class='fa fa-times-circle'>{% else %}
                    <font color='#40d47e'><i class='fa fa-check-circle'>{% endif %}</i></font> 그룹장이어야 합니다.
            </p>
        </div>
    </div>
{% elif state.no == 1 %}
    {% if state.isCompleteJoin.is_complete == 1 %}
        <button class="btn btn-default" id="btnjoin" disabled="disabled"><i class="fa fa-clock-o"></i> {{state.isCompleteJoin.round.round}}라운드 일정 대기 중</button>
        <p class="processMsg">일정은 {{state.isCompleteJoin.round.start|get_time_diff:"-"}} 발표됩니다.</p>
        <img src="/static/img/arena_card_div.png">

        {% if state.isLeader %}
            {% if state.isCompleteJoin.round.round > 1 %}
                <button class="btn btn-danger" id="btnAbstain"><i class="fa fa-times-circle"></i> 기권하기</button>
            {% else %}
                <button class="btn btn-danger" id="btnCancel"><i class="fa fa-times-circle"></i> 참가취소하기</button>
            {% endif %}
        {% else %}
            {% if state.isCompleteJoin.round.round > 1 %}
                <button class="btn btn-danger" id="btnAskAbstain"><i class="fa fa-times-circle"></i> 기권 요청하기</button>
            {% else %}
                <button class="btn btn-danger" id="btnAskCancel"><i class="fa fa-times-circle"></i> 참가취소 요청하기</button>
            {% endif %}
        {% endif %}

    {% else %}
        <button class="btn btn-default" id="btnjoin" disabled="disabled"><i class="fa fa-clock-o"></i> {{state.isCompleteJoin.round.round}}라운드 참가 대기 상태</button>
        <p class="processMsg">{{state.isCompleteJoin.round.start}}까지 조건을 갖추어 주세요.</p>
        <img src="/static/img/arena_card_div.png">

        {% if state.isLeader %}
            {% if state.isCompleteJoin.round.round > 1 %}
                <button class="btn btn-danger" id="btnAbstain"><i class="fa fa-times-circle"></i> 기권하기</button>
            {% else %}
                <button class="btn btn-danger" id="btnCancel"><i class="fa fa-times-circle"></i> 참가취소하기</button>
            {% endif %}
        {% else %}
            {% if state.isCompleteJoin.round.round > 1 %}
                <button class="btn btn-danger" id="btnAskAbstain"><i class="fa fa-times-circle"></i> 기권 요청하기</button>
            {% else %}
                <button class="btn btn-danger" id="btnAskCancel"><i class="fa fa-times-circle"></i> 참가취소 요청하기</button>
            {% endif %}
        {% endif %}

    {% endif %}
{% elif state.no == 2 %}
    <button class="btn btn-warning" id="btnEnter" disabled="disabled"><i class="fa fa-sign-in"></i> 배틀페이지로 입장</button>
    <p class="processMsg">배틀페이지는<br/>{{state.isRunMathMaker.date_match|sub_time:30|get_time_diff:"-"}} 입장 가능합니다.</p>
    <img src="/static/img/arena_card_div.png">
    {% if state.isLeader %}
        {% if state.isCompleteJoin.round.round > 1 %}
            <button class="btn btn-danger" id="btnAbstain"><i class="fa fa-times-circle"></i> 기권하기</button>
        {% else %}
            <button class="btn btn-danger" id="btnCancel"><i class="fa fa-times-circle"></i> 참가취소하기</button>
        {% endif %}
    {% else %}
        {% if state.isCompleteJoin.round.round > 1 %}
            <button class="btn btn-danger" id="btnAskAbstain"><i class="fa fa-times-circle"></i> 기권 요청하기</button>
        {% else %}
            <button class="btn btn-danger" id="btnAskCancel"><i class="fa fa-times-circle"></i> 참가취소 요청하기</button>
        {% endif %}
    {% endif %}
{% elif state.no == 3 %}
    <a href="/battle/?round={{state.isCompleteJoin.round.id}}"><button class="btn btn-warning" id="btnEnter"><i class="fa fa-sign-in"></i> 배틀페이지로 입장</button></a>
    <p class="processMsg">배틀페이지 입장이 가능합니다.<br/>행운을 빕니다!</p>
    <img src="/static/img/arena_card_div.png">
    {% if state.isLeader %}
        {% if state.isCompleteJoin.round.round > 1 %}
            <button class="btn btn-danger" id="btnAbstain"><i class="fa fa-times-circle"></i> 기권하기</button>
        {% else %}
            <button class="btn btn-danger" id="btnCancel"><i class="fa fa-times-circle"></i> 참가취소하기</button>
        {% endif %}
    {% else %}
        {% if state.isCompleteJoin.round.round > 1 %}
            <button class="btn btn-danger" id="btnAskAbstain"><i class="fa fa-times-circle"></i> 기권 요청하기</button>
        {% else %}
            <button class="btn btn-danger" id="btnAskCancel"><i class="fa fa-times-circle"></i> 참가취소 요청하기</button>
        {% endif %}
    {% endif %}
{% elif state.no == 4 %}
    {% if state.isCompleteJoin.round.round %}
        <button class="btn btn-warning" id="btnEnter" disabled="disabled"><i class="fa fa-frown-o"></i> {{state.isCompleteJoin.round.round}} 라운드 탈락</button>
        <button class="btn btn-warning" id="btnEnter" disabled="disabled"><i class="fa fa-arrow-circle-o-right"></i> {{state.nowRound.round}}라운드 진행 중</button>
    {% else %}
        <button class="btn btn-warning" id="btnEnter" disabled="disabled"><i class="fa fa-arrow-circle-o-right"></i> {{state.nowRound.round}}라운드 진행 중</button>
    {% endif %}
{% elif state.no == 5 %}
    {% if state.isFinishLeague == True %}
        대회가 조기 종료되었습니다.
    {% else %}
        <p id="win_1" class="p_btn_winner"><img src="/static/img/card_rand_1.png" class="medal"><img src="/media/group_icon/{{ state.getWinner.w1.group_icon }}" class="group_icon">{{state.getWinner.w1.name}}</p>
        <p id="win_2" class="p_btn_winner"><img src="/static/img/card_rand_2.png" class="medal"><img src="/media/group_icon/{{ state.getWinner.w2.group_icon }}" class="group_icon">{{state.getWinner.w2.name}}</p>
        <p id="win_3_1" class="p_btn_winner"><img src="/static/img/card_rand_3.png" class="medal">
            <img src="/media/group_icon/{{ state.getWinner.w3_1.group_icon }}" class="group_icon">{{state.getWinner.w3_1.name}}<br/>
            <img src="/media/group_icon/{{ state.getWinner.w3_2.group_icon }}" class="group_icon">{{state.getWinner.w3_2.name}}</p>
    {% endif %}
{% endif %}

<script>
    $("[data-toggle='tooltip']").tooltip();
</script>
<script>
    {% if state.groupmem < 5 %}
        {% if state.isAdmin != 0 %}
            $('#btn_solve').click(function () {
                $('.modal').modal('hide');
                $('#GroupInfo .modal-content').load('/groupinfo/',{'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val(),'group':'{{ state.user_gid.id }}'},function(){
                    $('#GroupInfo .div_info_sub').css({"left":"330px"});
                    $('#GroupInfo .div_info').hide();
                    $('#GroupInfo #div_info_2').show();
                    $('#GroupInfo #div_info_2 #div_info_subNew').animate({"left":"0px"}, "fast");
                });
                $('#GroupInfo').modal('show');
            });
        {% endif %}
    {% endif %}
    $('#btnCancel').click(function(){
        $.post('/db/leagueteam/',{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'action':'delete',
            'round':'1',
            'league_id':"{{state.league.id}}"
        },function(res,status){
            location.href="/arena/";
        });
    });

    $('#btnAbstain').click(function(){
        $.post('/db/leagueteam/',{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'action':'abstain',
            'league_id':"{{state.league.id}}",
            {% if state.no == 1 %}
                'round':'{{state.CompleteJoin.round.round}}',
            {% elif state.no == 2 or state.no == 3 %}
                'round':"{{state.lm.team_a.round.round}}",
            {% endif %}
        },function(res,status){
            location.href="/arena/";
        });
    });

    $("#btnAskAbstain").click(function(){
        socket.emit('chatGroup', {"name":"redbomba","con":"'{{user.username}}'님이 '{{league.name}}'대회의 참가 취소를 요청하셨습니다."});
    });

    $("#btnAskCancel").click(function(){
        socket.emit('chatGroup', {"name":"redbomba","con":"'{{user.username}}'님이 '{{league.name}}'대회의 참가 취소를 요청하셨습니다."});
    });

    $('#btnjoin').click(function(){
        is_complete = 1;
        $('#div_join').show();
    });

    $('#btnReserve').click(function(){
        is_complete = 0;
        $("#div_reserve").show();
    });
</script>
<script>
    $('#btnMatchMaker').click(function(){
        var round_id = $("#round_id").val();
        var round_no = $("#round_no").val();
        $.post("/matchmaker/?round="+round_id,{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
        },function(res,status){
            socket.emit('sendNotification', {'lid':round_id,'round':round_no,'action':'League_RunMatchMaker'});
            alert(res);
            history.go(0);
        });
    });

</script>