{% load extras %}
<div class="modal-header">
    <div class="div_head_icon">
        <img id='group_icon' src='/media/group_icon/{{ group.group_icon }}'>
    </div>
    {% if user.id %}
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="/static/img/group_modal_close.png"></button>
    {% endif %}
</div>
<div class="modal-body">
<div class="modal-menu">
    {% if info.isAdmin  %}
        <p class='menuBtn' id='menBtn_1'><img src='/static/img/group_menu_1.png'><br/>관리자</p>
    {% endif %}
</div>
<div class="modal-info">
<div id='div_info_1' class="div_info">
    <div class="div_info_body">
        <img id='group_icon' src='/media/group_icon/{{ group.group_icon }}'><br/>
        <H1 id="group_name">{{group.name}}</H1><br/>
        <H2>[ {{group.nick}} ]</H2><br/>
        <div id='div_info_host'>
            <ul>
                <li>
                    <p class='info_title'>그룹장</p>
                    <p><a onclick="click_name('{{ group.leader.username }}')"><img src='{{group.leader.get_profile.get_icon}}'></a></p>
                    <p><a class="username" onclick="click_name('{{ group.leader.username }}')">{{ group.leader.username }}</a></p>
                </li>
                <li>
                    <p class='info_title'>멤버 인원 수</p>
                    <p class='memnum'>{{ groupmem|length }}</p>
                </li>
            </ul>
        </div>
        <button type='button' class='btn btn-primary' id='btnMem'>그룹 멤버보기</button><br/>
        {% if info.isMem %}
            <button type='button' class='btn btn-danger' id='btnDel'>그룹 탈퇴</button>
        {% else %}
            {% if info.isWait %}
                <button type='button' class='btn btn-danger' id='btnQuit'>가입 신청 취소<br/><font size='1'>(가입 승인대기 중)</font></button>
            {% else %}
                {% if user.get_profile.get_group %}
                    <button type='button' class='btn btn-danger' id='btnDisable'>가입 불가<br/><font size='1'>(이미 소속된 그룹이 있습니다.)</font></button>
                {% else %}
                    <button type='button' class='btn btn-success' id='btnJoin'>가입 신청</button>
                    <button type='button' class='btn btn-danger' id='btnQuit' style='display:none'>가입 신청 취소<br/><font size='1'>(가입 승인대기 중)</font></button>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    <div class="div_info_sub" id="div_info_sub1">
        <div class='div_sub_title'>
            <button tyle='button' class='btn btn-sm btn-default' id='btnBack'>< 뒤로가기</button>
        </div>
        <ul class='ul_sub_member'>
            {% for gm in groupmem %}
                <li>
                    <a onclick="click_name('{{gm.user.username}}')"><img src='{{gm.user.get_profile.get_icon}}'></a>
                    <p class='username'><a class="username" onclick="click_name('{{gm.user.username}}')">{{gm.user.username}}</a></p>
                    <p class='gameid'>소환사명 : {{gm.user.get_profile.get_gamelink.account_name}}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if info.isMem == 0  %}
        <div class="div_info_sub" id="div_info_sub2">
            <div class='div_sub_title'>
                <button tyle='button' class='btn btn-sm btn-default' id='btnBack'>< 뒤로가기</button>
            </div>
            <img src='/static/img/group_info_subOk.png'>
            <H2>가입신청이 완료되었습니다.</H2><br/>
            <p>그룹 리더의 승인을 기다리고 있습니다.</p>
            <button class='btn btn-success' id='btnOK'>확인</button><br/>
            <button class='btn btn-danger' id='btnCancel'>가입 취소</button>
        </div>
    {% endif %}
</div>
{% if info.isAdmin  %}
    <div id='div_info_2' class="div_info">
        <div class="div_info_body">
            <H1>멤버 관리</H1>
            <button class='btn btn-primary' id='btn_admin_change'>그룹장 바꾸기</button>
            <button class='btn btn-primary' id='btn_admin_del'>현재 멤버 관리하기</button>
            <button class='btn btn-primary' id='brn_admin_new'><span class="badge pull-right">{{inviting|length}}</span>새로운 멤버 초대하기</button>
            <button class='btn btn-primary' id='brn_admin_wait'><span class="badge pull-right">{{waitting|length}}</span>새로운 가입 요청보기</button>
            <button class='btn btn-primary' id='brn_admin_submem'>대회 참가멤버 설정하기</button>
        </div>
        <div class="div_info_sub" id="div_info_subChange">
            <div class='div_sub_title'>
                <button tyle='button' class='btn btn-sm btn-default' id='btnBack'>< 뒤로가기</button>
            </div>
            <H4>현재 멤버 중 새로운 그룹장의 <span class='btn-intro'>임명</span>을 선택해주세요.</H4>
            <ul class='ul_sub_member'>
                {% if groupmem|length > 1 %}
                    {% for gm in groupmem %}
                        {% if gm.user != group.user %}
                            <li>
                                <a onclick="click_name('{{gm.user.username}}')"><img src='{{gm.user.get_profile.src.url}}'></a>
                                <p class='username'><a class="username" onclick="click_name('{{gm.user.username}}')">{{gm.user.username}}</a></p>
                                <p class='gameid'>소환사명 : {{gm.user.get_profile.get_gamelink.account_name}}</p>
                                <button class='btn btn-success btn-sm btn-change' id='{{gm.user.username}}'>임명</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li>
                        <p class='no_list'>가입된 멤버가 없습니다.</p>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="div_info_sub" id="div_info_subDel">
            <div class='div_sub_title'>
                <button tyle='button' class='btn btn-sm btn-default' id='btnBack'>< 뒤로가기</button>
            </div>
            <H4>현재 멤버 중 탈퇴시키고 싶은 멤버의 <span class='btn-intro' style='background-color: #d9534f;border-color: #d43f3a;'>탈퇴</span>를 선택해주세요.</H4>
            <ul class='ul_sub_member'>
                {% if groupmem|length > 1 %}
                    {% for gm in groupmem %}
                        {% if gm.user != group.user %}
                            <li>
                                <a onclick="click_name('{{gm.user.username}}')"><img src='{{gm.user.get_profile.get_icon}}'></a>
                                <p class='username'><a class="username" onclick="click_name('{{gm.user.username}}')">{{gm.user.username}}</a></p>
                                <p class='gameid'>소환사명 : {{gm.user.get_profile.get_gamelink.account_name}}</p>
                                <button class='btn btn-danger btn-sm btn-del' id='{{gm.user.username}}'>탈퇴</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li>
                        <p class='no_list'>가입된 멤버가 없습니다.</p>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="div_info_sub" id="div_info_subNew">
            <div class='div_sub_title'>
                <button tyle='button' class='btn btn-sm btn-default' id='btnBack'>< 뒤로가기</button>
            </div>
            <H1>초대하기</H1>
            <H4>아래의 URL주소를 복사하여 그룹초대를 원하는 신규 멤버에게 전달해주세요.</H4>
            <div class="form-group">
                <input type="text" id="grouo_url" class="form-control" readonly="readonly" value="http://redbomba.net/group/{{group.id}}">
            </div><!-- /input-group -->
            <img class='group_sub_div' src="/static/img/group_sub_div.png">
            <H4>이미 REDBOMB에 가입된 사용자의 닉네임을 아신다면, 닉네임을 검색해주세요.</H4>
            <div class="form-group">
                <input type="text" id="member_nick" class="form-control" placeholder="닉네임을 입력하세요.">
                <div class="div_subNew_memlist">&nbsp;</div>
            </div><!-- /input-group --><br/>
            <H1>초대중인 멤버</H1>
            {% if groupmem|length >= 5 %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle"></i> <b>그룹 인원은 최대 5명입니다.</b><br/>새로운 멤버를 추가하기 원하신다면, 기존 멤버를 탈퇴시켜주세요.
                </div>
            {% endif %}
            <ul class='ul_sub_member'>
                {% if inviting %}
                    {% for gm in inviting %}
                        {% if gm.user != group.user %}
                            <li id='li_{{gm.user.username}}'>
                                <a onclick="click_name('{{gm.user.username}}')"><img src='{{gm.user.get_profile.get_icon}}'></a>
                                <p class='username'><a class="username" onclick="click_name('{{gm.user.username}}')">{{gm.user.username}}</a></p>
                                <p class='gameid'>소환사명 : {{gm.user.get_profile.get_gamelink.account_name}}</p>
                                <button class='btn btn-danger btn-sm btn-del' id='{{gm.user.username}}'>초대취소</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li>
                        <p class='no_list'>초대중인 멤버가 없습니다.</p>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="div_info_sub" id="div_info_subWait">
            <div class='div_sub_title'>
                <button tyle='button' class='btn btn-sm btn-default' id='btnBack'>< 뒤로가기</button>
            </div>
            <H4>아래의 게이머들이 '{{group.name}}'의 새로운 맴버가 되기를 원합니다.
                <span class='btn-intro'>승인</span> 또는
                <span class='btn-intro' style='background-color: #d9534f;border-color: #d43f3a;'>거절</span> 을 선택해주세요.</H4>
            {% if groupmem|length >= 5 %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle"></i> <b>그룹 인원은 최대 5명입니다.</b><br/>새로운 멤버를 추가하기 원하신다면, 기존 멤버를 탈퇴시켜주세요.
                </div>
            {% endif %}
            <ul class='ul_sub_member'>
                {% if waitting %}
                    {% for gm in waitting %}
                        {% if gm.user != group.leader %}
                            <li id='li_{{gm.user.username}}'>
                                <a onclick="click_name('{{gm.user.username}}')"><img src='{{gm.user.get_profile.get_icon}}'></a>
                                <p class='username'><a class="username" onclick="click_name('{{gm.user.username}}')">{{gm.user.username}}</a></p>
                                <p class='gameid'>소환사명 : {{gm.user.get_profile.get_gamelink.account_name}}</p>
                                {% if groupmem|length >= 5 %}
                                    <button class='btn btn-success btn-xs btn-yes' id='{{gm.user.username}}' disabled='disabled'>승인</button>
                                {% else %}
                                    <button class='btn btn-success btn-xs btn-yes' id='{{gm.user.id}}' username='{{gm.user.username}}'>승인</button>
                                {% endif %}
                                <button class='btn btn-danger btn-xs btn-no' id='{{gm.user.id}}' username='{{gm.user.username}}'>거절</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li>
                        <p class='no_list'>새로운 가입 요청이 없습니다.</p>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="div_info_sub" id="div_info_subSubmem">
            <div class='div_sub_title'>
                <button tyle='button' class='btn btn-sm btn-default' id='btnBack'>< 뒤로가기</button>
            </div>
            <H4>대회에 참가하는 멤버를 우선순위에 맞춰 나열해주세요. (위에 부터 게임별 인원 수 만큼 참가됩니다.)</H4>
            <div id="div_submem_list" class='ul_sub_member'>
                &nbsp;
            </div>
        </div>
    </div>
{% endif %}
</div>
<div class="modal-chat">
    {% if info.isMem  %}
        <div class="div_chat">
            <div id="div_made_group">
                <H1>레드밤바 게이밍 그룹에 오신 것을 환영합니다!</H1>
                <ul>
                    <li class="li_made_img"><img src="/static/img/login_line3_icon1.png"></li>
                    <li class="li_made_txt">준비가 되셨다면, <a onclick="showInviteMem()">동료들을 불러모아 볼까요?</a></li>
                    <li class="li_made_txt">(그룹 리더 변경, 그룹원 추가/삭제, 대회 참가 멤버 설정 등 다양한 그룹 설정은 우측 메뉴의 있는 <a onclick="showAdminPage()">"관리자"페이지</a>를 통해서 가능합니다.)</li>
                </ul>
            </div>
            <div id="div_chat_body">
                Loading...
            </div>
        </div>
        <div class="div_input">
            <input type='text' id='chatMsg' placeholder="메세지를 입력해주세요. (전송:ㄴ, 줄바꿈:shift+ㄴ)">
        </div>
    {% else %}
        <div class="div_chat">
            <a class="username" onclick="click_name('{{ group.leader.username }}')">{{ group.leader.username }}</a> : 안녕하세요! '{{ group.name }}'의 그룹장 {{ group.leader.username }}입니다.
        </div>
        <div class="div_input">
            <input type='text' id='chatMsg' placeholder="멤버만 입력이 가능합니다." disabled  readonly="readonly">
        </div>
    {% endif %}
</div>
</div>
<script>

$('#GroupInfo #div_info_1 #btnMem').click(function(){
    $('#GroupInfo #div_info_1 #div_info_sub1').animate({"left":"0px"}, "fast");
});

$('#GroupInfo #div_info_1 #btnBack').click(function(){
    $('#GroupInfo #div_info_1 .div_info_sub').animate({"left":"330px"}, "fast");
});

{% if user.id %}
    $("#div_submem_list").load("/groupinfoorder/",{"csrfmiddlewaretoken":$("#header input[name=csrfmiddlewaretoken]").val(),'action':'get','group':'{{ group.id }}'});

    function getGroupPageMemList(){
        $('#GroupInfo #div_info_2 #div_info_subNew .div_subNew_memlist').show();
        $('#GroupInfo #div_info_2 #div_info_subNew .div_subNew_memlist').load('/grouplist/',{
            'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val(),
            'action':'insert',
            'gid':'{{ group.id }}',
            'text':$('#GroupInfo #div_info_2 #div_info_subNew #member_nick').val()
        });
    }

    {% if info.isMem %}
        var GroupChatLen = 30;

        $("#GroupInfo .div_chat").scroll(function(){
            if($(this).scrollTop() == 0){
                $("#GroupInfo .div_chat #div_chat_body").html("<div width='100%' align='center'><img src='/static/img/ajax-loader_s.gif'></div>"+$("#GroupInfo .div_chat #div_chat_body").html());
                $("#GroupInfo .div_chat #div_chat_body").load("/chatting/",{
                    "csrfmiddlewaretoken":$("#header input[name=csrfmiddlewaretoken]").val(),
                    "len":GroupChatLen,
                    "group_name":$("#GroupInfo #group_name").text()},function(){
                    GroupChatLen += 30;
                    $("#GroupInfo .div_chat").scrollTop(2);
                });
            }
        });

        $('#GroupInfo #chatMsg').keypress(function(e){
            if(e.keyCode==13&&$('#GroupInfo #chatMsg').val()!=""){
                var username = $('#p_head_username').text();
                var con = $('#GroupInfo #chatMsg').val();
                var icon = "{{ user.get_profile.get_icon }}";
                socket.emit('chatGroup', {"name":username,"con":con,"icon":icon});
                setTimeout(function(){ $('#GroupInfo #chatMsg').val(""); },10);
            }
        });

        $("#GroupInfo .div_chat #div_chat_body").load("/chatting/",{"csrfmiddlewaretoken":$("#header input[name=csrfmiddlewaretoken]").val(), "len":GroupChatLen, "group_name":$("#GroupInfo #group_name").text()}, function(){
            GroupChatLen+=30;
            $('#GroupInfo .div_chat').scrollTop(600);
        });

    {% endif %}

    $('#GroupInfo .modal-header .div_head_icon').click(function(){
        $('#GroupInfo .div_info_sub').css({"left":"330px"});
        $('#GroupInfo .div_info').hide();
        $('#GroupInfo #div_info_1').show();
    });

    $('#GroupInfo #div_info_1 #btnJoin').click(function(){
        $('#GroupInfo #div_info_1 #div_info_sub2').animate({"left":"0px"},{duration:"fast",complete:function() {
            $('#GroupInfo #div_info_1 #btnJoin').hide();
            $('#GroupInfo #div_info_1 #btnQuit').show();
        }});
        $.post('/db/grouplist/',{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'action':'Join',
            'gid':'{{ group.id }}'
        },function(res,status){
            socket.emit('sendNotification', {'group_uid':'{{ group.user.id }}','uid':'{{ user.id }}','action':'Group_AskAddMember'});
        });
    });

    $('#GroupInfo #div_info_1 #btnOK').click(function(){
        $('#GroupInfo #div_info_1 .div_info_sub').animate({"left":"330px"}, "fast");
    });

    $('#GroupInfo #div_info_1 #btnCancel').click(function(){
        $.post('/db/grouplist/',{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'action':'Quit',
            'gid':'{{ group.id }}'
        });
        location.reload();
    });

    $('#GroupInfo #div_info_1 #btnQuit').click(function(){
        $.post('/db/grouplist/',{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'action':'Quit',
            'gid':'{{ group.id }}'
        });
        location.reload();
    });

    $('#GroupInfo #menBtn_1').click(function(){
        $('#GroupInfo .div_info_sub').css({"left":"330px"});
        $('#GroupInfo .div_info').hide();
        $('#GroupInfo #div_info_2').show();
    });

    $('#GroupInfo #div_info_2 #btnBack').click(function(){
        $('#GroupInfo #div_info_2 .div_info_sub').animate({"left":"330px"}, "fast");
    });

    $('#GroupInfo #div_info_2 #btn_admin_change').click(function(){
        $('#GroupInfo #div_info_2 #div_info_subChange').animate({"left":"0px"}, "fast");
    });

    $('#GroupInfo #div_info_2 #btn_admin_del').click(function(){
        $('#GroupInfo #div_info_2 #div_info_subDel').animate({"left":"0px"}, "fast");
    });

    $('#GroupInfo #div_info_2 #brn_admin_new').click(function(){
        $('#GroupInfo #div_info_2 #div_info_subNew').animate({"left":"0px"}, "fast");
    });

    $('#GroupInfo #div_info_2 #brn_admin_wait').click(function(){
        $('#GroupInfo #div_info_2 #div_info_subWait').animate({"left":"0px"}, "fast");
    });

    $('#GroupInfo #div_info_2 #brn_admin_submem').click(function(){
        $('#GroupInfo #div_info_2 #div_info_subSubmem').animate({"left":"0px"}, "fast");
    });

    $('#GroupInfo #div_info_2 #div_info_subChange .ul_sub_member li button').click(function(){
        $.post('/db/grouplist/',{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'action':'changeLeader',
            'username':$(this).attr('id'),
            'gid':'{{ group.id }}'
        },function(res,status){
            socket.emit('setGroup',{'to':'group','id':'{{ group.id }}'});
            $('#GroupInfo .modal-content').load('/groupinfo/',{'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val(),'group':'{{ group.id }}'});
        });
    });

    $('#GroupInfo #div_info_2 #div_info_subDel .ul_sub_member li button').click(function(){
        $.post('/db/grouplist/',{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'action':'delete',
            'username':$(this).attr('id'),
            'gid':'{{ group.id }}'
        },function(res,status){
            socket.emit('setGroup',{'to':'group','id':'{{ group.id }}'});
            $('#GroupInfo .modal-content').load('/groupinfo/',{'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val(),'group':'{{ group.id }}'});
        });
    });

    $('#GroupInfo #div_info_2 #div_info_subNew #member_nick').keyup(function(){
        getGroupPageMemList();
    });

    $('#GroupInfo #div_info_2 #div_info_subNew #member_nick').change(function(){
        getGroupPageMemList();
    });

    $('#GroupInfo #div_info_2 #div_info_subNew #member_nick').focus(function(){
        getGroupPageMemList();
    });

    $(document).click(function(evt) {
        if($(evt.target).parents('#GroupInfo #div_info_2 #div_info_subNew #member_nick').length==0) {
            $('#GroupInfo #div_info_2 #div_info_subNew #member_nick').val('');
            $('#GroupInfo #div_info_2 #div_info_subNew .div_subNew_memlist').hide();
        }
        evt.stopPropagation();
    });

    $('#GroupInfo #div_info_2 #div_info_subNew .ul_sub_member li button').click(function(){
        $.post('/db/grouplist/',{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'action':'delete',
            'username':$(this).attr('id'),
            'gid':'{{ group.id }}'
        },function(res,status){
            socket.emit('setGroup',{'to':'group','id':'{{ group.id }}'});
            $('#GroupInfo .modal-content').load('/groupinfo/',{'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val(),'group':'{{ group.id }}'});
        });
    });

    $('#GroupInfo #div_info_2 #div_info_subWait .btn-yes').click(function(){
        var un = $(this).attr('username');
        var uid = $(this).attr('id');
        $.post('/db/groupmember/',{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'action':'yes',
            'username':un,
            'gid':'{{ group.id }}'
        },function(res,status){
            socket.emit('setGroup',{'to':'user','id':uid});
            socket.emit('setGroup',{'to':'group','id':'{{ group.id }}'});
            socket.emit('sendNotification', {'gid':'{{ group.id }}','uid':uid,'action':'Group_AddMember'});
            $.post('/db/post_noti/',{
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },function(res,status){
                if(res != "0"){
                    res = jQuery.parseJSON(res);
                    socket.emit('sendNotification', {'gid':res.gid,'lid':res.lid,'action':res.action});
                }
                $('#GroupInfo .modal-content').load('/groupinfo/',{'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val(),'group':'{{ group.id }}'});
            });
        });
    });

    $('#GroupInfo #div_info_2 #div_info_subWait .btn-no').click(function(){
        var un = $(this).attr('username');
        var uid = $(this).attr('id');
        $.post('/db/groupmember/',{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'action':'no',
            'username':un,
            'gid':'{{ group.id }}'
        },function(res,status){
            socket.emit('setGroup',{'to':'user','id':uid});
            socket.emit('setGroup',{'to':'group','id':'{{ group.id }}'});
            $('#GroupInfo .modal-content').load('/groupinfo/',{'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val(),'group':'{{ group.id }}'});
        });
    });


    function showInviteMem(){
        $('#GroupInfo .div_info_sub').css({"left":"330px"});
        $('#GroupInfo .div_info').hide();
        $('#GroupInfo #div_info_2').show();
        $('#GroupInfo #div_info_2 #div_info_subNew').animate({"left":"0px"}, "fast");
    }

    function showAdminPage(){
        $('#GroupInfo .div_info_sub').css({"left":"330px"});
        $('#GroupInfo .div_info').hide();
        $('#GroupInfo #div_info_2').show();
    }

    var start_ele = "";

    function itemDragBegin(eventObj, element){
        element.style.top = element.offsetTop + 'px';
        element.style.left = element.offsetLeft + 'px';
        element.className = "drag";
        PlaceHolder.style.height = element.style.height;
        List.insertBefore(PlaceHolder, element);
        PlaceHolder.SourceI = element;
        start_ele = $("#"+element.id+" > .order").offset().top;
    }

    function itemDragEnd(element){
        if(PlaceHolder.SourceI != null)
        {
            PlaceHolder.SourceI = null;
            List.replaceChild(element, PlaceHolder);
        }

        element.className = 'list';
        element.style.top = '0px';
        element.style.left = '0px';

        end_ele = $("#"+element.id+" > .order").offset().top;

        if(end_ele != start_ele){
            arr_list = {};
            arr_list["csrfmiddlewaretoken"] = $("#header input[name=csrfmiddlewaretoken]").val();
            arr_list["action"] = 'set';
            arr_list_mem = new Array();
            for(i=1;i<={{groupmem|length}};i++){
                id_no = $("#div_submem_list > #div_submem_innerlist > div:nth-child("+i+")").attr("id");
                arr_list_mem.push(id_no);
            }
            arr_list["memlist"] = JSON.stringify(arr_list_mem);
            $.post("/groupinfoorder/",arr_list,function(data,status){
                $("#div_submem_list").load("/groupinfoorder/",{"csrfmiddlewaretoken":$("#header input[name=csrfmiddlewaretoken]").val(),'action':'get','group':'{{ group.id }}'});
            });
        }
    }
{% else %}
    $("#btnJoin").click(function(){
        $('#modal_signup').modal('show');
    });
{% endif %}
</script>