<div id="div_card_{{league.id}}" class="div_card div_feed">
    <div class="div_card_mouseover">
        <div class="cal">
            &nbsp;
        </div>
        <ul class="div_card_award">
            <li><img src="/static/img/arena_award_1st.png"><p>{{ reward_1.con }}</p></li>
            <li><img src="/static/img/arena_award_2nd.png"><p>{{ reward_2.con }}</p></li>
            <li><img src="/static/img/arena_award_3rd.png"><p>{{ reward_3.con }}</p></li>
        </ul>
        <button class="btn btn-default btnjoin">자 세 히</button>
    </div>
    <div class="div_card_poster" style="background-image:url({{ poster }})"></div>
    <p class="p_card_title">{{league.name}}</p>
    <p class="p_card_game">{{league.game.name}}</p>
    <!--
  	      <p class="p_card_cocept">{{league.concept}}</p>
  	      <ul class="p_card_level">
  	        <li {% if league.level == 1 %} style="filter:alpha(opacity=100);opacity:1" {% endif %}>Amateur</li>
  	        <li {% if league.level == 2 %} style="filter:alpha(opacity=100);opacity:1" {% endif %}>Rookie</li>
  	        <li {% if league.level == 3 %} style="filter:alpha(opacity=100);opacity:1" {% endif %}>Veterans</li>
  	        <li {% if league.level == 4 %} style="filter:alpha(opacity=100);opacity:1" {% endif %}>Master</li>
  	        <li {% if league.level == 5 %} style="filter:alpha(opacity=100);opacity:1" {% endif %}>Proffesional</li>
  	      </ul>
          -->
    <div class="div_card_bottom">
        <div class="div_bottom_btn">신청마감<p>
            {% if isStart %}
                <font class='font_btn_main'>마감</font>
            {% else %}
                {% if countdown >= 86400 %}
                    <font class='font_btn_main'>{% widthratio countdown 86400 1 %}</font>일 남음
                {% elif countdown >= 3600 %}
                    <font class='font_btn_main'>{% widthratio countdown 3600 1 %}</font>시간 남음
                {% elif countdown >= 60 %}
                    <font class='font_btn_main'>{% widthratio countdown 60 1 %}</font>분 남음
                {% elif countdown >= 0 %}
                    <font class='font_btn_main'>{% widthratio countdown 0 1 %}</font>초 남음
                {% elif countdown == -1 %}
                    신청기간 전
                {% else %}
                    <font class='font_btn_main'>마감</font>
                {% endif %}
            {% endif %}
        </p></div>
        <div class="div_bottom_btn">참가현황<p><font class="font_btn_main">{{ joined_team }}</font>/{{league.max_team}}</p></div>
        <div class="div_bottom_btn">대회등급<p></p>
        </div>
    </div>
</div>
<script>
    var feed_card_{{league.id}}_len = 10;
    $('#div_card_{{league.id}}').mouseenter(function(){
        $(this).css({"border":"2px solid #2ecc71"});
        $('#div_card_{{league.id}} .div_card_mouseover').show();
    });

    $('#div_card_{{league.id}}').mouseleave(function(){
        $(this).removeAttr("style");
        $('#div_card_{{league.id}} .div_card_mouseover').hide();
    });

    $('#div_card_{{league.id}}').click(function(){
        ga('send', 'event', 'card_{{league.id}}', 'click');
        $('#LargeCard .modal-content').html("<div style='width:100%;height:700px;line-height:700px;padding-top:300px' align='center'><img src='/static/img/ajax-loader.gif'></div>");
        $('#LargeCard .modal-content').load("/card/",{"csrfmiddlewaretoken":$("#header input[name=csrfmiddlewaretoken]").val(),"league_id":"{{league.id}}"});
        $('.modal-content').removeAttr("style");
        $('#LargeCard').modal('toggle');
    });
    //{{SR.min}} / {{ER.max}}
    $('#div_card_{{league.id}} > .div_card_mouseover > .cal').html(drawCal({{league.start_apply|date:'Y,n,j'}},{{league.end_apply|date:'Y,n,j'}},{{SR.min|date:'Y,n,j'}},{{ER.max|date:'Y,n,j'}}));
</script>