<div style="position:relative;width:100%;height:100%;background-color:#f2f2f2;padding:50px 0;font-family:sans-serif;color:#606060">
<div style="position:relative;width:600px;height:auto;left:50%;margin-left:-300px;background-color:#fff;border-radius:10px;border:1px solid #eee;padding:20px">
    	<p style="width:100%;text-align:center;font-size:45px;font-weight:bold;margin:0;padding:0"><img src='http://14.63.186.76/static/img/mail/logo_square.png'> Thank you for JOIN US</p>
     	<p style="font-size:25px;margin:30px 0">게이머의 세상, <b>REDBOMBA</b>에 오신 것을 환영합니다.</p>
    <p style="font-size:20px;margin:20px 0">회원가입 완료를 위해, 이메일 인증이 필요합니다.</p>
    <a href='{{url_link}}' target='_blank'><button style='width:95%;height:60px;font-size:20px;background-color:#ffd700;color:#fff;border:0;border-radius:10px;cursor:pointer'><b>E-mail 인증</b></button></a>
    <p style="width:100%;text-align:center;margin:40px 0">
      <a href='https://www.facebook.com/redbomba.net' target="_blank"><img src="http://14.63.186.76/static/img/mail/btn_1.gif" style='cursor:pointer'></a>
      <a href='https://twitter.com/redbomba_tw/' target="_blank"><img src="http://14.63.186.76/static/img/mail/btn_2.gif" style='cursor:pointer'></a>
      <a href='http://about.redbomba.net/' target="_blank"><img src="http://14.63.186.76/static/img/mail/btn_3.gif" style='cursor:pointer'></a>
    </p>
    <p style="text-align:left;margin:40px 0 0 0 ;font-size:10px;font-style:italic">Copyright © 2014 REDBOMBA, All rights reserved.</p>
    </div>
</div>