<xmeta charset="utf-8">
    <xmeta http-equiv="X-UA-Compatible" content="IE=edge">
        <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f2f2f2;padding:50px 0;font-family:'Apple SD Gothic Neo','나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',dotum,'굴림',gulim,applegothic,sans-serif ;color:#606060">
            <tbody>
            <tr>
                <td align="center">
                <table width="600" style="background-color:#fff;border-radius:10px;border:1px solid #eee;padding:20px">
                <tbody>
                <tr><td align="center" style="font-size:44px;line-height:55px;font-weight:bold;margin:0;padding:0"><img src="http://redbomba.net/static/img/mail/logo_square.png" style="top: 10px;position: relative;"> Thank you for JOIN US</td></tr>
                <tr><td align="center" style="font-size:25px;padding: 10px 0;">게이머의 세상, <b>REDBOMBA</b>에 오신 것을 환영합니다.</td></tr>
                <tr><td align="center" style="font-size:20px;padding: 10px 0;">회원가입 완료를 위해, 이메일 인증이 필요합니다.</td></tr>
                <tr><td align="center" <a href="{{url_link}}" target="_blank"><button style="width:95%;height:60px;font-size:20px;background-color:#ffd700;color:#fff;border:0;border-radius:10px;cursor:pointer"><b>E-mail 인증</b></button></td></tr>
                <tr><td align="center" style="text-align:center;padding: 20px 0 0 0;">
                <a href="https://www.facebook.com/redbomba.net" target="_blank"><img src="http://redbomba.net/static/img/mail/btn_1.gif" style="cursor:pointer"></a>
                <a href="https://twitter.com/redbomba_tw/" target="_blank"><img src="http://redbomba.net/static/img/mail/btn_2.gif" style="cursor:pointer"></a>
                <a href="http://about.redbomba.net/" target="_blank"><img src="http://redbomba.net/static/img/mail/btn_3.gif" style="cursor:pointer"></a>
                </td></tr>
                </tbody>
                </table>
                </td>
            </tr>
            </tbody>
        </table>
    </xmeta>
</xmeta>