        {% if ele == 0 %}
        <div id="feed_pri_{{ fid }}" class="div_feed feed_pri">
        {% endif %}
        	<div class="div_feedpri_icon imgbtn"><a onclick="click_name('{{ ufrom }}')"><img src="/static/img/icon/usericon_{{ ufromicon }}.jpg"></a></div>
          <h1><a class="username" onclick="click_name('{{ ufrom }}')">{{ ufrom }}</a>{% if ufrom == uto %}{% else %} > <a class="username" onclick="click_name('{{ uto }}')">{{ uto }}</a>{% endif %}</h1><p class="div_feedpri_date">{{ date_updated }}</p>
          <h2>{{ con_txt|linebreaks }}</h2>
          <div class="div_feedpri_brn">
            {% if isDone_smile|length %}<button class="btn btn-smile-done imgbtn">{{ smile|length }} | <i class="fa fa-smile-o fa-1"></i> 취소</button>
            {% else %}<button class="btn btn-smile imgbtn">{{ smile|length }} | <i class="fa fa-smile-o fa-1"></i> 스마일</button>
            {% endif %}
            <button id="btn-reply" class="btn btn-reply imgbtn"><i class="fa fa-comments fa-1"></i> 댓글</button>
            <button id="btn-share" class="btn btn-share imgbtn"><i class="fa fa-share-square-o fa-1"></i> 공유</button>
            <button class="btn btn-more imgbtn"><i class="fa fa-ellipsis-h fa-1"></i></button>
          </div>
          <div class="div_feedpri_reply">
            <div class="input-group">
            <input type="text" class="input_reply_replytxt form-control" placeholder="댓글을 남겨주세요.">
            <span class="input-group-btn"><button type="button" class="btn btn-default btn_reply_replybtn">입력</button></span>
            </div>
            <div class="div_feedpri_div">
            </div>
          </div>
<script>
  var feed_pri_len_{{ fid }} = 3;
  
  $("#feed_pri_{{ fid }} .btn-smile").click(function(){
    var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').attr('value');
    var fid = {{ fid }};
    var uid=0;
    $.post("/forsocket/",{"csrfmiddlewaretoken":$('input[name=csrfmiddlewaretoken]').attr('value')},function(data,status){
      uid = $(data).filter('uid').text();
      $('#feed_pri_{{ fid }}').hide().load('/db/smile/?action=insert&fid={{ fid }}&loc=pri',function(response, status) {
        socket.emit('sendNotification', {'ufrom':uid,'uto':{{ fid }},'tablename':'home_smile'});
        $('#feed_pri_{{ fid }} .input_reply_replytxt').val("");
      }).fadeIn('500');
    });
  });
  
  $("#feed_pri_{{ fid }} .btn-smile-done").click(function(){
    var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').attr('value');
    var fid = {{ fid }};
    var uid=0;
    $.post("/forsocket/",{"csrfmiddlewaretoken":$('input[name=csrfmiddlewaretoken]').attr('value')},function(data,status){
      uid = $(data).filter('uid').text();
      $('#feed_pri_{{ fid }}').hide().load('/db/smile/?action=delete&fid={{ fid }}&loc=pri',function(response, status) {
        socket.emit('sendNotification', {'ufrom':uid,'uto':{{ fid }},'tablename':'home_smile'});
        $('#feed_pri_{{ fid }} .input_reply_replytxt').val("");
      }).fadeIn('500');
    });
  });
  
  $("#feed_pri_{{ fid }} #btn-reply").click(function(){
    $('#feed_pri_{{ fid }} .div_feedpri_reply').toggle();
    feed_pri_len_{{ fid }} = 0;
    $('#feed_pri_{{ fid }} .div_feedpri_div').hide().load('/reply/?loc=pri&len=3&fid={{ fid }}').fadeIn('500');
  });
  
  $("#feed_pri_{{ fid }} .btn_reply_replybtn").click(function(){
    var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').attr('value');
    var fid = {{ fid }};
    var txt = $('#feed_pri_{{ fid }} .input_reply_replytxt').val();
    var uid=0;
    if(txt!=""){
      $.post("/forsocket/",{"csrfmiddlewaretoken":csrfmiddlewaretoken},function(data,status){
      uid = $(data).filter('uid').text();
      $('#feed_pri_{{ fid }} .div_feedpri_div').hide().load('/db/reply/',{'action':'insert','csrfmiddlewaretoken':csrfmiddlewaretoken,'fid':fid,'txt':txt},function(response, status) {
        //socket.emit('sendNotification', {'ufrom':uid,'uto':fid,'tablename':'home_reply'});
        $('#feed_pri_{{ fid }} .input_reply_replytxt').val("");
      }).fadeIn('500');
      });
    }
  });
  
  $("#feed_pri_{{ fid }} .input_reply_replytxt").keypress(function(e){
    if(e.keyCode==13){
      var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
      var fid = {{ fid }};
      var txt = $('#feed_pri_{{ fid }} .input_reply_replytxt').val();
      var uid=0;
      if(txt!=""){
        $.post("/forsocket/",{"csrfmiddlewaretoken":csrfmiddlewaretoken},function(data,status){
        uid = $(data).filter('uid').text();
        $('#feed_pri_{{ fid }} .div_feedpri_div').hide().load('/db/reply/',{'action':'insert','csrfmiddlewaretoken':csrfmiddlewaretoken,'fid':fid,'txt':txt,'loc':'pri'},function(response, status) {
          //socket.emit('sendNotification', {'ufrom':uid,'uto':fid,'tablename':'home_reply'});
          $('#feed_pri_{{ fid }} .input_reply_replytxt').val("");
        }).fadeIn('500');
        });
      }
    return false;
    }
  });
  
  function clickMore_pri_{{ fid }}(){
    feed_pri_len_{{ fid }}+=10;
    $('#feed_pri_{{ fid }} .div_feedpri_div').hide().load('/reply/?loc=pri&len='+feed_pri_len_{{ fid }}+'&fid={{ fid }}').fadeIn('500');
  }
</script>
        {% if ele == 0 %}
        </div>
        {% endif %}