{% for new in news %}
    <div class="div_feed box">
        <div class="div_box_img focuspoint" data-focus-x="{{ new.img.focusx }}" data-focus-y="{{ new.img.focusy }}">
            <img src="{{ new.img.src }}">
        </div>
        <div class="div_box_user">
            <img src="/static/img/icon/usericon_{{ new.user.get_profile.user_icon }}.jpg">{{ new.user.username }}
        </div>
        <div class="div_box_con">
            <p class="p_con_title">{{ new.title }}</p>
            <p class="p_con_txt">{{ new.txt }}</p>
        </div>
    </div>
{% endfor %}

<script>

    var box_size = $("#feed_pub .box").size();
    var arr = setSize();
    for(i=1;i<=box_size;i++){
        $("#feed_pub .box:nth-child("+i+")").addClass(arr[i-1]);
        $("#feed_pub .box:nth-child("+i+")").css({"background-color":"#7f8c8d"});
    }

    $('#feed_pub').nested({
        minWidth:68,
        gutter:10,
        resizeToFit: false
    });
    $("#feed_pub").hide().delay( 800 ).fadeIn();

    setTimeout(function(){
        $('.div_box_img img').fadeIn();
        $('.focuspoint').adjustFocus();
    }, 1500);

</script>