{% load extras %}
<div class="field-content">
    <div class="div_field_top">그룹</div>
    {% if groups %}
        {% for g in groups %}
            <ul class="div_field_con div_field_group">
                <li id="li_icon"><img src="/media/group_icon/{{ g.gid.group_icon }}"></li>
                <li id="li_name">{{g.gid.name}}</li>
                <li id="li_nick">{{g.gid.nick}}</li>
                <li id="li_game"><i class="fa fa-lol-b"></i> {{g.gid.game.name}}</li>
                <li id="li_count"><i class="fa fa-user"></i> <span id="field_login">{{g.count}}</span>/{{g.count}}</li>
                <li id="li_btn"><button class='btn btn-danger btn-xs' id="btnField" onclick="goGroupPage({{g.gid.id}})"><i class="fa fa-comments"></i> | 그룹페이지</button></li>
            </ul>
        {% endfor %}
    {% else %}
        <div class="div_searchbar_non">소속된 그룹이 없습니다.</div>
    {% endif %}
    <div class="div_field_top">아레나<a href="/stats/?get=myarena"><button type="button" class="btn btn-default btn-xs">마이아레나</button></a></div>
    {% for l in leagues %}
        {% if l %}
            <ul class="div_field_con div_field_arena {% if l.noti.date_read == 1 %}read{% endif %}" onclick="location.href='/arena/?get={{l.league.id}}';">
                <li id="li_name">{{l.league.name}}</li>
                <li id="li_group"><img src="/media/group_icon/{{ l.user.gid.group_icon }}"> {{l.user.gid.name}}</li>
                {% if l.no == 1 %}
                    <li id="li_msg"><span class="border-round">{{ l.round.round }} 라운드</span> 일정도출 {{l.round.start|get_time_diff:"msg"}} 입니다.</li>
                {% elif l.no == 2 %}
                    <li id="li_msg"><span class="border-round">{{ l.lm.team_a.round.round }} 라운드</span> {{ l.lm.date_match }}</li>
                {% elif l.no == 3 %}
                    <li id="li_msg">{{l.msg}}</li>
                {% endif %}
                {% if l.no == 3 %}
                    <li id="li_btn"><a href="/battle/?round={{l.lr}}"><buttun type="button" class="btn btn-warning btn-xs" id="btnEnter"><i class="fa fa-sign-in"></i> | 배틀페이지 입장</buttun></a></li>
                {% else %}
                    <li id="li_btn">
                        <div class="progress-label">대기</div>
                        <div class="progress-label">준비</div>
                        <div class="progress-label">배틀</div>
                        <div class="progress">
                            <div id='progress1' class="progress-bar progress-bar-danger" style="width: 16%" data-toggle="tooltip" data-placement="top" title="경기 일정·상태 등록 대기 단계" data-html="true">
                            </div>
                            <div id='progress2' class="progress-bar progress-bar-danger" {% if l.no == 2 %}style="width: 33%"{% else %}style="width: 0%"{% endif %} data-toggle="tooltip" data-placement="top" title="경기 일정·상태 등록 완료 단계" data-html="true">
                            </div>
                            <div id='progress3' class="progress-bar progress-bar-danger" style="width: 51%" data-toggle="tooltip" data-placement="top" title="경기 시작 30분 전부터<br/>배틀페이지 입장 가능" data-html="true">
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <script>
                $('.progress-bar').tooltip('hide');
            </script>
        {% else %}
            <div class="div_searchbar_non">참가중인 대회가 없습니다.</div>
        {% endif %}
    {% endfor %}
</div>
<script>
    function goGroupPage(gid){
        $('#GroupInfo .modal-content').load('/groupinfo/',{'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val(),'group':gid});
        $('#GroupInfo').modal('show');
    }
    $("#field_login").text(memOnline);
</script>