<!-- Group -->
<div id='group_{{ group.id }}' class='group div_feed'>
    {% if is_active == 0 and target_user == user.id %}
        <div class='div_grouop_notactive'>
            &quot;<b>{{ group.name }}</b>&quot;에<br>
            당신을 초대합니다.<br>
            <button id='yes' class='btn btn-warning'>수락</button><button id='no' class='btn btn-default'>거절</button>
        </div>
    {% endif %}
    <div class='div_group_head'>
        <ul>
            <li id='group_icon'><img src='/media/group_icon/{{ group.group_icon }}'></li>
            <li>{{ group.name }}</li>
            <li class='imgbtn' id="btnGroupPage"><i class="fa fa-comments"></i> | 그룹 페이지</li>
            <!-- <li>3/5</li> -->
        </ul>
    </div>
    <div class='div_group_memlist'>
        <div class='div_memlist_mem'>&nbsp;</div>
        {% if host and target_user == user.id %}
            <div class='btnset'>
                <button type='button' class='btn btn-default btn-sm' id='insertMem' title='멤버추가'><img src='/static/img/stats_group_addmem.png'></button>
                <button type='button' class='btn btn-default btn-sm' id='removeMem' title='멤버삭제'><img src='/static/img/stats_group_removemem.png'></button>
            </div>
            <div class='inputset'>
                <div class='div_inputset_memlist'>&nbsp;</div>
                <div class='input-group input-group-sm'>
                    <span class='input-group-addon'><img src='/static/img/stats_group_addmem.png'></span>
                    <input type='text' class='form-control' placeholder='Nickname'>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<script>
    var mode = '';
    var mygid = "";
    $('.inputset').hide();

    $('#group_{{ group.id }}  #btnGroupPage').click(function(){
        $('#GroupInfo .modal-content').load('/groupinfo/',{'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val(),'group':'{{ group.id }}',"username":$("#p_profile_username").text()});
        $('#GroupInfo').modal('show');
    });

    $.post("/forsocket/",{
        "csrfmiddlewaretoken":$("input[name=csrfmiddlewaretoken]").val()
    },function(data,status){
        mygid = $(data).filter('gid').text();
        socket.emit('joinGroup', mygid);
    });

    $('#group_{{ group.id }} .div_memlist_mem').load('/groupmember/',{'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val(),'gid':'{{ group.id }}',"username":$("#p_profile_username").text()}, function (res, status){
        var userArray = $('#header #groupmem_uid').map(function() { return $(this).val(); }).get();
        socket.emit('isOnline',userArray);
    });

    {% if is_active == 0 %}
        $('#groupaddModal').modal('hide');
        $('#group_{{ group.id }} .div_grouop_notactive #yes').click(function(){
            $.post('/db/groupmember/',{
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                'action':'yes',
                'gid':'{{ group.id }}'
            },function(res,status){
                socket.emit('setGroup',{'to':'group','id':'{{ group.id }}'});
                location.href="/stats/";
            });
        });

        $('#group_{{ group.id }} .div_grouop_notactive #no').click(function(){
            $.post('/db/groupmember/',{
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                'action':'no',
                'gid':'{{ group.id }}'
            },function(res,status){
                socket.emit('setGroup',{'to':'group','id':'{{ group.id }}'});
            });
        });
    {% endif %}

    {% if host %}
        $(document).click(function(evt) {
            if($(evt.target).parents('#group_{{ group.id }} .inputset').length==0&&mode!='') {
                $('#group_{{ group.id }} .inputset .form-control').val('');
                $('#group_{{ group.id }} .div_inputset_memlist').hide();
                $('#group_{{ group.id }} .btnset').show();
                $('#group_{{ group.id }} .inputset').hide();
                mode = '';
            }
            evt.stopPropagation();
        });

        $('#group_{{ group.id }} .inputset .form-control').keyup(function(){
            if($('#group_{{ group.id }} .inputset span img').attr('src')=='/static/img/stats_group_addmem.png')
                getGroupMemList('insert');
            else
                getGroupMemList('delete');
        });

        $('#group_{{ group.id }} .inputset .form-control').change(function(){
            if($('#group_{{ group.id }} .inputset span img').attr('src')=='/static/img/stats_group_addmem.png')
                getGroupMemList('insert');
            else
                getGroupMemList('delete');
        });

        $('#group_{{ group.id }} .inputset .form-control').focus(function(){
            if($('#group_{{ group.id }} .inputset span img').attr('src')=='/static/img/stats_group_addmem.png')
                getGroupMemList('insert');
            else
                getGroupMemList('delete');
        });

        $('#group_{{ group.id }} .btnset #insertMem').click(function(evt){
            $('#group_{{ group.id }} .inputset span img').attr('src','/static/img/stats_group_addmem.png');
            $('#group_{{ group.id }} .inputset .form-control').attr('value','');
            $('#group_{{ group.id }} .btnset').hide();
            $('#group_{{ group.id }} .inputset').show();
            mode = 'insert';
            evt.stopPropagation();
        });

        $('#group_{{ group.id }} .btnset #removeMem').click(function(evt){
            $('#group_{{ group.id }} .inputset span img').attr('src','/static/img/stats_group_removemem.png');
            $('#group_{{ group.id }} .inputset .form-control').attr('value','');
            $('#group_{{ group.id }} .btnset').hide();
            $('#group_{{ group.id }} .inputset').show();
            mode = 'delete';
            evt.stopPropagation();
        });

        $('#group_{{ group.id }} .div_group_notice .dropdown-menu #delete').click(function(){
            $.post('/db/group/',{
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                'action':'delete',
                'gid':'{{ group.id }}'
            },function(res,status){
                socket.emit('setGroup',{'to':'group','id':'{{ group.id }}'});
            });
        });

        function getGroupMemList(act){
            $('#group_{{ group.id }} .div_inputset_memlist').show();
            $('#group_{{ group.id }} .div_inputset_memlist').load('/grouplist/',{
                'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val(),
                'action':act,
                'gid':'{{ group.id }}',
                'text':$('#group_{{ group.id }} .inputset .form-control').val()
            });
        }
    {% endif %}
</script>
<!-- //Group -->