                {% load extras %}
                <div id="div_submem_innerlist">
                  {% for gm in groupmem %}
                    <div id='div_{{gm.uid.id}}' class="list" style="height:70px;">
                      <a onclick="click_name('{{gm.uid.username}}')"><img src='/static/img/icon/usericon_{{gm.uid.get_profile.user_icon}}.jpg'></a>
                      <p class='username'><a class="username" onclick="click_name('{{gm.uid.username}}')">{{gm.uid.username}}</a></p>
                      <p class='gameid'>소환사명 : {{gm.uid|get_gamelink}}</p>
                      {% if gm.order < 5 %}
                      <span class='badge pull-right order'>
                        {{gm.order|add:1}}
                      </span>
                      {% else %}
                      <span class='badge pull-right order order-pre'>
                        예비
                      </span>
                      {% endif %}
                      <i class="fa fa-sort"></i>
                    </div>
                  {% endfor %}
                </div>
                <script>
                function load()
                {
                  List = document.getElementById("div_submem_innerlist");

                  PlaceHolder = document.createElement("DIV");
                  PlaceHolder.className = "list";
                  PlaceHolder.style.backgroundColor = "rgb(225,225,225)";
                  PlaceHolder.SourceI = null;

                  {% for gm in groupmem %}
                  new dragObject("div_{{gm.uid.id}}", null, null, null, itemDragBegin, itemMoved, itemDragEnd, false);
                  {% endfor %}
                }

                load();
                </script>