          <div id='div_mem_{{ group_user.id }}' class='div_mem'>
            <input type='hidden' id='uid' value='{{ group_user.id }}'>
            <a onclick="click_name('{{ group_user.username }}')">
            {% if host %}
            <img id='usericon' class='{{ host }}' title='{{ group_user.username }}({{ host }})' src='{{ uinfo.get_icon }}'>
            {% else %}
            <img id='usericon' title='{{ group_user.username }}' src='{{ uinfo.get_icon }}'>
            {% endif %}
            </a>
            {% if group_active == 0 %}
            <div id='notactive'>초대 중</div>
            {% elif is_active and group_active %}
            <img id='conn' class='conn_{{ group_user.id }}' src='/static/img/stats_group_disconn.png'>
            {% endif %}
            <p class='p_mem_username'><a class="username" onclick="click_name('{{ group_user.username }}')">{{ group_user.username }}</a></p>
          </div>