{% for g in gamelist %}
        <div class="div_gettingstart_list" onclick="loadLogin({{ g.id }})">
            <img src="{{ g.src.url }}">
            <p class="p_list_gamename">{{ g.name }}</p>
            <p class="p_list_link">연결하기</p>
            <span class="icon_next">&gt;</span>
        </div>
{% endfor %}

<script>
    $(document).ready(function() {
        $('.div_gettingstart_list').on('click', function() {
            if($(this).css('background-color') == 'black') {
                $(this).css('background-color', 'white');
                $(this).css('color', 'black');
            } else {
                $(this).css('background-color', 'black');
                $(this).css('color', 'darkgray');
            }
        });
    });
</script>