{% load head_extras %}
<div class="searchbar-content">
  <div class="div_searchbar_top">게이머</div>
  {% if users %}
  {% for u in users|slice:":3" %}
  <ul class="div_searchbar_con user" id="{{u.uid.username}}">
    <li id="li_icon"><img src="{{ u.uid.get_profile.src.url }}"></li>
    <li id="li_name">{{u.uid.username}}</li>
    {% if u.gamelink.name %}<li id="li_game"><span id="span_aka">A.K.A</span>&nbsp;&nbsp;<i class="fa fa-lol-b"></i>{{u.gamelink.account_name}}</li>
    {% else %}<li id="li_game">연결된 게임계정이 없습니다.</li>{% endif %}
  </ul>
  {% endfor %}
  {% if users|length > 3 %}
  <div class="div_searchbar_more">{{ users|length|sub:3 }}개의 검색결과가 더 있습니다.</div>
  {% endif %}
  {% else %}
  <div class="div_searchbar_non">해당하는 검색결과가 없습니다.</div>
  {% endif %}

  <div class="div_searchbar_top">그룹</div>
  {% if groups %}
  {% for g in groups|slice:":3" %}
  <ul class="div_searchbar_con group" id="{{g.gid.id}}">
    <li id="li_icon"><img src="{{ g.gid.group_icon.url }}"></li>
    <li id="li_name">[{{g.gid.nick}}] {{g.gid.name}}</li>
    <li id="li_game"><span id="span_aka">팀장</span>&nbsp;&nbsp;<img src="{{ g.gid.leader.get_profile.src.url }}">{{g.gid.leader.username}}</li>
  </ul>
  {% endfor %}
  {% if groups|length > 3 %}
  <div class="div_searchbar_more">{{ groups|length|sub:3 }}개의 검색결과가 더 있습니다.</div>
  {% endif %}
  {% else %}
  <div class="div_searchbar_non">해당하는 검색결과가 없습니다.</div>
  {% endif %}
</div>
<script>
  $("#div_head_searchlist .div_searchbar_con.group").click(function(evt){
    goGroupPage($(this).attr('id'));
    return false;
  });

  $("#div_head_searchlist .div_searchbar_con.user").click(function(evt){
    location.href="/stats/"+$(this).attr('id');
    return false;
  });

  $(document).click(function(evt) {
    if($(evt.target).parents('#searchset').length==0) {
      $('#div_head_searchlist').hide();
      return false;
    }
  });
</script>