{% if user.username %}
{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>REDBOMBA</title>
    <link rel="stylesheet" type="text/css" href="http://api.typolink.co.kr/css?family=RixSGo+L:400|RixSGo+M:400|RixSGo+B:400|RixSGo+EB:400" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/focuspoint.css" rel="stylesheet" />
    <link href="/static/css/layout.css" rel="stylesheet" />
    <link href="/static/css/{{ appname }}.css" rel="stylesheet">
    <link href="/static/css/icon.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/img/main/favicon.ico" type="image/x-icon" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
<div id="wrap">
    <!-- Header -->
    <div id="header">
        {% if user.is_active == False %}
        <div id="is_not_active">메일인증을 받고 오시오. RIGHT NOW !!!</div>
        {% endif %}
        <div id="content">
            {% csrf_token %}
            <ul>
                <li id="li_head_logo"><img src="/static/img/main/main_head_logoS.png" alt="REDBOMBA" class="imgbtn" /></li>
                {% if user.id %}
                <li class="btn_top_menu" id="li_head_home"><img src="/static/img/main/main_head_menu_home.png" alt="HOME" class="imgbtn" title="HOME" /> 홈</li>
                <li class="btn_top_menu" id="li_head_arena"><img src="/static/img/main/main_head_menu2S.png" alt="ARENA" class="imgbtn" title="ARENA" /> 아레나</li>
                <li id="li_head_search">
                    <div class="input-group">
                        <input type="text" class="form-control btn-xs" id="input_search_bar" placeholder="찾으실 내용을 입력하세요." />
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-xs" id="input_search_btn" type="button"><i class="fa fa-search"></i></button>
                    </span>
                    </div>
                    <div id="div_head_searchlist"></div>
                </li>
                <li id="li_head_noti">
                    <div id="div_head_icon1" class="imgbtn div_head_icon" title="알림">
                        <a href="#" id="a_head_noti" data-toggle="popover" data-placement="bottom" role="button" data-html="true" data-content="<img src='/static/img/main/ajax-loader_s.gif'>">
                            <i class="fa fa-bell fa-2x"></i>
                        </a>
                        <span class="badge" id='noti_value'>{{ noti }}</span>
                    </div>
                    <div id="div_head_icon2" class="imgbtn div_head_icon" title="필드">
                        <a href="#" id="a_head_field" data-toggle="popover" data-placement="bottom" role="button" data-html="true" data-content="<img src='/static/img/main/ajax-loader_s.gif'>">
                            <i class="fa fa-globe fa-2x"></i>
                        </a>
                        <span class="badge" id='field_value'>{{ field }}</span>
                    </div>
                </li>
                <li id="li_head_more">
                    <div class="dropdown_head">
                        <i class="fa fa-caret-down" id="i_profile_btn" class="imgbtn dropdown-head-toggle" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu pull-center" role="menu" aria-labelledby="dLabel">
                            <li><a id="Logout"><i class="fa fa-sign-out"></i> 로그아웃</a></li>
                        </ul>
                    </div>
                </li>
                <li id="li_head_profile">
                    <img id="img_head_usericon" src="{{ user.get_profile.src }}" alt="{{ user.username }}" />
                    <p id="p_head_username">{{ user.username }}</p>
                </li>
                {% else %}
                <li id="li_head_signup">
                    <button class="btn btn-xs btn-default">가입하기</button>
                </li>
                <li id="li_head_signin">
                    <p id="p_head_username">이미 REDBOMBA에 가입하셨나요?&nbsp;&nbsp;<button class="btn btn-xs btn-default">로그인</button></p>
                </li>
                {% endif %}

            </ul>
        </div>
        {% for gm in groupmem %}
        <input type="hidden" id="groupmem_uid" value="{{gm.user.id}}">
        {% endfor %}
        <div id="div_noti_step1">
            <div id="div_noti_top">
                알림 <span class="badge" id='title_noti_value'>{{ noti }}</span>
            </div>
        </div>
    </div>
    <!-- //Header -->
    <!-- Container -->
    <div id="container">
        {% block content %}{% endblock %}
    </div>
    <!-- //Container -->
</div>
<!-- Load JS here for greater good =============================-->
<script src="http://redbomba.net:3000/socket.io/socket.io.js" type="text/javascript"></script>
<script src="/static/js/analyticstool.js" type="text/javascript"></script>
<script src="/static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap-select.js" type="text/javascript"></script>
<script src="/static/js/bootstrap-switch.js" type="text/javascript"></script>
<script src="/static/js/flatui-checkbox.js" type="text/javascript"></script>
<script src="/static/js/flatui-radio.js" type="text/javascript"></script>
<script src="/static/js/jquery.tagsinput.js" type="text/javascript"></script>
<script src="/static/js/jquery.placeholder.js" type="text/javascript"></script>
<script src="/static/js/placeholders.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.stacktable.js" type="text/javascript"></script>
<script src="/static/js/jquery.nested.js" type="text/javascript"></script>
<script src="/static/js/jquery.focuspoint.js" type="text/javascript"></script>
<script src="/static/js/application.js" type="text/javascript"></script>
<script src="/static/js/group_info_drop.js" type="text/javascript"></script>
<script src="/static/js/markdown.js" type="text/javascript"></script>
<script src="/static/js/layout.js" type="text/javascript"></script>
<script src="/static/js/main.js" type="text/javascript"></script>
<script type="text/javascript">
    var FHChat = {product_id: "9cf6240931e7"};
    FHChat.properties={};FHChat.set=function(key,data){this.properties[key]=data};!function(){var a,b;return b=document.createElement("script"),a=document.getElementsByTagName("script")[0],b.src="https://chat-client-js.firehoseapp.com/chat-min.js",b.async=!0,a.parentNode.insertBefore(b,a)}();
</script>
</body>
</html>
{% else %}
<p>Checking session...</p>
<script>
    if(location.href.indexOf("www.") != -1 ){
        location.href = location.href.replace("www.","");
    }else {
        location.href = "/home/";
    }
</script>
{% endif %}