<div id="div_done_line1">
    <p id="p_line1_title">축하합니다!</p>
</div>
<div id="div_done_line2">
    <p class="p_line2_info">게이머의 세상, REDBOMBA에 오신 것을 환영합니다.</p>
</div>
<div id="div_done_line3">
    <p class="p_line3_info">가입을 완료하시려면 이메일 인증을 받으세요.</p>
</div>
<div id="div_done_line4">
    <button type="button" class="btn btn-default" id="button_signup_close">Close</button>
    {% if site == 'naver.com' %}
        <button type="button" class="btn btn-success" onclick="location.href='http://{{site}}/';" id="button_signup_checkemail">네이버으로 이동</button>
    {% elif site == 'daum.net' or site == 'hanmail.net' %}
        <button type="button" class="btn btn-warning" onclick="location.href='http://{{site}}/';" id="button_signup_checkemail">다음으로 이동</button>
    {% elif site == 'nate.com' %}
        <button type="button" class="btn btn-danger" onclick="location.href='http://{{site}}/';" id="button_signup_checkemail">네이트로 이동</button>
    {% elif site == 'google.com' %}
        <button type="button" class="btn btn-warning" onclick="location.href='http://{{site}}/';" id="button_signup_checkemail">구글로 이동</button>
    {% else %}
        <button type="button" class="btn btn-warning" onclick="location.href='http://{{site}}/';" id="button_signup_checkemail">{{site}}으로 이동</button>
    {% endif %}
</div>
<script>
    $("#button_signup_close").click(function(){
        $('._aside').css({"right":"-800px"});
        $('._aside').hide();
        $('._aside_done').animate({"right":"-800px"}, 'slow', function(){
            $('._aside_done').hide();
            $('#backBG').hide();
        });
    });
</script>