{% extends "head.html" %}
{% load staticfiles %}
{% block content %}

    <!--div id="side-navbar">
        <div class="row card-headline">
            <h1 class="p-headline">내 그룹</h1>
        </div>
        {% if groups %}
            {% for group in groups %}
                <div class="row group-row" onclick="goGroupPage({{group.id}})">
                    <div class="div-group-icon img-box">
                        <img class="group-icon" src="{{ group.group_icon.url }}">
                    </div>
                    <div class="div-group-name">
                        <p class="p-group-name">{{ group.name }}</p>
                    </div>
                    <div class="div-group-people">
                        <p class="p-group-people">
                            <i class="fa fa-user"></i><span>{{group.get_members|length}}</span>/{{group.get_members|length}}
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row division-line"></div>
        <div class="row card-headline">
            <h1 class="p-headline">내 매치박스</h1>
        </div>
        <div class="row division-line"></div>
        <div class="row card-headline">
            <h1 class="p-headline">활동스트림</h1>
        </div>
        <div class="row stream-row">

        </div>
    </div-->


    <div class="container" style="max-width: 1360px;">
        <div style="height: 72px;"></div>
        <div id="content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3" id="hidden-row">
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" id="col-1">
                <div class="row">
                    <div id="input-box" class="card">
                        <textarea id="input-textarea" class="form-control" rows="3" style="resize:none;" placeholder="오늘 당신의 플레이는 어땠나요?"></textarea><br>

                        <input class="hidden" id="hidden-file-input" type="file" name="files[]" data-url="/main/add_post_image/" multiple/>

                        <div class="row hidden dropzone" id="dropzone">
                            <p style="margin-top: 35px; font-size: 20px; font-weight: bold; color: gray;">여기를 클릭하거나 이미지를 끌어다 놓으세요.</p>
                        </div>

                        <div class="row" id="video-view">

                        </div>
                        <div class="row">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="스크린샷을 추가해보세요!">
                            <i class="fa fa-camera fa-2x fa-add" data-toggle="modal" data-target="#PictureModal"></i></a>
                            <div class="input-group" style="width: 70%; float: right;">
                                <input id="game-input" type="text" class="form-control" placeholder="게임을 선택하세요." disabled>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a class="game-list">#leagueoflegends</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button id="post-cancel-btn" class="btn btn-default pull-right" style="margin-left:5px; margin-top: 10px;">취소</button>
                            <button id="post-btn" class="btn btn-success pull-right" style="margin-top: 10px;">게시</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12" id="col-2">
                <div class="row">

                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12" id="col-3">
                <div class="row">

                </div>
            </div>
        </div>

    </div>


{% endblock %}
{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="GlobalFeedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}