{% extends "head.html" %}
{% load staticfiles %}
{% block content %}
    <div id="content">
        <div class="alert alert-info fade in" id="top_information">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            레드밤바의 정체를 알아볼 시간! 단 1분이면 충분합니다. <button onclick="$('#top_information').alert('close')" class="btn btn-primary btn-sm">1분짜리 동영상 보기</button>
        </div>

        <!-- Display -->
        <div id="display" class="div_feed">
            <div id="display_con">
                &nbsp;
            </div>
        </div>
        <!-- //Display -->
        {% if link %}
            <p class="title">이 대회에 관심이 있으신가요?<p>
            <!-- Link League -->
            <div id="link_league" class="div_feed">
                <div id="link_league_img">
                    <img src="{{ link.img }}">
                </div>
                <div id="link_league_con">
                    <p id="link_league_title">{{ link.title }}</p>
                    <p id="link_league_inf">{{ link.inf }}</p>
                    <button class="btn btn-warning" id="btnDetail">자세히 보기</button>
                </div>
            </div>
            <!-- //Link League -->
        {% endif %}
        <!-- Global Feed -->
        <p class="title"><i class="fa fa-newspaper-o"></i> 글로벌 아티클<p>
        <div id="feed_pub">&nbsp;</div>
        <!-- //Global Feed -->
    </div>
    <div id="aside">
        <!-- Profile -->
        <div id="profile" class="div_feed">
            <div id="profile_top">
                <img id="img_usericon" src="{{ user.get_profile.src.url }}">
                <p id="p_username">{{ user.username }}</p>
                <p id="p_groupname">{{ user.email }}</p>
            </div>
            <p class="profile_subtitle">연결된 게임 계정</p>
            <div id="profile_bottom">
                {% if gamelink %}
                    {% for gl in gamelink %}
                        <div class="div_link_game game_{{gl.game.id}}" onclick="loadGameLinkAccount({{ gl.account_id }});">
                            <div class="div_gamelink_bg" style="background-image:url({{gl.game.src.url}})"></div>
                            <img src="{{gl.game.src.url}}" class="img_gamelink_icon">
                            <p class="p_gamelink_name">{{ gl.account_name }}</p>
                        </div>
                    {% endfor %}
                    <div class="div_link_btn_s">
                        <b>게임계정</b>이 더 있으신가요? <button class="btn btn-danger btn-sm" id="btnGamelink_s"><i class="fa fa-link"></i> 게임 연결하기</button>
                    </div>
                {% else %}
                    <div class="div_link_btn">
                        <b>게임계정을 연결해보세요!</b><br/>REDBOMBA에서는 당신의 게임계정이 중심입니다.
                        <button class="btn btn-danger" id="btnGamelink" style="margin-top: 4px;"><i class="fa fa-link"></i> 게임 연결하기</button>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- //Profile -->
        <!-- Private Feed -->
        <p class="title"><i class="fa fa-tachometer"></i> 활동 스트림<p>
        <div id="feed_private">&nbsp;</div>
        <!-- //Private Feed -->
    </div>
{% endblock %}
{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="GlobalFeedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}