{% for new in news %}
    <div class="div_feed box div_globalfeed" id="news_{{ new.id }}">
    <input type="hidden" id="fid" value="{{ new.id }}">
        <div class="div_box_img focuspoint" data-focus-x="{{ new.img.focusx }}" data-focus-y="{{ new.img.focusy }}">
            <img src="{{ new.img.src }}">
        </div>
        <div class="div_box_user">
            <img src="{{ new.user.get_profile.src }}">{{ new.user.username }}
        </div>
        <div class="div_box_con">
            <p class="p_con_title">{{ new.title }}</p>
            {% if new.txt %}
            <p class="p_con_txt">{{ new.txt }}</p>
            {% endif %}
            <div class="div_gra"></div>
        </div>
    </div>
{% endfor %}

<script>
    var box_size = $("#feed_pub .box").size();
    var arr = setSize(box_size);
    for(i=0;i<box_size;i++){
        $("#feed_pub .box:nth-child("+(i+1)+")").addClass(arr[i]);
        $("#feed_pub .box:nth-child("+(i+1)+")").css({"background-color":"#7f8c8d"});
    }

    $(".div_globalfeed").click(function(){
        $("#GlobalFeedModal").modal("show");
        $("#GlobalFeedModal .modal-content").load("/feed/news/"+$(this).children("#fid").val(),{'csrfmiddlewaretoken':$('#header input[name=csrfmiddlewaretoken]').val()});
    });

    $('#feed_pub').nested({
        minWidth:68,
        gutter:10,
        resizeToFit: false
    });
    $("#feed_pub").hide().delay( 800 ).fadeIn();

    setTimeout(function(){
        $('.div_box_img img').fadeIn();
        $('.focuspoint').adjustFocus();
    }, 1500);
    {% for new in news %}
        {% if new.txt %}
            $("#news_{{ new.id }} .p_con_txt").html(markdown.toHTML($("#news_{{ new.id }} .p_con_txt").text()));
        {% endif %}
    {% endfor %}

</script>