<p class="display_title">
    <span class="display_title_live">LIVE</span>
    <span class="display_title_name">{{ league.team_a.round.league_id.name }}</span>
</p>
<div class="display_body">
    <div class="display_body_left">
        <img class="groupicon" src="/media/group_icon/{{ league.team_a.group_id.group_icon }}">
        <span class="display_left_name">{{ league.team_a.group_id.name }}</span>
    </div>
    <div class="display_body_right">
        <span class="display_right_name">{{ league.team_b.group_id.name }}</span>
        <img class="groupicon" src="/media/group_icon/{{ league.team_b.group_id.group_icon }}">
    </div>
    <div class="display_body_center">
        b
    </div>
</div>