            <div id="reply_pri_{{ rid }}" class="div_reply reply_pri">
              <input type="hidden" id="fid" value="{{ fid }}">
              <div class="div_replypri_icon imgbtn"><a class="username" onclick="click_name('{{ ufrom }}')"><img src="/static/img/icon/usericon_{{ ufromicon }}.jpg"></a></div>
              <h1><a class="username" onclick="click_name('{{ ufrom }}')">{{ ufrom }}</a></h1><p class="div_replypri_date">{{ date_updated }}</p>
              <h2>{{ con_txt|linebreaks }}</h2>
            </div>